<script src="/arquivos/js_vendor_owl.carousel.min{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_vendor_waitUntilExists{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_utils_cookieManager{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_header{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_footer{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_masterdata_patch{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_newsletter{{developFileSuffix}}.js"></script>
<script src="https://cdn.embluemail.com/pixeltracking/pixeltracking.js?code=920f7c99e33c4eefbadf582e592cc222"></script>
