<footer class="footer">
    <section class="brands-slider">
        <h2>Nuestras Marcas</h2>
        <div class="container">
            <vtex:SliderBrandActivision />
            <vtex:SliderBrandAkracing />
            <vtex:SliderBrandAlienware />
            <vtex:SliderBrandAmd />
            <vtex:SliderBrandAorus />
            <vtex:SliderBrandAsus />
            <vtex:SliderBrandBandaiNamco />
            <vtex:SliderBrandBangho />
            <vtex:SliderBrandBelkin />
            <vtex:SliderBrandBlizzard />
            <vtex:SliderBrandCorsair />
            <vtex:SliderBrandDell />
            <vtex:SliderBrandEa />
            <vtex:SliderBrandEaSports />
            <vtex:SliderBrandEidos />
            <vtex:SliderBrandFastandsfurious />
            <vtex:SliderBrandFunkoPop />
            <vtex:SliderBrandGigabyte />
            <vtex:SliderBrandHyperx />
            <vtex:SliderBrandIntel />
            <vtex:SliderBrandKingston />
            <vtex:SliderBrandKonami />
            <vtex:SliderBrandLego />
            <vtex:SliderBrandLg />
            <vtex:SliderBrandLinksys />
            <vtex:SliderBrandMicrosoft />
            <vtex:SliderBrandMsi />
            <vtex:SliderBrandMywigo />
            <vtex:SliderBrandNintendo />
            <vtex:SliderBrandNintendoSwitch />
            <vtex:SliderBrandNvidia />
            <vtex:SliderBrandPlaystation />
            <vtex:SliderBrandPsTres />
            <vtex:SliderBrandPsCuatro />
            <vtex:SliderBrandRazer />
            <vtex:SliderBrandRepublicOfGamers />
            <vtex:SliderBrandSeagate />
            <vtex:SliderBrandSony />
            <vtex:SliderBrandSquareEnix />
            <vtex:SliderBrandStarwars />
            <vtex:SliderBrandSteelSeries />
            <vtex:SliderBrandTakeTwointeractive />
            <vtex:SliderBrandThermaltake />
            <vtex:SliderBrandToystory />
            <vtex:SliderBrandTrv />
            <vtex:SliderBrandTt />
            <vtex:SliderBrandTtesports />
            <vtex:SliderBrandTurtleBeach />
            <vtex:SliderBrandUbisoft />
            <vtex:SliderBrandViewsonic />
            <vtex:SliderBrandWarner />
            <vtex:SliderBrandWesternDigital />
            <vtex:SliderBrandXbox />
            <vtex:SliderBrandXboxTresSesenta />
            <vtex:SliderBrandXboxOne />
            <vtex:SliderBrandXfx />
        </div>
    </section>
    <div class="extra-footer-top">
        <div class="wrapper">
            <div class="feature shipping">
                <a href="/formas-y-costos-de-envio/">
                    <img src="/arquivos/assets_footer_truck.png"/>
                    <h5>Envíos <br/>a todo el país</h5>
                </a>
            </div>
            <div class="feature payment">
                <a href="/metodos-de-pago">
                    <img src="/arquivos/assets_footer_cards.png"/>
                    <h5>Medios <br/>de Pago</h5>
                </a>
            </div>
            <div class="feature returns">
                <a href="/cambios-y-devolucion/">
                    <img src="/arquivos/assets_footer_padlock-white.png"/>
                    <h5>Pago 100% <br/>Seguro</h5>
                </a>
            </div>
            <div class="feature secure">
                <a href="/contacto/">
                    <img src="/arquivos/assets_footer_cycling-arrows.png"/>
                    <h5>Cambios y <br/>Devoluciones</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">

            <div class="row-menus row">
                <div class="col-menu-footer">
                    <h5>Acerca de Nosotros<span class="arrow-down"></span></h5>
                    <ul>
                        <li><a href="/quienes-somos">Quiénes Somos</a></li>
                        <li><a href="/terminos-y-condiciones">Términos y Condiciones</a></li>
                    </ul>
                </div>
                <div class="col-menu-footer">
                    <h5>Soporte Técnico<span class="arrow-down"></span></h5>
                    <ul>
                        <li><a href="/contacto/">Contactanos</a></li>
                    </ul>
                </div>
                <div class="col-menu-footer">
                    <h5>Tienda Online<span class="arrow-down"></span></h5>
                    <ul>
                        <li><a href="/metodos-de-pago">Formas de Pago</a></li>
                        <li><a href="/atencion-comercial/">Atención Comercial</a></li>
                        <li><a href="/mi-cuenta/pedidos/">Mis Pedidos</a></li>
                        <li><a href="/cambios-y-devolucion/">Políticas de cambios y devolución</a></li>
                        <li><a href="/formas-y-costos-de-envio/">Costos y formas de envíos</a></li>
                    </ul>
                </div>

            </div>

            <div class="row-media">
                <div class="col-newsletter">
                    <h5>Newsletter</h5>
                    <p class="newsletter-prompt">Suscribite para recibir información sobre las mejores ofertas y novedades.</p>
                    <form>
                        <input type="email" size="40" class="newsletter-email" placeholder="Ingresá tu mail"/>
                        <input type="submit" class="newsletter-submit" value="ENVIAR"/>
                    </form>
                </div>

                <div class="col-social">
                    <div class="follow">
                        <h5>Redes Sociales</h5>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/tiendasdigitalesok/" target="_blank" id="facebook"></a></li>
                            <li><a href="https://twitter.com/tiendasdigitalesok" target="_blank" id="twitter"></a></li>
                            <li><a href="https://www.instagram.com/tiendasdigitalesok/" target="_blank" id="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="mgmt">
                        <h5><img src="/arquivos/assets_footer_padlock.png"/>Sitio 100% Seguro</h5>
                        <ul class="devs">
                            <li><a href="http://qr.afip.gob.ar/?qr=xb-EiZRz6Owf6PpDHeQ7KQ,," target="_F960AFIPInfo" id="afip">AFIP - Data Fiscal</a></li>
                            <li><a href="http://www.vtex.com/" target="_blank" id="vtex">VTEX</a></li>
                            <li><a href="http://www.summasolutions.net/" target="_blank" id="summa">Summa Solutions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyRight">
    <div class="wrapper">
        <div class="fiscales">
            <h4>TIENDAS DIGITALES SRL</h4>
            <h4>Av. Brasil 3060, CP 1260,<br /> Ciudad Autónoma de Buenos Aires.</h4>
            <h4>CUIT: 30-71067626-3</h4>
        </div>
        <p>
            <vtex.cmc:copyright />
        </p>
    </div>
</div>
<a href="#" id="back-to-top"><div class="icon"></div></a>