<vtex.cmc:preHeader />
<header>
    <div class="top-header">
        <p><a href="/mi-cuenta/pedidos/"><span class="top-icon orders"></span>Mis pedidos</a></p>
        <p><a href="/contacto"><span class="top-icon phone"></span>Atención al cliente</a></p>
    </div>

    <div class="header">
        <div class="top-container">
            <div class="logo">
                <div class="burger"></div>
                <a href="/"></a>
            </div>
            <div class="search">
                <div class="mobile-icon"></div>
                <vtex.cmc:fullTextSearchBox />
            </div>
            <div class="cart">
                <button class="btnCart">
                    <vtex.cmc:AmountItemsInCart />
                    <div class="title"><p>Carrito</p></div>
                </button>
                <div class="mini-cart-container">
                    <vtex.cmc:miniCart/>
                </div>
            </div>
        </div>

        <div class="nav">
            <div class="nav-container">
                <nav>
                    <ul class="menu">
                        <li>
                            <div class="item-menu">
                                <a href="/pc?O=OrderByReleaseDateDESC">PC</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav PC">
                                        <div class="menu-seccion">
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/pc/hardware?O=OrderByReleaseDateDESC">Hardware</a> <a href="/pc/hardware?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/pc/hardware/almacenamiento?O=OrderByReleaseDateDESC">Almacenamiento</a></li>
                                                    <li><a href="/pc/hardware/fuente-de-alimentacion?O=OrderByReleaseDateDESC">Fuentes de Alimentación</a></li>
                                                    <li><a href="/pc/hardware/gabinetes?O=OrderByReleaseDateDESC">Gabinetes</a></li>
                                                    <li><a href="/pc/hardware/memoria-ram?O=OrderByReleaseDateDESC">Memoria RAM</a></li>
                                                    <li><a href="/pc/hardware/modding?O=OrderByReleaseDateDESC">Modding</a></li>
                                                    <li><a href="/pc/hardware/motherboards?O=OrderByReleaseDateDESC">Motherboards</a></li>
                                                    <li><a href="/pc/hardware/placas-de-video?O=OrderByReleaseDateDESC">Placas de Video</a></li>
                                                    <li><a href="/pc/hardware/otras-placas?O=OrderByReleaseDateDESC">Otras Placas</a></li>
                                                    <li><a href="/pc/hardware/procesadores?O=OrderByReleaseDateDESC">Procesadores</a></li>
                                                    <li><a href="/pc/hardware/refrigeracion?O=OrderByReleaseDateDESC">Refrigeración</a></li>
                                                    <li><a href="/pc/hardware/combo-de-actualizacion?O=OrderByReleaseDateDESC">Combos de Actualización</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/pc/perifericos?O=OrderByReleaseDateDESC">Periféricos</a> <a href="/pc/perifericos?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/pc/perifericos/auriculares/?O=OrderByReleaseDateDESC">Auriculares</a></li>
                                                    <li><a href="/pc/perifericos/dispositivos-usb/?O=OrderByReleaseDateDESC">Dispositivos USB</a></li>
                                                    <li><a href="/pc/perifericos/mouse/?O=OrderByReleaseDateDESC">Mouse</a></li>
                                                    <li><a href="/pc/perifericos/mouse-pad?O=OrderByReleaseDateDESC">Mouse Pad</a></li>
                                                    <li><a href="/pc/perifericos/teclado/?O=OrderByReleaseDateDESC">Teclado</a></li>
                                                    <li><a href="/pc/perifericos/volante/?O=OrderByReleaseDateDESC">Volantes</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="parent"><a href="/pc/monitores?O=OrderByReleaseDateDESC">Monitores</a> <a href="/pc/monitores?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/pc/monitores/pantalla-ips?O=OrderByReleaseDateDESC">Pantalla IPS</a></li>
                                                    <li><a href="/pc/monitores/pantalla-tn?O=OrderByReleaseDateDESC">Pantalla TN</a></li>
                                                    <li><a href="/pc/monitores/pantalla-va?O=OrderByReleaseDateDESC">Pantalla VA</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/pc/notebooks?O=OrderByReleaseDateDESC">Notebooks</a> <a href="/pc/notebooks?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/pc/notebooks/alienware?O=OrderByReleaseDateDESC">Alienware</a></li>
                                                    <li><a href="/pc/notebooks/asus-rog?O=OrderByReleaseDateDESC">ASUS Rog</a></li>
                                                    <li><a href="/pc/notebooks/bangho?O=OrderByReleaseDateDESC">Banghó</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="parent"><a href="/pc/pc-armadas?O=OrderByReleaseDateDESC">PC Armadas</a> <a href="/pc/pc-armadas?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sale"><a href="/pc/?O=OrderByBestDiscountDESC">Ofertas</a></li>
                                                    <li class="more-sold"><a href="/pc/?O=OrderByTopSaleDESC">Los más Vendidos</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoPC />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-menu">
                                <a href="/ps4?O=OrderByReleaseDateDESC">PS4</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav PS4">
                                        <div class="menu-seccion">
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/ps4/accesorios?O=OrderByReleaseDateDESC">Accesorios</a> <a href="/ps4/accesorios?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/ps4/accesorios/auriculares?O=OrderByReleaseDateDESC">Auriculares</a></li>
                                                    <li><a href="/ps4/accesorios/joystick?O=OrderByReleaseDateDESC">Joystick</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/ps4/juegos?O=OrderByReleaseDateDESC">Juegos</a> <a href="/ps4/juegos?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/ps4/juegos/accion?O=OrderByReleaseDateDESC">Acción</a></li>
                                                    <li><a href="/ps4/juegos/aventuras?O=OrderByReleaseDateDESC">Aventuras</a></li>
                                                    <li><a href="/ps4/juegos/carreras?O=OrderByReleaseDateDESC">Carreras</a></li>
                                                    <li><a href="/ps4/juegos/deportes?O=OrderByReleaseDateDESC">Deportes</a></li>
                                                    <li><a href="/ps4/juegos/estrategia?O=OrderByReleaseDateDESC">Estrategia</a></li>
                                                    <li><a href="/ps4/juegos/rol?O=OrderByReleaseDateDESC">Rol</a></li>
                                                </ul>
                                            </div>

                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/ps4/consola?O=OrderByReleaseDateDESC">Consola</a> <a href="/ps4/consola?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/ps4/consola/bundle?O=OrderByReleaseDateDESC">Bundle</a></li>
                                                    <li><a href="/ps4/consola/single?O=OrderByReleaseDateDESC">Single</a></li>
                                                </ul>
                                            </div>

                                            <div class="col">
                                                <ul>
                                                    <li class="sale"><a href="/ps4/?O=OrderByBestDiscountDESC">Ofertas</a></li>
                                                    <li class="more-sold"><a href="/ps4/?O=OrderByTopSaleDESC">Los más Vendidos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoPSCuatro />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-menu">
                                <a href="/ps3?O=OrderByReleaseDateDESC">PS3</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav PS3">
                                        <div class="menu-seccion">
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/ps3/accesorios?O=OrderByReleaseDateDESC">Accesorios</a> <a href="/ps3/accesorios?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/ps3/accesorios/auriculares?O=OrderByReleaseDateDESC">Auriculares</a></li>
                                                    <li><a href="/ps3/accesorios/joystick?O=OrderByReleaseDateDESC">Joystick</a></li>
                                                    <li><a href="/ps3/accesorios/move?O=OrderByReleaseDateDESC">Move</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/ps3/juegos?O=OrderByReleaseDateDESC">Juegos</a> <a href="/ps3/juegos?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/ps3/juegos/accion?O=OrderByReleaseDateDESC">Acción</a></li>
                                                    <li><a href="/ps3/juegos/aventuras?O=OrderByReleaseDateDESC">Aventuras</a></li>
                                                    <li><a href="/ps3/juegos/carreras?O=OrderByReleaseDateDESC">Carreras</a></li>
                                                    <li><a href="/ps3/juegos/deportes?O=OrderByReleaseDateDESC">Deportes</a></li>
                                                    <li><a href="/ps3/juegos/estrategia?O=OrderByReleaseDateDESC">Estrategia</a></li>
                                                    <li><a href="/ps3/juegos/rol?O=OrderByReleaseDateDESC">Rol</a></li>
                                                </ul>
                                            </div>

                                            <!--<div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/ps3/consola?O=OrderByReleaseDateDESC">Consola</a> <a href="/ps3/consola?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/ps3/consola/bundle?O=OrderByReleaseDateDESC">Bundle</a></li>
                                                </ul>
                                            </div>-->
                                            <div class="col">
                                                <ul>
                                                    <li class="sale"><a href="/ps3/?O=OrderByBestDiscountDESC">Ofertas</a></li>
                                                    <li class="more-sold"><a href="/ps3/?O=OrderByTopSaleDESC">Los más Vendidos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoPSTres />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-menu">
                                <a href="/nintendo?O=OrderByReleaseDateDESC">Nintendo</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav Nintendo">
                                        <div class="menu-seccion">
                                            <!--<div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/nintendo/accesorios?O=OrderByReleaseDateDESC">Accesorios</a> <a href="/nintendo/accesorios?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/nintendo/accesorios/cargadores?O=OrderByReleaseDateDESC">Cargadores</a></li>
                                                    <li><a href="/nintendo/accesorios/gamepad?O=OrderByReleaseDateDESC">Gamepad</a></li>
                                                    <li><a href="/nintendo/accesorios/joystick?O=OrderByReleaseDateDESC">Joystick</a></li>
                                                    <li><a href="/nintendo/accesorios/pistolas?O=OrderByReleaseDateDESC">Pistolas</a></li>
                                                    <li><a href="/nintendo/accesorios/volantes?O=OrderByReleaseDateDESC">Volantes</a></li>
                                                    <li><a href="/nintendo/accesorios/wii-fit?O=OrderByReleaseDateDESC">Wii Fit</a></li>
                                                </ul>
                                            </div>-->
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/nintendo/consolas?O=OrderByReleaseDateDESC">Consolas</a> <a href="/nintendo/consolas?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/nintendo/consolas/nintendo-2ds?O=OrderByReleaseDateDESC">Nintendo 2DS</a></li>
                                                    <li><a href="/nintendo/consolas/nintendo-2ds-xl?O=OrderByReleaseDateDESC">Nintendo 2DS XL</a></li>
                                                    <li><a href="/nintendo/consolas/nintendo-super-nes?O=OrderByReleaseDateDESC">Nintendo Super Nes</a></li>
                                                </ul>
                                            </div>

                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/nintendo/juegos?O=OrderByReleaseDateDESC">Juegos</a> <a href="/nintendo/juegos?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/nintendo/juegos/accion?O=OrderByReleaseDateDESC">Acción</a></li>
                                                    <li><a href="/nintendo/juegos/aventuras?O=OrderByReleaseDateDESC">Aventuras</a></li>
                                                    <li><a href="/nintendo/juegos/carreras?O=OrderByReleaseDateDESC">Carreras</a></li>
                                                    <li><a href="/nintendo/juegos/deportes?O=OrderByReleaseDateDESC">Deportes</a></li>
                                                    <li><a href="/nintendo/juegos/estrategia?O=OrderByReleaseDateDESC">Estrategia</a></li>
                                                    <li><a href="/nintendo/juegos/lucha?O=OrderByReleaseDateDESC">Lucha</a></li>
                                                    <li><a href="/nintendo/juegos/multijugador?O=OrderByReleaseDateDESC">Multijugador</a></li>
                                                    <li><a href="/nintendo/juegos/plataformas?O=OrderByReleaseDateDESC">Plataformas</a></li>
                                                    <li><a href="/nintendo/juegos/rol?O=OrderByReleaseDateDESC">Rol</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoNINTENDO />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-menu">
                                <a href="/xbox-one?O=OrderByReleaseDateDESC">XBOX ONE</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav XBOX-ONE">
                                        <div class="menu-seccion">
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/xbox-one/accesorios?O=OrderByReleaseDateDESC">Accesorios</a> <a href="/xbox-one/accesorios?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/xbox-one/accesorios/joystick?O=OrderByReleaseDateDESC">Joystick</a></li>
                                                    <li><a href="/xbox-one/accesorios/Kinect?O=OrderByReleaseDateDESC">Kinect</a></li>
                                                    <li><a href="/xbox-one/accesorios/kit-de-baterria?O=OrderByReleaseDateDESC">Kit de Batería</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/xbox-one/juegos?O=OrderByReleaseDateDESC">Juegos</a> <a href="/xbox-one/juegos?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/xbox-one/juegos/accion?O=OrderByReleaseDateDESC">Acción</a></li>
                                                    <li><a href="/xbox-one/juegos/aventuras?O=OrderByReleaseDateDESC">Aventuras</a></li>
                                                    <li><a href="/xbox-one/juegos/carreras?O=OrderByReleaseDateDESC">Carreras</a></li>
                                                    <li><a href="/xbox-one/juegos/deportes?O=OrderByReleaseDateDESC">Deportes</a></li>
                                                    <li><a href="/xbox-one/juegos/estrategia?O=OrderByReleaseDateDESC">Estrategia</a></li>
                                                    <li><a href="/xbox-one/juegos/multijugador?O=OrderByReleaseDateDESC">Multijugador</a></li>
                                                    <li><a href="/xbox-one/juegos/rol?O=OrderByReleaseDateDESC">Rol</a></li>
                                                </ul>
                                            </div>

                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/xbox-one/consola?O=OrderByReleaseDateDESC">Consola</a> <a href="/xbox-one/consola?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/xbox-one/consola/bundle?O=OrderByReleaseDateDESC">Bundle</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sale"><a href="/xbox-one/?O=OrderByBestDiscountDESC">Ofertas</a></li>
                                                    <li class="more-sold"><a href="/xbox-one/?O=OrderByTopSaleDESC">Los más Vendidos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoXBOXONE />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-menu">
                                <a href="/switch?O=OrderByReleaseDateDESC">SWITCH</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav SWITCH">
                                        <div class="menu-seccion">
                                            <!--<div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/switch/accesorios?O=OrderByReleaseDateDESC">Accesorios</a> <a href="/switch/accesorios?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/switch/accesorios/cargadores?O=OrderByReleaseDateDESC">Cargadores</a></li>
                                                    <li><a href="/switch/accesorios/Joystick?O=OrderByReleaseDateDESC">Joystick</a></li>
                                                    <li><a href="/switch/accesorios/gamepad?O=OrderByReleaseDateDESC">Gamepad</a></li>
                                                </ul>
                                            </div>-->
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/switch/juegos?O=OrderByReleaseDateDESC">Juegos</a> <a href="/switch/juegos?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/switch/juegos/accion?O=OrderByReleaseDateDESC">Acción</a></li>
                                                    <li><a href="/switch/juegos/aventuras?O=OrderByReleaseDateDESC">Aventuras</a></li>
                                                    <li><a href="/switch/juegos/carreras?O=OrderByReleaseDateDESC">Carreras</a></li>
                                                    <li><a href="/switch/juegos/casual?O=OrderByReleaseDateDESC">Casual</a></li>
                                                </ul>
                                            </div>

                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/switch/consola?O=OrderByReleaseDateDESC">Consola</a> <a href="/switch/consola?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/switch/consola/bundle?O=OrderByReleaseDateDESC">Bundle</a></li>
                                                    <li><a href="/switch/consola/single?O=OrderByReleaseDateDESC">Single</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sale"><a href="/switch/?O=OrderByBestDiscountDESC">Ofertas</a></li>
                                                    <li class="more-sold"><a href="/switch/?O=OrderByTopSaleDESC">Los más Vendidos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoSwitch />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="item-menu">
                                <a href="/tecno?O=OrderByReleaseDateDESC">TECNO</a>
                                <div class="sub-nav-container">
                                    <div class="sub-nav SWITCH">
                                        <div class="menu-seccion">
                                         <!--   <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/tecno/audio?O=OrderByReleaseDateDESC">Audio</a> <a href="/tecno/audio?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/tecno/audio/auriculares-inalambricos?O=OrderByReleaseDateDESC">Auriculares Inalámbricos</a></li>
                                                    <li><a href="/tecno/audio/parlantes-portatiles?O=OrderByReleaseDateDESC">Parlantes Portátiles</a></li>
                                                    <li><a href="/tecno/audio/reproductores-de-mp3-y-mp4?O=OrderByReleaseDateDESC">Reproductores MP3/Mp4</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="parent"><a href="/tecno/sillas-gamer?O=OrderByReleaseDateDESC">Sillas Gamer</a> <a href="/tecno/sillas-gamer?O=OrderByReleaseDateDESC?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/tecno/conectividad?O=OrderByReleaseDateDESC">Conectividad</a> <a href="/tecno/conectividad?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/tecno/conectividad/routers?O=OrderByReleaseDateDESC">Routers</a></li>
                                                    <li><a href="/tecno/conectividad/access-point?O=OrderByReleaseDateDESC">Access Point</a></li>
                                                    <li><a href="/tecno/conectividad/switches?O=OrderByReleaseDateDESC">Switches</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="parent"><a href="/tecno/ups-y-estabilizadores?O=OrderByReleaseDateDESC">UPS y Estabilizadores</a> <a href="/tecno/ups-y-estabilizadores?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                </ul>
                                            </div> -->

                                            <div class="col">
                                                <ul>
                                                    <li class="parent"><a href="/tecno/Gadgets?O=OrderByReleaseDateDESC">Gadgets</a> <a href="/tecno/Gadgets?O=OrderByReleaseDateDESC" class="see-all">Ver todos</a></li>
                                                    <li><a href="/tecno/gadgets/smartwatch?O=OrderByReleaseDateDESC">Smartwatch</a></li>
                                                    <li><a href="/tecno/gadgets/powerbank-y-cargadores?O=OrderByReleaseDateDESC">Cargadores y Powerbank</a></li>
                                                    <li><a href="/tecno/gadgets/llaveros?O=OrderByReleaseDateDESC">Llaveros</a></li>
                                                    <li><a href="/tecno/gadgets/gadget-usb?O=OrderByReleaseDateDESC">Gadgets USB</a></li>
                                                </ul>
                                            </div>

                                            <div class="col">
                                                <ul>
                                                    <li class="sale"><a href="/tecno/?O=OrderByBestDiscountDESC">Ofertas</a></li>
                                                    <li class="more-sold"><a href="/tecno/?O=OrderByTopSaleDESC">Los más Vendidos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-seccion">
                                            <vtex:ProductoDestacadoTecno />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="no-desplegable">
                            <div class="item-menu">
                                <a href="/coleccionables?O=OrderByReleaseDateDESC">COLECCIONABLES</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="right">
                        <li><a href="/busca/?fq=H:137&amp;O=OrderByBestDiscountDESC"><span class="launch"></span>Novedades</a></li>
                        <li><a href="/busca/?fq=H:138&amp;O=OrderByBestDiscountDESC"><span class="sale"></span>Ofertas</a></li>
                        <li><a href="http://blog.tiendasdigitales.com.ar/" target="_blank"><span class="blog"></span></a></li>
                    </ul>

                    <ul class="account-mobile">
                        <li><a href="/mi-cuenta/pedidos/"><span class="top-icon orders"></span>Mis pedidos</a></li>
                        <li><a href="#"><span class="top-icon phone"></span>Atención al cliente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>