<div class="modal-payment">
    <span class="closing-cross"></span>
    <h4><img src="/arquivos/assets_product_card.png" />Formas de Pago</h4>
    <div class="modal-big-row">
        <div class="modal-little-row mercadopago active">
            <h5><span></span></h5>
        </div>
        <div class="modal-little-row banktransference">
            <h5><span></span>Transferencia Bancaria</h5>
        </div>
        <div class="modal-little-row cash">
            <h5><span></span>Efectivo en puntos de pago</h5>
        </div>
    </div>
    <div class="modal-dropdowns">
        <div class="mercadopago active">
            <div class="banner">
                <vtex.cmc:bannerMercadoPago />
            </div>
            <div class="installments-form">
                <fieldset clas="unenable">
                    <label>Tarjetas de crédito</label>
                    <select class="card mercadopago">
                        <option value="default">-</option>
                    </select>
                </fieldset>
                <fieldset class="unenable">
                    <label>Banco</label>
                    <select class="bank mercadopago">
                        <option value="default">-</option>
                    </select>
                </fieldset>
                <fieldset class="unenable">
                    <label>Cuotas</label>
                    <select class="installments mercadopago">
                        <option value="default">-</option>
                    </select>
                </fieldset>
                <div class="values">
                    <div class="financial">
                    </div>
                    <div class="taxes">
                        <span class="label tea"></span>
                        <span class="label cft"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="banktransference">
            <vtex.cmc:bankTransference />
        </div>
        <div class="cash">
            <div class="banner">
                <vtex.cmc:cashBanner />
            </div>
            <h4>Los límites de pago son:</h4>
            <h5>Rapipago hasta $ 60.000</h5> 
            <h5>Red Link hasta $ 60.000</h5>
            <h5>Pago Fácil hasta $ 15.000</h5>
        </div>
    </div>
</div>