<div id="popup-newsletter" class="col-newsletter">
    <div class="tab"></div>
    <div class="form-container">
        <h3 class="subscribed-message">¡Registrate para recibir novedades y promociones!</h3>
        <h3 class="subscribed">¡Gracias por haberse suscrito en Tiendas Digitales!</h3>
        <p class="mail-required">Correo electrónico<span>*</span></p>
        <form>
            <input type="email" size="40" class="newsletter-email" placeholder="Ingresá tu mail"/>
            <input type="submit" class="newsletter-submit" value=""/>
        </form>
        <p class="newsletter-prompt"></p>
    </div>
</div>