#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
<tr>
    <td><a title="$escapedName" href="$uri?utm_source=VTEXCEM&utm_medium=Abandono_carrinho&utm_campaign=Abandono" border="0">$product.GetImageTag(30)</a></td>
    <td>$product.Name</td>
    <td class="right">
        #if($product.HasBestPrice)
        <small>$product.ListPrice</small>
        #else
        <strong>$product.BestPrice</strong>
        #end
    </td>
</tr>