#set($name = $product.HtmlEscapedName)
#set($brand = $product.Brand)
#set($image = $product.GetImageTag(292, 292, "principal"))
#set($url = $product.Uri)
#set($productTitleCustom = $product.ProductField(93))
#set($shortDescription = $product.DescriptionShort)
#set($buttonBuy = $product.BottomBuy)
#set($evaluationRate = $product.EvaluationRate)

<div class="product-card">
	<div class="product-card-container">
		<div class="product-image" onclick="window.location = '$url'">

			<span class="main-image">$image</span>
			<span class="secondary-image">$product.GetImageTag(292, 292, "secundaria")</span>
			<span class="fallback-image">$product.GetImageTag(292, 292)</span>

			#if ($product.HightLight)
			<div class="product-flag">
				$product.HightLight
			</div>
			#end
		</div>

		<div class="product-data" onclick="window.location = '$url'">
			<div class="custom-title">$productTitleCustom</div>
			<p>$name</p>

			<div class="product-rating">
				<div class="game-icons-$evaluationRate"></div>
			</div>

			<div class="product-prices">
				#if ($product.IsInStock)
                    #if ($product.HasBestPrice)
                        <div class="price best-price">
                            <span class="old-price">
                                $product.ListPrice
                            </span>
                            <span class="regular-price best-price">
                                $product.BestPrice
                            </span>
                            <span class="flag discount">$product.ListPriceMinusBestPriceInPercent</span>
                            <span class="flag discount-benefit">$product.ListPriceMinusBestPrice</span>
                        </div>
                    #else
                        <div class="price">
                            <span class="regular-price">
                                $product.BestPrice
                            </span>
                        </div>
                    #end
				#else
				<span class="out-of-stock">SIN STOCK</span>
				#end
			</div>
		</div>

		#if ($product.IsInStock)
		<div class="product-buttons">
		#else
		<div class="product-buttons sin-stock">
		#end
			<a title="Ver mas" href="$url">Ver más</a>
			$buttonBuy
		</div>
	</div>
</div>