.afinidad {
    .vitrine > .prateleira li[layout] {
        &.hide {
            display: none;
        }
    }

    #list-more {
        cursor: pointer;

        &.loading {
            cursor: default;
            animation: blink-animation 1s steps(2, start) infinite;
            -webkit-animation: blink-animation 1s steps(2, start) infinite;

            @keyframes blink-animation {
                to {
                    visibility: hidden;
                }
            }

            @-webkit-keyframes blink-animation {
                to {
                    visibility: hidden;
                }
            }

            &:hover {
                background: $lightest-gray-A !important;
                color: $cherry-red !important;
            }
        }
    }

    #departament-banner {
        padding: 30px 10px 0;

        @include bp(max-width, $bp-small) {
            display: none;
        }
    }

    #departament-banner {
        &.owl-carousel {

            .owl-item {
                .box-banner {
                    img {
                        max-height: 350px;
                        max-width: 1280px;
                    }
                }
            }

            .owl-nav {
                margin-top: 0;

                .owl-prev,
                .owl-next {
                    top: 175px;

                    &.disabled {
                        opacity: 0.5;
                    }
                }

                .owl-prev {
                    left: 25px;
                }

                .owl-next {
                    padding: 4px 15px;
                    right: 25px;
                }
            }

            .owl-dots {
                bottom: 20px;
                margin-top: 0;
                z-index: 1;

                .owl-dot {
                    opacity: 0.5;

                    &.active {
                        opacity: 1;

                        span {
                            background: $whitest;
                            border-color: $whitest;
                        }
                    }
                }
            }
        }
    }

    #mobile-banner {
        display: none;

        @include bp(max-width, $bp-small) {
            display: block;
        }
    }

    #departament-banner,
    #mobile-banner {
        max-height: 380px;
        visibility: hidden;

        &.owl-carousel {
            max-height: none;
            visibility: inherit;
        }
    }

    h2.title {
        color: $dark-gray;
        font-family: $titillium-web-font-family;
        font-size: 34px;
        text-align: center;
        text-transform: none;
        padding: 30px;
    }

    #main-content {
        p.searchResultsTime {
            display: none;
        }

        .button-more {
            h2 {
                &.empty {
                    display: none;
                }
            }

            .list-more {
                outline: 0;
                @include transition(opacity 0.5s ease-in-out);
            }

            &.loading {
                pointer-events: none;

                .list-more {
                    @include opacity(0);
                }
            }
        }

        .product-flag p.flag {
            &.envio-gratis, &.novedades, &.--regalo {
                display:none;
            }

            &:not(.oferta) {
                background-size: contain;
                font-size: 0;
                height: 50px;
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                z-index: 1;
            }

            &.afinidad-envio-gratis {
                background-image: url("/arquivos/assets_afinidad_affinity-free-shipping.png");
                display:block;
            }

            &.afinidad-regalo{
                background-image: url("/arquivos/assets_afinidad_affinity-gift.png");
                display:block;
            }

            &.afinidad-novedades{
                background-image: url("/arquivos/assets_afinidad_affinity-release.png");
                display:block;
            }
        }
    }

    .grid .product-card .product-card-container .product-data .product-prices .price.best-price .flag {
        &.discount-benefit, &.discount {
            display: none;
            visibility: hidden;
        }
    }
    
    .grid .collection-wrapper .prateleira ul li:nth-child(4n) .product-card:hover .product-card-container {
        right: initial;
    }

    .modal-affinity {
        font-family: $titillium-web-font-family;
        max-width: 700px;
        padding-top: 40px;

        .hide {
            display: none;
            visibility: hidden;
        }

        h1.title {
            color: $cherry-red;
            font-family: $titillium-web-font-family;
            font-weight: 600;
            font-size: 38px;
            padding-bottom: 15px;
            text-align: center;
        }

        h2 {
            color: $medium-gray-B;
            font-family: $titillium-web-font-family;
            font-weight: 400;
            font-size: 20px;
            margin: auto;
            max-width: 420px;
            padding-bottom: 20px;
            text-align: center;
        }

        .modal-content {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;

            .login-form, .register-form {
                flex: auto;
                max-width: 300px;
                position: relative;
                padding: 0 20px;

                button.btn{
                    @include buttonLink($cherry-red, $whitest);
                    cursor: pointer;
                    padding: 5px 20px;
                    width: 100%;

                    &:hover{
                        border: 1px solid $cherry-red;
                    }
                }

                h4 {
                    border: none;
                    color: $dark-gray;
                    padding: 0;
                }

                p.hint {
                    color: $dark-gray;
                    font-size: 14px;
                    margin: 15px 0;
                }

                form {
                    input {
                        font-size: 14px;
                        line-height: 16px;
                        margin: 0 0 10px;
                        padding: 8px 10px;
                        width: 100%;
                    }

                    fieldset {
                        div.hint {
                            background: $medium-gray;
                            border-radius: 2px;
                            bottom: 45px;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                            color: $whitest;
                            cursor: pointer;
                            font-size: 14px;
                            line-height: 18px;
                            right: 0;
                            padding: 10px 15px;
                            position: absolute;
                            width: 100%;

                            &:after {
                                content: " ";
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 10px solid $medium-gray;
                                bottom: -9px;
                                height: 0;
                                position: absolute;
                                right: 5px;
                                width: 0;
                            }
                        }
                    }

                    label {
                        &.error {
                            color: $cherry-red;
                            font-size: 12px;
                            margin-bottom: 10px;
                        }

                        &#partnercode-error {
                            margin-top: 10px;
                            margin-bottom: 5px;
                        }

                        &#term-error:before {
                            display: none;
                        }
                    }
                }
            }

            .login-form {
                &:after {
                    background-color: $light-gray;
                    content: " ";
                    height: 100%;
                    position: absolute;
                    right: -15px;
                    top: 0;
                    width: 1px;
                }
            }

            .register-form {
                fieldset {
                    position: relative;

                    &.checkbox-item {
                        margin: 10px 0 10px 0;

                        input {
                            display: inline-block;
                            margin: 0px 10px 0px 0px;
                            width: auto;

                            &:checked+label:after {
                                content: '\2713';
                                color: $dark-gray;
                                display: block;
                                font-size: 14px;
                                left: 3px;
                                position: absolute;
                                top: 1px;
                            }
                        }

                        label {
                            display: inline-block;
                            font-weight: bold;
                            margin-bottom: 5px;
                            max-width: 100%;

                            a {
                                color: $dark-gray;
                            }

                            &:before {
                                content: "";
                                height: 14px;
                                border-radius: 2px;
                                background: $whitest;
                                border: 1px solid $lightest-gray-B;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 14px;
                            }
                        }
                    }

                    &.reveal {
                        div.hint {
                            bottom: 55px;
                        }

                        input.error + label.error + div.hint {
                            bottom: 80px;
                        }
                    }

                    i.icon-hint {
                        background-color: $medium-gray;
                        border-radius: 50%;
                        color: $whitest;
                        cursor: pointer;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        margin: 10px 0 0 -25px;
                        padding: 2px 6px;
                        position: absolute;

                        &:hover {
                            background-color: $cherry-red;
                        }
                    }

                    .input-partner > select.error + span + i + div {
                        bottom: 65px;
                    }

                    span.select2-container--open {
                        z-index: initial;
                        width: 100%;
                    }

                    .select2-container--default .select2-selection--single .select2-selection__placeholder {
                        color: $medium-gray-B;
                    }
                }

                span.select2-selection__arrow {
                    display: none;
                }

                .select2-container--default .select2-selection--single {
                    background-color: $whitest;
                    border: 1px solid $lightest-gray-B;
                    border-radius: 0;
                    height: 35px;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    color: $dark-gray;
                    line-height: 32px;
                }

                .partner-search-results {
                    position: absolute;
                    width: 100%;
                    background: $whitest;
                    color: $cherry-red;
                    top: 40px;
                    text-align: left;
                    z-index: 10;

                    ul {
                        max-height: 170px;
                        overflow: auto;

                        li {
                            padding: 2px 15px;
                            cursor: pointer;

                            &:hover {
                                background: $lightest-gray-D;
                            }
                        }
                    }

                    span {
                        display: inline-block;
                        padding: 2px 15px;
                    }
                }
            }
        }

        @include bp(max-width, $bp-large) {
            max-height: 100%;
            overflow: auto;
            padding: 35px 0;

            span.closing-cross {
                right: 10px;
                top: 10px;
            }

            h1.title {
                font-size: 24px;
                margin: 0 auto;
                padding: 0;
                width: 175px;
            }

            h2 {
                display: none;
            }

            .modal-content {
                flex-direction: column;

                .login-form, .register-form {
                    h4 {
                        padding: 15px 0;
                    }

                    p.hint {
                        display: none;
                    }
                }

                .login-form {
                    padding: 0 10px 0;

                    &:after {
                        background-color: $light-gray;
                        content: "";
                        height: 1px;
                        position: relative;
                        right: inherit;
                        display: block;
                        top: inherit;
                        margin: 0;
                        bottom: -20px;
                        left: 0;
                        width: 100%;
                    }
                }

                .register-form {
                    padding: 20px 10px 0;
                }
            }
        }
    }

    span.select2-container--open {
        z-index: 99999;
        width: auto;
    }

    .select2-dropdown.select2-dropdown--below, .select2-container--default .select2-search--dropdown .select2-search__field {
        border: 1px solid $lightest-gray-B;
    }

    .select2-results__option {
        padding: 4px 10px;
        color: $dark-gray;
        font-family: $titillium-web-font-family;
    }

    .modal-shadow {
        background-color: #000;
    }
}