<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i'" rel="stylesheet">
    <title>{{_accountInfo.TradingName}}</title>
    <style type="text/css">
        .titilium{
            font-family: 'Titillium Web', Arial, sans-serif;
            line-height: 20px;
        }
        .regular{
            font-weight: 400;
        }
        .bold{
            font-weight: 600;
        }
        @media only screen and (max-width: 768px){
            .boton{
                float: none;
                margin-top: 20px;
            }
        }
        @media only screen and (min-width: 769px){
            .boton{
                float: right;
                margin-top: 0;
            }
        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table style="max-width: 700px; width: 100%" align="center" cellspacing="0" border="0" bgcolor="#ededed">
    <tr bgcolor="#FFFFFF">
        <td style="width: 5%"></td>
        <td align="left"  valign="middle" height="75"><img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_header_logo.png" width="150" height="55" style="border: none" /></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium bold" style="color: #333333; font-size: 24px;">¡Hola {{addressee.name}}!</span><br><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">De acuerdo a lo solicitado, te informamos que el producto en el que estás interesado ya se encuentra en stock:<br><br>

                        <a href="{{productLink}}" style="color: #b70b2f; font-size: 14px; font-weight: 600; text-decoration: none" target="_blank">{{productName}}</a><br>
                        Descripción del Producto: {{productDescription}}<br><br>

                        Agradecemos tu interés y esperamos verte pronto por tu nuestro sitio.<br><br><br></span>

                            <table align="center" class="boton" style="width: 170px;" bgcolor="#b70b2f">
                            <tr>
                                <td height="35" align="center" valign="middle">
                                    <span><a href="{{productLink}}" class="titilium bold"
                                             style="color: #FFFFFF; font-size: 16px; text-decoration: none;">Quiero comprar!</a></span>
                                </td>
                            </tr>
                        </table>
                        <br><br>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td>
                        <span class="titilium bold" style="font-size: 14px; color:#333333">Saludos,</span><br>
                        <span class="titilium bold" style="font-size: 13px; color:#666666">
                            El equipo de Tiendas Digitales</span>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
</table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>