<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i'" rel="stylesheet">
    <title>{{accountInfo.TradingName}}</title>
    <style type="text/css">
        .titilium {
            font-family: 'Titillium Web', Arial, sans-serif;
            line-height: 20px;
        }

        .regular {
            font-weight: 400;
        }

        .bold {
            font-weight: 600;
        }

        .border-top, .border-top td {
            border-top: 1px solid #f7f7f7;
        }

        .border-bottom, .border-bottom > td {
            border-bottom: 1px solid #f7f7f7;
        }

        .border {
            border: 1px solid #f7f7f7;
        }

        @media only screen and (max-width: 768px) {
            .boton {
                float: none;
                margin-top: 20px;
            }

            .mobile-oculto {
                display: none;
            }

            .mobile-centrado {
                text-align: center;
            }

            .mobile-centrado span {
                margin-left: 0;
            }

            .desktop-oculto {
                display: inline-block;
                margin-top: 25px;
            }

            .desktop-oculto span.margen-der {
                margin-right: 25px;
            }
        }

        @media only screen and (min-width: 769px) {
            .boton {
                float: right;
                margin-top: 0;
            }

            .mobile-centrado span {
                margin-left: 8px;
            }

            .desktop-oculto {
                display: none;
            }

            .tabla-float-right {
                float: right;
            }

            .tabla-float-left {
                float: left;
            }
        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table style="max-width: 700px; width: 100%" align="center" cellspacing="0" border="0" bgcolor="#ededed">
    <tr bgcolor="#FFFFFF">
        <td style="width: 5%"></td>
        <td align="left" valign="middle" height="75"><img
                src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_header_logo.png" width="150" height="55"
                style="border: none"/></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left">
                        <table class="tabla-float-left">
                            <tr><td>
                                <span class="titilium regular" style="color: #b70b2f; font-size: 20px;">¡Atención! Es necesario que anules el pago manualmente.</span><br>
                                <span class="titilium regular" style="color: #666666;  font-size: 14px;">Compra del día {{formatDate transaction.creationDate}}</span>
                            </td></tr>
                        </table>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium bold" style="color: #333333; font-size: 24px;">¡Hola!</span><br><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">Precisamos que reviertas manualmente el pago de la orden. Los detalles se encuentran debajo:</span><br><br>
                        <span class="titilium bold" style="line-height: 25px; color: #666666; font-size: 14px;">Transacción N°: </span>
                        <span class="titilium regular" style="line-height: 25px; color: #666666; font-size: 14px;">{{transaction.sequence}}</span><br>
                        <span class="titilium bold" style="line-height: 25px; color: #666666; font-size: 14px;">Forma de Pago: </span>
                        <span class="titilium regular" style="line-height: 25px; color: #666666; font-size: 14px;">{{payment.name}}</span><br>
                        <span class="titilium bold" style="line-height: 25px; color: #666666; font-size: 14px;">Valor de la anulación solicitada: </span>
                        <span class="titilium regular" style="line-height: 25px; color: #666666; font-size: 14px;">$ {{formatCurrency payment.actionValue}}</span><br>
                        <span class="titilium bold" style="line-height: 25px; color: #666666; font-size: 14px;">Integrador: </span>
                        <span class="titilium regular" style="line-height: 25px; color: #666666; font-size: 14px;">{{payment.acquirer}}</span><br>
                        {{#if payment.tid}}
                        <span class="titilium bold" style="line-height: 25px; color: #666666; font-size: 14px;"> ID de Pago - Registro Interno: </span>
                        <span class="titilium regular" style="line-height: 25px; color: #666666; font-size: 14px;">{{payment.tid}}  {{payment.ourNumber}}</span><br>{{/if}}
                        <span class="titilium bold" style="line-height: 25px; color: #666666; font-size: 14px;">Valor total del Pago: </span>
                        <span class="titilium regular" style="line-height: 25px; color: #666666; font-size: 14px;">$ {{formatCurrency payment.value}}</span><br><br><br>

                        <table style="width: 100%;" class="border">
                            <tr>
                                <td colspan="3" height="10"></td>
                            </tr>
                            <tr>
                                <td style="width:20px"></td>
                                <td>
                                    <table align="center" valign="top">
                                        <tr>
                                            <td class="mobile-centrado" style="vertical-align: top;">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-01.jpg"
                                                     width="36" height="36"/>
                                                <span class="titilium regular"
                                                      style="color: #666666; font-size: 14px; display: inline-block; float:right;">Pedido<br>Realizado</span>
                                            </td>
                                            <td style="width:15px; vertical-align: top;"></td>
                                            <td class="mobile-centrado" style="vertical-align: top;">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-02.jpg"
                                                     width="36" height="36"/>
                                                <span class="titilium regular mobile-centrado"
                                                      style="color: #666666; font-size: 14px; display: inline-block; float:right;">Pago<br>Confirmado</span>
                                            </td>
                                            <td style="width:15px; vertical-align: top;"></td>
                                            <td class="mobile-centrado" style="vertical-align: top;">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-03-red.jpg"
                                                     width="36" height="36"/>
                                                <span class="titilium regular mobile-centrado"
                                                      style="color: #b70b2f; font-size: 14px; display: inline-block; float:right;">Pago Pendiente<br>de Anulación</span>
                                            </td>
                                            <td style="width:15px; vertical-align: top;"></td>
                                            <td class="mobile-centrado" style="vertical-align: top;">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-04.jpg"
                                                     width="36" height="36"/>
                                                <span class="titilium regular mobile-centrado"
                                                      style="color: #666666; font-size: 14px; line-height: 20px; display: inline-block; float:right;">Pedido<br>Enviado</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <br><br>
                                    <span class="titilium bold" style="color: #1c7800; font-size: 18px;">Items del Carrito</span><br><br>
                                    <table style="width: 100%;" class="border-bottom">
                                        <tr class="border-top mobile-oculto">
                                            <td height="40" align="left" valign="middle"><span
                                                    class="titilium bold" style="color: #333333; font-size: 14px;">Producto</span>
                                            </td>
                                            <td align="left" valign="middle"><span
                                                    class="titilium bold" style="color: #333333; font-size: 14px">Cantidad</span>
                                            </td>
                                            <td align="right" valign="middle"><span
                                                    class="titilium bold"
                                                    style="color: #333333; font-size: 14px">Precio</span></td>
                                        </tr>
                                        {{#each items}}
                                        <tr class="border-top">
                                            <td height="50" align="left" valign="middle">
                                                <span class="titilium regular" style="color: #999999; font-size: 14px">{{name}}</span>
                                                <div class="desktop-oculto">
                                                    <span class="titilium regular margen-der"
                                                          style="color: #999999; font-size: 14px"><strong>Cantidad: </strong>{{quantity}}</span>
                                                    <span class="titilium bold"
                                                          style="color: #999999; font-size: 18px;">$ {{formatCurrency value}}</span>
                                                </div>
                                            </td>
                                            <td align="center" valign="middle"><span
                                                    class="titilium regular mobile-oculto"
                                                    style="color: #999999; font-size: 14px">{{quantity}}</span></td>
                                            <td align="right" valign="middle"><span class="titilium bold mobile-oculto"
                                                                                    style="color: #999999; font-size: 17px;">$ {{formatCurrency value}}</span>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </table>
                                </td>
                                <td style="width:20px"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                            <tr>
                                <td style="width:20px"></td>
                                <td>
                                        <span class="tabla-float-left titilium"
                                              style="color: #666666; font-size: 14px;">
                                            <strong>Proveedor:</strong> {{_accountInfo.CompanyName}}
                                        </span>
                                    <br><br>
                                    <table class="tabla-float-right" style="width:270px" align="right">
                                        <tr class="border-bottom">
                                            <td valign="middle" height="35" align="left">
                                                <span class="titilium bold"
                                                      style="font-size: 18px; color:#333333">Total</span>
                                            </td>
                                            <td valign="middle" align="right">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">$ {{formatCurrency payment.value}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:20px"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                        </table>

                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td>

                        <span class="titilium regular" style="font-size: 13px; color:#666666">Atentamente,<br>
                            <strong>El equipo de Tiendas Digitales</strong></span>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
</table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>