<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i'" rel="stylesheet">
    <title>{{orders.0.sellers.0.name}}</title>
    <style type="text/css">
        .titilium{
            font-family: 'Titillium Web', Arial, sans-serif;
            line-height: 20px;
        }
        .regular{
            font-weight: 400;
        }
        .bold{
            font-weight: 600;
        }
        .border-top, .border-top td{
            border-top: 1px solid #f7f7f7;
        }
        .border-bottom, .border-bottom > td{
            border-bottom: 1px solid #f7f7f7;
        }
        .border{
            border: 1px solid #f7f7f7;
        }
        @media only screen and (max-width: 768px){
            .boton{
                float: none;
                margin-top: 20px;
            }
            .mobile-oculto{
                display: none;
            }
            .mobile-centrado{
                text-align: center;
            }
            .mobile-centrado span{
                margin-left:0;
            }
            .desktop-oculto span{
                display: inline-block;
                margin-top: 25px;
            }
            .desktop-oculto span.margen-der{
                margin-right: 50px;
            }
        }
        @media only screen and (min-width: 769px){
            .boton{
                float: right;
                margin-top: 0;
            }
            .mobile-centrado span{
                margin-left: 10px;
            }
            .desktop-oculto{
                display: none;
            }
            .tabla-float-right{
                float:right;
            }
            .tabla-float-left{
                float:left;
            }
        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table style="max-width: 700px; width: 100%" align="center" cellspacing="0" border="0" bgcolor="#ededed">
    <tr bgcolor="#FFFFFF">
        <td style="width: 5%"></td>
        <td align="left"  valign="middle" height="75"><img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_header_logo.png" width="150" height="55" style="border: none" /></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium regular" style="color: #b70b2f; font-size: 20px;">Pago pendiente</span><br>
                        <span class="titilium regular" style="color: #666666;  font-size: 14px;">Compra del día {{formatDate orders.0.creationDate}}</span>

                        <table class="boton" style="width: 240px;" bgcolor="#b70b2f"><tr><td height="35" align="center" valign="middle">
                            <span><a href="http://www.tiendasdigitales.com.ar/mi-cuenta/pedidos/" class="titilium bold" style="color: #FFFFFF; font-size: 14px; text-decoration: none;">SEGUÍ TU PEDIDO DESDE EL SITIO</a></span>
                        </td></tr></table>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium bold" style="color: #333333; font-size: 24px;">Hola {{orders.0.clientProfileData.firstName}} {{orders.0.clientProfileData.lastName}},</span><br><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">El pago relacionado al siguiente pedido continúa pendiente.<br>Por favor, realice el pago correspondiente para poder concluir su pedido.</span><br><br>

                        {{#eq split false}}
                        <span class="titilium bold" style="color: #666666; font-size: 14px;">Forma de Pago</span><br>
                        {{#each orders.0.paymentData.transactions}}
                        {{#each payments}}
                        <span class="titilium regular"style="color: #666666; font-size: 14px;">{{paymentSystemName}} - ${{formatCurrency value}}</span>
                        <br><br>
                        {{/each}}
                        {{/each}}
                        {{/eq}}
                        {{#eq split undefined}}
                        <span class="titilium bold" style="color: #666666; font-size: 14px;">Forma de Pago</span><br>
                        {{#each orders.0.paymentData.transactions}}
                        {{#each payments}}
                        <span class="titilium regular"style="color: #666666; font-size: 14px;">{{paymentSystemName}} - ${{formatCurrency value}}</span>
                        <br><br>
                        {{/each}}
                        {{/each}}
                        {{/eq}}

                        {{#each orders}}
                        <table style="width: 100%;" class="border">
                            <tr><td colspan="3" height="10"></td></tr>
                            <tr>
                                <td width="10"></td>
                                <td>
                                    <span class="titilium bold" style="color: #b70b2f; font-size: 18px;">Pedido: {{orderId}}</span><br>

                                    <span class="titilium regular" style="color: #666666; font-size: 18px;">Tipo de Entrega:
                                              <strong>{{shippingData.logisticsInfo.0.selectedSla}}</strong></span>
                                    <table align="center" valign="top">
                                        <tr>
                                            <td class="mobile-centrado">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-01-red.jpg" width="36" height="36" />
                                                <span class="titilium regular" style="color: #b70b2f; font-size: 14px; display: inline-block; float right;">Pedido<br>Realizado</span>
                                            </td>
                                            <td width="15"></td>
                                            <td class="mobile-centrado">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-02.jpg" width="36" height="36" />
                                                <span class="titilium regular mobile-centrado" style="color: #666666; font-size: 14px; display: inline-block; float right;">Pago<br>Confirmado</span>
                                            </td>
                                            <td width="15"></td>
                                            <td class="mobile-centrado">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-03.jpg" width="36" height="36" />
                                                <span class="titilium regular mobile-centrado" style="color: #666666; font-size: 14px; display: inline-block; float right;">Pedido<br>Facturado</span>
                                            </td>
                                            <td width="15"></td>
                                            <td class="mobile-centrado">
                                                <img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-04.jpg" width="36" height="36" />
                                                <span class="titilium regular mobile-centrado" style="color: #666666; font-size: 14px; line-height: 20px; display: inline-block; float right;">Pedido<br>Enviado</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <br><br><br>
                                    {{#each items}}
                                    <table style="width: 100%;" class="border-bottom">
                                        <tr class="border-top mobile-oculto">
                                            <td  height="40" align="left" valign="middle" width="290"><span class="titilium bold" style="color: #333333; font-size: 14px;">Producto</span></td>
                                            <td  width="30" align="left" valign="middle"><span class="titilium bold" style="color: #333333; font-size: 14px">Cantidad</span></td>
                                            <td  width="50" align="right" valign="middle"><span class="titilium bold" style="color: #333333; font-size: 14px">Precio</span></td>
                                        </tr>
                                        <tr class="border-top">
                                            <td width="200" align="left" valign="middle"><span class="titilium regular" style="color: #999999; font-size: 14px">{{name}}</span>
                                                <div class="desktop-oculto">
                                                    <span class="titilium regular margen-der" style="color: #999999; font-size: 14px"><strong>Cantidad: </strong>{{quantity}}</span>
                                                    <span class="titilium bold" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span>
                                                </div>
                                            </td>
                                            <td align="center" valign="middle"><span class="titilium regular mobile-oculto" style="color: #999999; font-size: 14px">{{quantity}}</span></td>
                                            <td align="center" valign="middle"><span class="titilium bold mobile-oculto" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span></td>
                                        </tr>
                                        {{#each bundleItems}}
                                        {{#if name}}
                                        <tr class="border-top">
                                            <td  align="left" valign="middle"><span class="titilium regular" style="color: #999999; font-size: 14px;">{{name}}</span></td>
                                            <td  align="center" valign="middle"></td>
                                            <td  align="center" valign="middle"><span class="titilium bold" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span></td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}

                                        </tr>
                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                            <tr>
                                <td width="10"></td>
                                <td>
                                        <span class="tabla-float-left titilium" style="color: #666666; font-size: 14px;">
                                            <strong>Entrega:</strong> {{#each ../shippingData.logisticsInfo}}
                                                                        {{#eq itemId ../id}}
                                                                        {{#each slas}}
                                                                        {{#eq ../selectedSla id}}
                                                                        {{#if deliveryWindow}}
                                                                        agendada entre <strong>
                                                                        {{formatDateTime deliveryWindow.startDateUtc}} y
                                                                        {{formatDateTime deliveryWindow.endDateUtc}}   </strong>
                                                                        {{else}}
                                                                        {{#unless shippingEstimateDate}}
                                                                        </strong> en hasta <strong>
                                                                        {{#hasSubStr shippingEstimate 'bd'}}
                                                                        {{replace shippingEstimate 'bd' ' dias úteis.'}}
                                                                        {{else}}
                                                                        {{replace shippingEstimate 'd' ' dias.'}}
                                                                        {{/hasSubStr}}
                                                                        {{else}}
                                                                    </strong> hasta <strong>
                                                                        {{formatDate shippingEstimateDate}}
                                                                        {{/unless}}
                                                                    </strong>
                                                                        {{/if}}
                                                                        {{/eq}}
                                                                        {{/each}}
                                                                        {{/eq}}
                                                                        {{/each}}<br>
                                            {{/each}}
                                            <strong>Proveedor:</strong> {{orders.0.sellers.0.name}}
                                        </span>
                                    <br><br>
                                    <table class="tabla-float-right" width="270" align="right">
                                        <tbody>
                                        {{#each orders.0.totals}}
                                        {{#if value}}
                                        <tr class="border-bottom">
                                            <td valign="middle" height="30" align="left">
                                                    <span class="titilium regular" style="font-size: 14px; color: #666;">{{#eq id "Items"}}Items{{/eq}}
                                                    {{#eq id "Shipping"}}Envío{{/eq}}
                                                    {{#eq id "Discounts"}}Descuentos{{/eq}}
                                                        {{#eq id "Tax"}}Impuestos{{/eq}}</span>
                                            </td>
                                            <td valign="top" align="right">
                                                <span class="titilium regular" style="font-size: 14px; color: #666;">$ {{formatCurrency value}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                        {{#if orders.0.value}}
                                        <tr class="border-bottom">
                                            <td valign="middle" height="35" align="left">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">Total</span>
                                            </td>
                                            <td valign="middle" align="right">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">$ {{formatCurrency orders.0.value}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        </tbody>
                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                        </table>
                        {{/each}}
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td>
                        <span class="titilium bold" style="font-size: 14px; color:#333333">Atención</span><br>
                        <span class="titilium regular" style="font-size: 13px; color:#666666">Si ya ha efectuado el pago, por favor ignore este mensaje.<br>
                        Atentamente,<br>
                            <strong>El equipo de Tiendas Digitales</strong>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
</table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>
