<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i'" rel="stylesheet">
    <title>{{_accountInfo.TradingName}}</title>
    <style type="text/css">
        .titilium{
            font-family: 'Titillium Web', Arial, sans-serif;
            line-height: 20px;
        }
        .regular{
            font-weight: 400;
        }
        .bold{
            font-weight: 600;
        }
        .border-top, .border-top td{
            border-top: 1px solid #f7f7f7;
        }
        .border-bottom, .border-bottom > td{
            border-bottom: 1px solid #f7f7f7;
        }
        .border{
            border: 1px solid #f7f7f7;
        }
        @media only screen and (max-width: 768px){
            .boton{
                float: none;
                margin-top: 20px;
            }
            .mobile-oculto{
                display: none;
            }
            .mobile-centrado{
                text-align: center;
            }
            .mobile-centrado span{
                margin-left:0;
            }
            .desktop-oculto span{
                display: inline-block;
                margin-top: 25px;
            }
            .desktop-oculto span.margen-der{
                margin-right: 50px;
            }
        }
        @media only screen and (min-width: 769px){
            .boton{
                float: right;
                margin-top: 0;
            }
            .desktop-oculto{
                display: none;
            }
            .tabla-float-right{
                float:right;
            }
            .tabla-float-left{
                float:left;
            }
        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table style="max-width: 700px; width: 100%" align="center" cellspacing="0" border="0" bgcolor="#ededed">
    <tr bgcolor="#FFFFFF">
        <td style="width: 5%"></td>
        <td align="left"  valign="middle" height="75"><img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_header_logo.png" width="150" height="55" style="border: none" /></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium bold" style="color: #b70b2f; font-size: 20px;">¡Su pedido fue cancelado!</span><br>
                        <span class="titilium regular" style="color: #666666;  font-size: 14px;">Compra del día {{formatDate creationDate}}</span>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium bold" style="color: #333333; font-size: 24px;">¡Hola {{clientProfileData.firstName}}!</span><br><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">La compra de los siguientes productos ha sido cancelada:</span><br><br>
                        <span class="titilium bold"
                              style="color: #666666; font-size: 14px;">Dirección de Entrega<br></span>
                        <span class="titilium regular" style="color: #666666; font-size: 14px; text-transform: capitalize">
                            {{shippingData.address.street}} {{shippingData.address.number}}<br>
                            {{shippingData.address.city}} - {{shippingData.address.state}}, {{shippingData.address.country}}  - CP: {{shippingData.address.postalCode}}</span><br><br>
                        <span class="titilium bold" style="color: #666666; font-size: 14px;">Forma de Pago</span><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">{{paymentData.transactions.0.payments.0.paymentSystemName}} ${{formatCurrency paymentData.transactions.0.payments.0.value}}</span>
                        <br><br>
                        <table style="width: 100%;" class="border">
                            <tr><td colspan="3" height="10"></td></tr>
                            <tr>
                                <td width="10"></td>
                                <td>
                                    <span class="titilium bold" style="color: #b70b2f; font-size: 18px;">Pedido: {{orderId}}</span><br>

                                    <span class="titilium regular" style="color: #666666; font-size: 14px;">Tipo de Entrega:
                                              <strong>{{shippingData.logisticsInfo.0.selectedSla}}</strong> </span><br><br><br>

                                    <span class="titilium bold" style="color: #b70b2f; font-size: 18px">Pedido Cancelado</span>
                                    <br><br>
                                    <table style="width: 100%;" class="border-bottom">
                                        <tr class="border-top mobile-oculto">
                                            <td  height="40" align="left" valign="middle" width="90"><span class="titilium bold" style="color: #333333; font-size: 14px;">Producto</span></td>
                                            <td  width="200"></td>
                                            <td  width="30" align="left" valign="middle"><span class="titilium bold" style="color: #333333; font-size: 14px">Cantidad</span></td>
                                            <td  width="50" align="right" valign="middle"><span class="titilium bold" style="color: #333333; font-size: 14px">Precio</span></td>
                                        </tr>
                                        {{#each items}}
                                        <tr class="border-top">
                                            <td height="90" align="left" valign="middle"><img src="{{imageUrl}}/" width="80" height="80" /></td>
                                            <td width="200" align="left" valign="middle"><span class="titilium regular" style="color: #999999; font-size: 14px">{{name}}</span>
                                                <div class="desktop-oculto">
                                                    <span class="titilium regular margen-der" style="color: #999999; font-size: 14px"><strong>Cantidad: </strong>{{quantity}}</span>
                                                    <span class="titilium bold" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span>
                                                </div>
                                            </td>
                                            <td align="center" valign="middle"><span class="titilium regular mobile-oculto" style="color: #999999; font-size: 14px">{{quantity}}</span></td>
                                            <td align="center" valign="middle"><span class="titilium bold mobile-oculto" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span></td>
                                        </tr>
                                        {{#each bundleItems}}
                                        {{#if name}}
                                        <tr class="border-top">
                                            <td  align="left" valign="middle"></td>
                                            <td  align="left" valign="middle"><span class="titilium regular" style="color: #999999; font-size: 14px;">{{name}}</span></td>
                                            <td  align="center" valign="middle"></td>
                                            <td  align="center" valign="middle"><span class="titilium bold" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span></td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                        {{/each}}
                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                            <tr>
                                <td width="10"></td>
                                <td>
                                    {{#if changeData}}
                                    {{#each changeData.changesData}}
                                    <table width="100%">

                                        <tr>
                                            <td>
                                                <table>

                                                    <tr>
                                                        <td>
                                                            <div>
                                                                <span class="titilium bold" style="color: #666666; font-size: 18px;">Cambios del pedido</span><br>
                                                                <span class="titilium bold" style="color: #666666; font-size: 14px;">{{reason}}</span>
                                                            </div>
                                                            <div>
                                                                <span class="titilium" style="color: #666666; font-size: 14px;">Valor del descuento - <strong>$ {{ formatCurrency discountValue }}</strong></span>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>

                                        <!-- ITENS REMOVIDOS -->
                                        <tr>
                                            <td>
                                                {{#each itemsAdded}}
                                                <table width="100%">

                                                    <tr>
                                                        <td>
                                                            <span class="titilium" style="color: #666666; font-size: 14px;">Item agregado (+)<br>
                                                                <strong>{{name}}</strong></span>
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <span class="titilium" style="color: #666666; font-size: 14px;">{{quantity}}x $ <strong>{{formatCurrency price}}</strong></span>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table><br /><br />
                                                {{/each}}
                                                {{#each itemsRemoved}}
                                                <table width="100%">

                                                    <tr>
                                                        <td>
                                                            <span class="titilium" style="color: #666666; font-size: 14px;">Item removido (-)<br>
                                                                <strong>{{name}}</strong></span>
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <span class="titilium" style="color: #666666; font-size: 14px;">{{quantity}}x <strong>$ {{formatCurrency price}}</strong></span><br>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                {{/each}}
                                            </td>
                                        </tr>

                                    </table>
                                    <br />
                                    {{/each}}
                                    {{/if}}

                                    <table class="tabla-float-right" width="270" align="right">

                                        {{#each totals}}
                                        {{#if value}}
                                        <tr class="border-bottom">
                                            <td valign="middle" height="30" align="left">
                                                    <span class="titilium regular" style="font-size: 14px; color: #666;">
                                                        {{#eq id "Items"}}Items{{/eq}}
                                                    {{#eq id "Shipping"}}Envío{{/eq}}
                                                    {{#eq id "Discounts"}}Descuentos{{/eq}}
                                                        {{#eq id "Tax"}}Impuestos{{/eq}}
                                                    {{#eq id "Change"}}Cambios{{/eq}}</span>
                                            </td>
                                            <td valign="top" align="right">
                                                <span class="titilium regular" style="font-size: 14px; color: #666;">$ {{formatCurrency value}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                        {{#if value}}
                                        <tr class="border-bottom">
                                            <td valign="middle" height="35" align="left">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">Total</span>
                                            </td>
                                            <td valign="middle" align="right">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">$ {{formatCurrency value}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}

                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                        </table>
                        <br><br>
                        <table class="boton" style="width: 240px;" bgcolor="#b70b2f"><tr><td height="35" align="center" valign="middle">
                            <span><a href="https://{{_accountInfo.HostName}}.vtexcommercestable.com.br/checkout/cart/add?{{#each items}}sku={{id}}&qty={{quantity}}&seller={{seller}}&{{/each}}sc={{salesChannel}}" class="titilium bold" style="color: #FFFFFF; font-size: 14px; text-decoration: none;">Agregar Productos al carrito</a></span>
                        </td></tr></table>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td>
                        <span class="titilium regular" style="font-size: 13px; color:#666666">Saludos!<br>
                            <strong>El equipo de Tiendas Digitales</strong></span>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
</table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>
