<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i'" rel="stylesheet">
    <title>{{orders.0.sellers.0.name}}</title>
    <style type="text/css">
        .titilium{
            font-family: 'Titillium Web', Arial, sans-serif;
            line-height: 20px;
        }
        .regular{
            font-weight: 400;
        }
        .bold{
            font-weight: 600;
        }
        .border-top, .border-top td{
            border-top: 1px solid #f7f7f7;
        }
        .border-bottom, .border-bottom > td{
            border-bottom: 1px solid #f7f7f7;
        }
        .border{
            border: 1px solid #f7f7f7;
        }
        @media only screen and (max-width: 768px){
            .boton{
                float: none;
                margin-top: 20px;
            }
            .mobile-oculto{
                display: none;
            }
            .mobile-centrado{
                text-align: center;
            }
            .image-step {
                display: block;
                margin: 0 auto;
            }
            .mobile-centrado span{
                margin-left:0;
            }
            .desktop-oculto span{
                display: inline-block;
                margin-top: 25px;
            }
            .desktop-oculto span.margen-der{
                margin-right: 50px;
            }
        }
        @media only screen and (min-width: 769px){
            .boton{
                float: right;
                margin-top: 0;
            }
            .mobile-centrado span{
                margin-left: 10px;
            }
            .desktop-oculto{
                display: none;
            }
            .tabla-float-right{
                float:right;
            }
            .tabla-float-left{
                float:left;
            }
        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table style="max-width: 700px; width: 100%" align="center" cellspacing="0" border="0" bgcolor="#ededed">
    <tr bgcolor="#FFFFFF">
        <td style="width: 5%"></td>
        <td align="left"  valign="middle" height="75"><img src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_header_logo.png" width="150" height="55" style="border: none" /></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left">
                        <span class="titilium regular" style="color: #1c7800; font-size: 20px;">¡Tu pedido ya fue facturado!</span><br>
                        <span class="titilium regular" style="color: #666666;  font-size: 14px;">Compra del día {{formatDate creationDate}}</span>
                        <table class="boton" style="width: 270px;" bgcolor="#b70b2f">
                            <tr>
                                <td height="35" align="center" valign="middle">
                                    <span><a href="http://www.tiendasdigitales.com/mi-cuenta/pedidos/" class="titilium bold"
                                             style="color: #FFFFFF; font-size: 14px; text-decoration: none;">SEGUÍ TU PEDIDO DESDE EL SITIO</a></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF" valign="middle">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td align="left"><span class="titilium bold" style="color: #333333; font-size: 24px;">¡Hola {{clientProfileData.firstName}} {{clientProfileData.lastName}}!</span><br><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">
                            {{#eq shippingData.logisticsInfo.0.selectedSla "Retiro en Av. Brasil 3060. CABA"}}
                            Gracias por comprar en nuestra tienda. Los siguientes productos ya fueron facurados y sólo esperan ser enviados.
                            En caso que hayas elegido retirar tu compra en nuestra sucursal, te pedimos que te acerques en la fecha estimada de entrega.
                            Recordá que podrá ser retirada únicamente por el titular de la compra presentando su respectivo DNI.
                            {{else}}
                            Gracias por comprar en nuestra tienda. Si elegiste recibirla en tu domicilio o retirarla en la sucursal del operador logístico, próximamente te enviaremos información sobre el envío de la misma.
                            {{/eq}}
                        </span><br><br>
                        {{#eq shippingData.logisticsInfo.0.selectedSla "Envío a domicilio Estandar Andreani"}}
                        <span class="titilium bold" style="color: #666666; font-size: 14px;">Dirección de Entrega<br></span>
                        <span class="titilium regular" style="color: #666666; font-size: 14px;">
                             {{shippingData.address.street}} {{shippingData.address.number}}<br>
                             {{shippingData.address.city}} - {{shippingData.address.state}} - {{shippingData.address.postalCode}}</span><br><br>
                        <span class="titilium regular" style="color: #666666; font-size: 14px; text-transform: capitalize">
                             {{shippingData.address.street}} {{shippingData.address.number}}<br>
                             {{shippingData.address.city}} - {{shippingData.address.state}}, {{shippingData.address.country}}  - CP: {{shippingData.address.postalCode}}
                        </span>
                        <br>
                        <br>
                        {{/eq}}
                        {{#eq shippingData.logisticsInfo.0.selectedSla "Entrega Programada"}}
                        <span class="titilium bold" style="color: #666666; font-size: 14px;">Dirección de Entrega<br></span>
                        <span class="titilium regular" style="color: #666666; font-size: 14px; text-transform: capitalize">
                             {{shippingData.address.street}} {{shippingData.address.number}}<br>
                             {{shippingData.address.city}} - {{shippingData.address.state}}, {{shippingData.address.country}}  - CP: {{shippingData.address.postalCode}}
                        </span>
                        <br>
                        <br>
                        {{/eq}}
                        <span class="titilium bold" style="color: #666666; font-size: 14px;">Forma de Pago</span><br>
                        <span class="titilium regular"style="color: #666666; font-size: 14px;">{{paymentData.transactions.0.payments.0.paymentSystemName}} ${{formatCurrency paymentData.transactions.0.payments.0.value}}</span>
                        <br><br>
                        <table style="width: 100%;" class="border">
                            <tr><td colspan="3" height="10"></td></tr>
                            <tr>
                                <td width="10"></td>
                                <td>
                                    <span class="titilium bold" style="color: #b70b2f; font-size: 18px;">Pedido: {{orderId}}</span><br>

                                    <span class="titilium regular" style="color: #666666; font-size: 18px;">Tipo de Entrega:
                                              {{#each shippingData.logisticsInfo}} {{#each slas}} {{#eq ../selectedSla id}}<strong>{{name}}</strong> {{/eq}}{{/each}}{{/each}}</span>
                                    {{#eq shippingData.logisticsInfo.0.selectedSla "Retiro en Av. Brasil 3060. CABA"}}
                                    <br>
                                    <span class="titilium regular" style="color: #666666; font-size: 18px;">Fecha de retiro desde:
                                              {{#each shippingData.logisticsInfo}} {{#each slas}} {{#eq ../selectedSla id}}<strong>{{formatDate shippingEstimateDate}}</strong> {{/eq}}{{/each}}{{/each}}</span>
                                    {{/eq}}
                                    <br><br><br>
                                    <table align="center" valign="top">
                                        <tr>
                                            <td class="mobile-centrado">
                                                <img class="image-step" src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-01.jpg" width="36" height="36" />
                                                <span class="titilium regular" style="color: #666666; font-size: 14px; display: inline-block; float: right;">Pedido<br>Realizado</span>
                                            </td>
                                            <td width="15"></td>
                                            <td class="mobile-centrado">
                                                <img class="image-step" src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-02.jpg" width="36" height="36" />
                                                <span class="titilium regular mobile-centrado" style="color: #666666; font-size: 14px; display: inline-block; float: right;">Pago<br>Confirmado</span>
                                            </td>
                                            <td width="15"></td>
                                            <td class="mobile-centrado">
                                                <img class="image-step" src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-03-red.jpg" width="36" height="36" />
                                                <span class="titilium regular mobile-centrado" style="color: #b70b2f; font-size: 14px; display: inline-block; float: right;">Pedido<br>Facturado</span>
                                            </td>
                                            <td width="15"></td>
                                            <td class="mobile-centrado">
                                                <img class="image-step" src="http://tiendasdigitales.vteximg.com.br/arquivos/assets_emails_email-confimacao-04.jpg" width="36" height="36" />
                                                <span class="titilium regular mobile-centrado" style="color: #666666; font-size: 14px; line-height: 20px; display: inline-block; float: right;">
                                                    {{#eq shippingData.logisticsInfo.0.selectedSla "Retiro en Av. Brasil 3060. CABA"}}
                                                    Información<br>de Retiro
                                                    {{else}}
                                                    Pedido<br>Enviado
                                                    {{/eq}}
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    <br><br>
                                    <table style="width: 100%;" class="border-bottom">
                                        <tr class="border-top mobile-oculto">
                                            <td  height="40" align="left" valign="middle" width="90"><span class="titilium bold" style="color: #333333; font-size: 14px;">Producto</span></td>
                                            <td  width="200"></td>
                                            <td  width="30" align="left" valign="middle"><span class="titilium bold" style="color: #333333; font-size: 14px">Cantidad</span></td>
                                            <td  width="50" align="right" valign="middle"><span class="titilium bold" style="color: #333333; font-size: 14px">Precio</span></td>
                                        </tr>
                                        <tr class="border-top">
                                            {{#each items}}
                                            <td height="90" align="left" valign="middle"><img src="{{imageUrl}}" width="80" height="80" /></td>
                                            <td width="200" align="left" valign="middle"><span class="titilium regular" style="color: #999999; font-size: 14px">{{name}}</span>
                                                <div class="desktop-oculto">
                                                    <span class="titilium regular margen-der" style="color: #999999; font-size: 14px"><strong>Cantidad: </strong>{{quantity}}</span>
                                                    <span class="titilium bold" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span>
                                                </div>
                                            </td>
                                            <td align="center" valign="middle"><span class="titilium regular mobile-oculto" style="color: #999999; font-size: 14px">{{quantity}}</span></td>
                                            <td align="center" valign="middle"><span class="titilium bold mobile-oculto" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span></td>
                                        </tr>
                                        {{#each bundleItems}}
                                        {{#if name}}
                                        <tr class="border-top">
                                            <td  align="left" valign="middle"><img src="{{imageUrl}}" width="80" height="80" /> </td>
                                            <td  align="left" valign="middle"><span class="titilium regular" style="color: #999999; font-size: 14px;">{{name}}</span></td>
                                            <td  align="center" valign="middle"></td>
                                            <td  align="center" valign="middle"><span class="titilium bold" style="color: #999999; font-size: 18px;">$ {{formatCurrency sellingPrice}}</span></td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                        {{/each}}
                                        </tr>
                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                            <tr>
                                <td width="10"></td>
                                <td>
                                    <table class="tabla-float-right" width="270" align="right">
                                        <tbody>
                                        {{#each totals}}
                                        {{#if value}}
                                        <tr class="border-bottom">
                                            <td valign="middle" height="30" align="left">
                                                    <span class="titilium regular" style="font-size: 14px; color: #666;">
                                                        {{#eq id "Items"}}Items{{/eq}}
                                                    {{#eq id "Shipping"}}Envío{{/eq}}
                                                    {{#eq id "Discounts"}}Descuentos{{/eq}}
                                                        {{#eq id "Tax"}}Impuestos{{/eq}}
                                                    {{#eq id "Change"}}Cambios{{/eq}}</span>
                                            </td>
                                            <td valign="top" align="right">
                                                <span class="titilium regular" style="font-size: 14px; color: #666;">$ {{formatCurrency value}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                        {{#if value}}
                                        <tr class="border-bottom">
                                            <td valign="middle" height="35" align="left">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">Total</span>
                                            </td>
                                            <td valign="middle" align="right">
                                                <span class="titilium bold" style="font-size: 18px; color:#333333">$ {{formatCurrency value}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        </tbody>
                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table style="width: 100%" bgcolor="#FFFFFF">
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td style="width: 20px"></td>
                    <td>
                        <span class="titilium bold" style="font-size: 14px; color:#333333">Atención</span><br>
                        <span class="titilium regular" style="font-size: 13px; color:#666666">
                            Ante cualquier duda, contáctanos de Lunes a Viernes de 9:00 a 18:00hs, llamándonos al 0810-362-2128 Opción 2, o por correo electrónico a tienda@tiendasdigitales.com.ar.<br><br>
                            <strong>Gracias por elegir Tiendas Digitales</strong>
                        </span>
                    </td>
                    <td style="width: 20px"></td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td colspan="3" height="20"></td>
    </tr>
</table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>
