.lanzamientos {
    .container {
        > h3 {
            color: $cherry-red;
            font-family: $titillium-web-font-family;
            font-size: 44px;
            padding: 50px 0 40px;
            text-align: center;
        }

        .slider-desktop {
            margin: 0 auto;
            max-width: $page-content-size;
            padding: 0 0 65px;

            .owl-nav {
                .owl-prev,
                .owl-next {
                    top: 44%;
                }

                .owl-prev {
                    left: -25px;

                    &:before {
                        margin: 8px 3px 0 0;
                    }
                }

                .owl-next {
                    right: -25px;

                    &:before {
                        margin: 8px -3px 0 0;
                    }
                }
            }
        }

        .slider-mobile {
            display: none;
        }

        #grilla-banners {
            background-color: $whitest;
            padding: 70px 0;

            .grilla-wrapper {
                margin: 0 auto;
                max-width: $page-content-size;

                .top,
                .bottom {
                    .col {
                        display: inline-block;
                        margin-right: 30px;
                        vertical-align: top;

                        &:last-child {
                            margin: 0;
                        }

                        img {
                            width: 100%;

                            &.mobile {
                                display: none;
                            }
                        }
                    }
                }

                .top {
                    margin-bottom: 30px;

                    .col {
                        width: calc(25% - 26px);
                    }
                }

                .bottom {
                    .col {
                        width: calc(50% - 17px);
                    }
                }
            }
        }

        #category-extra-vitrine-2 {
            > div h2 {
                border: none;
                font-size: 34px;
                padding-top: 30px;
            }
        }
    }

    /*-------------------------------
                  Mobile
    ---------------------------------*/
    @include bp(max-width, $bp-xlarge) {
        .container {
            .slider-desktop {
                .owl-nav {
                    .owl-prev {
                        left: 5px;
                    }

                    .owl-next {
                        right: 5px;
                    }
                }
            }

            #grilla-banners {
                .grilla-wrapper {
                    padding: 0 10px;
                }
            }

            #category-extra-vitrine-2 {
                > div h2 {
                    font-size: 26px;
                    padding-top: 10px;
                }
            }
        }
    }

    @include bp(max-width, $bp-medium) {
        .container {
            > h3 {
                font-size: 26px;
                padding: 20px 0;
            }

            .slider-mobile {
                display: block;
                padding: 0 0 40px;
            }

            .slider-desktop {
                display: none;
            }

            #grilla-banners {
                padding: 30px 0;

                .grilla-wrapper {
                    .top,
                    .bottom {
                        .col {
                            display: block;
                            margin: 0 0 10px;
                            width: 100%;

                            &:last-child {
                                margin: 0;
                            }

                            img {
                                width: 100%;

                                &.desktop {
                                    display: none;
                                }

                                &.mobile {
                                    display: block;
                                }
                            }
                        }
                    }

                    .top {
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}