aside.sidebar .box-breadcrumb {
    display: none;
    @include bp(max-width, $bp-medium) {
        display: block;
    }
}

.box-breadcrumb {
    margin: 20px 0 30px;
    padding: 0 0 0 10px;

    .bread-crumb ul {
        li {
            display: inline-block;
            font-family: $titillium-web-font-family;
            font-weight: $font-family-weight-regular;
            font-size: 13px;
            color: $dark-gray;
            margin-right: 7px;
            &:after {
                content: '/';
                margin-left: 7px;
            }
            &.last:after {
                content: '';
            }
            a {
                color: $dark-gray;
                text-decoration: none;
                &:hover {
                    color: $dark-gray;
                    text-decoration: underline;
                }
                &:visited {
                    color: $dark-gray;
                }
                &:active {
                    color: $dark-gray;
                }
            }
            &:first-child {
                a {
                    font-size: 0;
                    &::before {
                        content: 'Home';
                        font-size: 13px;
                    }
                }
            }
        }
    }
    @include bp(max-width, $bp-xlarge) {
        margin: 20px 0 30px 10px;
        padding: 0;
    }
    @include bp(max-width, $bp-medium) {
        margin: 15px 10px;
        &:first-child {
            display: none;
        }
    }
}

#category-page {
    .bread-crumb ul {
        li {
            &.last strong a {
                font-weight: $font-family-weight-regular;
                color: $medium-gray;
                &:hover {
                    color: $medium-gray;
                }
                &:visited {
                    color: $medium-gray;
                }
                &:active {
                    color: $medium-gray;
                }
            }
        }
    }
}