.product-flag {
    z-index: 5;

    .flag {
        display: none;
        font-family: $titillium-web-font-family;

        $flags: envio-gratis, novedades, nuevo, pre-venta, --regalo;

        @each $flag in $flags {
            &.#{$flag} {
                background-image: url("/arquivos/assets_common_flags_#{$flag}.png");
                background-size: contain;
                display: block;
                font-size: 0;
                height: image-height("/common/flags/#{$flag}.png") / 2;
                position: absolute;
                right: 0;
                top: 0;
                width: image-width("/common/flags/#{$flag}.png") / 2;
                z-index: 1;
            }
        }

        &.pre-venta {
            left: 0;
            right: auto;
        }

        &.oferta {
            @include background-image(linear-gradient(159deg, $oferta-light-flag 0%,$oferta-light-flag 51%,$oferta-flag 51%,$oferta-flag 100%));
            bottom: -5px;
            color: $whitest;
            display: block;
            font-size: 13px;
            font-weight: $font-family-weight-semibold;
            height: 20px;
            padding: 4px 0 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 55px;
            z-index: 1;

            &:after {
                border-left: 6px solid $oferta-flag;
                border-bottom: 11px solid transparent;
                border-top: 9px solid transparent;
                bottom: 0;
                content: '';
                left: 55px;
                position: absolute;
            }
        }

        /*
         * Mobile
         */
         @include bp(max-width, $bp-medium) {
            @each $flag in $flags {
                &.#{$flag} {
                    background-image: url("/arquivos/assets_common_flags_#{$flag}-mobile.png");
                    height: image-height("/common/flags/#{$flag}-mobile.png") / 2;
                    width: image-width("/common/flags/#{$flag}-mobile.png") / 2;
                    z-index: 1;
                }
            }
         }
    }
}