
.filter-trigger span, .orderby-trigger span, .departament-extra-menu a {
    font-family: $titillium-web-font-family;
    font-weight: $font-family-weight-semibold;
}

.menu-departamento {
    h3 a, h3:after, h4 a, h5, ul li, ul li a {
        font-family: $titillium-web-font-family;
        font-weight: $font-family-weight-semibold;
    }
}

.triggers {
    display: table;
    margin: 0 auto;
    .table-margin {
        width: 25px;
    }
}

.filter-trigger, .orderby-trigger {
    width: 132px;
    padding: 12px 20px;
    text-align: right;
    border: 1px solid #cfcfcf;
    border-radius: 2px;

    cursor: pointer;
    span {
        font-size: 14px;
        font-weight: $font-family-weight-regular;
        color: #333333;
    }
}

.filter-trigger {
    margin-left: 7%;
    background: url("/arquivos/assets_filters_filter.png") no-repeat 16%;
    background-size: 15%;
}

.orderby-trigger {
    background: url("/arquivos/assets_common_hamburguers_order-by.png") no-repeat 12% 51%;
    background-size: 13%;
}

.filters, .orderby {
    width: 240px;
    padding: 20px;
    margin: 0 20px 0 0;
    background-color: $whitest;
    h3.mobile {
        display: none;
    }

    h3 {
        width: 100%;
        padding-bottom: 15px;
        text-align: left;
        border-bottom: 1px solid $lightest-gray-A;
        position: relative;
        margin: 0 0 30px;

        a {
            font-size: 20px;
            text-decoration: none;
            color: $cherry-red;
            &:hover {
                color: $cherry-red;
            }
            &:active {
                color: $cherry-red;
            }
            &:visited {
                color: $cherry-red;
            }
        }
        &:not(.order):after {
            content: 'Navegar por';
            display: block;
            font-size: 14px;
            color: $cherry-red;
            position: absolute;
            bottom: -27px;
        }
    }
    h4 {
        padding-top: 15px;
        a {
            font-size: 14px;
            text-decoration: none;
            color: $dark-gray;
            &:hover {
                color: $dark-gray;
            }
            &:active {
                color: $dark-gray;
            }
            &:visited {
                color: $dark-gray;
            }
            &:before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 8px;
                margin-right: 5px;
                background: url('/arquivos/assets_filters_dept-nav-arrow.png') no-repeat;
                background-size: contain;
            }
        }

    }
    h5 {
        font-size: 14px;
        color: $cherry-red;
        padding-top: 15px;

        cursor: pointer;
        position: relative;
        width: 100%;
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 9px;
            background: url('/arquivos/assets_common_arrows_arrow-down-red.png') no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 20px;
        }
        & + ul {
            display: none;
        }
        &.active {
            &:after {
                @include rotate(180deg);
            }
            & + ul {
                display: block;
            }
        }
    }
    ul {
        margin: 15px auto 0;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $lightest-gray-A;
            margin-top: 15px;

        }
        li {
            display: block;
            margin-bottom: 8px;
            margin-left: 20px;
            &.filtro-ativo, a {
                font-size: 13px;
                font-weight: $font-family-weight-regular;
                text-decoration: none;
                color: $medium-gray-B;
            }
        }
        .ver-filtros {
            @include buttonLink($whitest, $cherry-red, 14px);
            padding: 10px;
            text-align: center;
            width: 80%;
            margin-left: 20px;
            margin-top: 20px;
            line-height: 16px;
        }
    }

    .departament-extra-menu {
        a {
            display: block;
            padding-top: 15px;
            font-size: 14px;

            text-decoration: none;
            color: $dark-gray;
            &:hover {
                color: $dark-gray;
            }
            &:active {
                color: $dark-gray;
            }
            &:visited {
                color: $dark-gray;
            }
            &:before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 8px;
                margin-right: 5px;
                background-image: url('/arquivos/assets_filters_dept-nav-arrow.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.filters {
    ul {

        &.foldable {
            position: relative;
            padding-bottom: 33px;
            max-height: 271px;
            overflow: hidden;

            &:after {
                display: none;
            }
        }

        &.unfolded {
            max-height: none;
            overflow: visible;

            .see-more {
                &:before {
                    content: 'Ver Menos';
                }
            }
        }

        .see-more {
            font-family: $titillium-web-font-family;
            font-weight: $font-family-weight-semibold;
            font-size: 13px;
            background-color: $whitest;
            color: $dark-gray;
            cursor: pointer;
            display: block;
            padding-left: 20px;
            padding-top: 8px;
            position: absolute;
            bottom: 0;
            width: 100%;

            &:before{
                content: 'Ver Más';
            }

            &:after {
                content: '';
                display: block;
                width: calc(100% + 20px);
                height: 1px;
                background-color: $lightest-gray-A;
                margin-top: 15px;
                position: relative;
                left: -20px;
            }

            @include bp(max-width, $bp-medium) {
                 padding-left: 35px;

                 &:after {
                     width: calc(100% + 35px);
                     left: -35px;
                 }
             }
        }
        @include bp(max-width, $bp-medium) {
            &.foldable {
                max-height: 273px;
            }

            &.unfolded {
                max-height: none;
                overflow: visible;
            }
        }
    }
}

#orderby-nav-mobile {
    display: none;
    &.active {
        display: block;
    }
}

.modal-shadow {
    display: none;
    @include bp(max-width, $bp-medium) {
        position: fixed;
        z-index: 9992;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        &.active {
            display: block;
        }
    }
}

@include bp(min-width, $bp-medium + 1) {
    .filter-trigger, .orderby-trigger {
        display: none;
    }
}

@include bp(max-width, $bp-large) {
    .filters, .orderby {
        width: 170px;
        padding: 10px;
    }
}

@include bp(max-width, $bp-medium) {
    .filter-trigger, .orderby-trigger {
        display: table-cell;
    }
    .filters, .orderby {
        display: none;
        width: 80%;
        z-index: 9993;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        overflow: visible;
        padding-bottom: 30px;
        min-height: 100vh;
        margin: 0;

        &.active {
            display: block;
        }
        ul li{
            margin-left: 35px;
        }
        h3 {
            &:not(.mobile) {
                display: none;
            }
            &.mobile {
                display: block;
                width: 100%;
                margin: 20px 0 0;
                padding-left: 15px;
                font-size: 20px;
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-semibold;
                text-decoration: none;
                color: $cherry-red;
                span.closing-cross {
                    display: block;
                    position: absolute;
                    top: 4px;
                    right: 20px;
                    width: 17px;
                    height: 17px;
                    background: url("/arquivos/assets_filters_closing-arrow.png") no-repeat;
                    background-size: contain;
                    cursor: pointer;
                    z-index: 9994;
                }
            }
        }
        h4 {
            margin-left: 15px;
            &:nth-of-type(1) {
                padding-top: 40px;
            }
        }
        h5{
            padding-top: 15px;
            padding-left: 15px;
            cursor: pointer;
            position: relative;
            width: 100%;
            &:after {
                right: 22px;
                top: 20px;
            }
        }
    }
    .orderby {
        h3.mobile {
            margin-bottom: 15px;
        }
        ul {
            margin-top: 0;
            width: 100%;
            margin-left: 0;
            li {
                margin: 0 15px;
                padding: 15px 0;
                border-bottom: 1px solid $lightest-gray-A;
                a {
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-regular;
                }
            }
            &:after {
                display: none;
            }
        }
    }
}