$redes: facebook, twitter, instagram;
$mgmt: afip, vtex;

footer.footer {
    width: 100%;

    section.brands-slider {
        background-color: $whitest;
        padding-bottom: 20px;

        h2 {
            color: $cherry-red;
            font-family: $titillium-web-font-family;
            font-size: 36px;
            margin: 0 0 20px 0;
            text-align: center;
            text-transform: capitalize;
            padding-top: 60px;
        }

        .container {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;

            .box-banner {
                padding: 0 25px;

                img{
                    width: 150px!important;
                    display: none;
                }
            }

            &.owl-loaded {

                img{
                    display: block;
                    @include filter(grayscale(100%));

                    &:hover {
                        @include filter(grayscale(0));
                    }
                }

            }

            .owl-next,
            .owl-prev {
                top: 37%;

                &:before {
                    background-repeat: no-repeat;
                    margin: 0;
                    position: absolute;
                    top: 35%;
                    left: 35%;
                }
            }

            .owl-prev {
                left: -40px;
            }

            .owl-next {
                right: -40px;
            }
        }

        @include bp(max-width, 1260px) {

            h2{
                margin: 0 0 15px 0;
            }

            .container {
                max-width: calc(100% - 70px);

                .box-banner {
                    padding: 0;
                }

                .owl-next,
                .owl-prev {
                    width: 30px;
                    height: 30px;

                    &:before {
                        height: 10px;
                        top: 30%;
                    }
                }

                .owl-prev {
                    left: -30px;
                }

                .owl-next {
                    right: -30px;
                }
            }
        }

        @include bp(max-width, $bp-medium) {

            padding-bottom: 0;

            h2 {
                font-size: 26px;
                margin: 0;
                padding-top: 30px;
            }

            .container {
                max-width: 95%;
                padding-bottom: 15px;

                .owl-item {
                    img {
                        width: 86px!important;
                        @include filter(grayscale(0));
                    }
                }
            }

            .owl-dots {

                text-align: center;

                .owl-dot {
                    display: inline-block;

                    span {
                        display: inline-block;
                        background: $whitest;
                        border: 1px solid $light-gray;
                        width: 12px;
                        height: 12px;
                        @include border-radius(6px);
                        margin: 5px 4px;
                    }

                    &.active {

                        span {
                            background-color: $medium-gray;
                            border-color: $medium-gray;
                        }
                    }
                }
            }
        }
    }

    .extra-footer-top {
        background-color: $cherry-red;

        .wrapper {
            max-width: $page-content-size;
            width: 100%;
            margin: 0 auto;
            padding: 40px 0;

            .feature {
                width: 25%;
                text-align: center;
                border-right: 1px solid $lightest-gray-A;
                display: inline-block;

                &:last-child {
                    border: none;
                }

                a {
                    text-decoration: none;
                }

                img {
                    display: block;
                    width: auto;
                    margin: 0 auto;
                    height: 35px;
                }

                h5 {
                    margin-top: 15px;
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-semibold;
                    font-size: 16px;
                    color: $whitest;

                    br {
                        display: none;
                    }
                }
            }
            @include bp(max-width, $bp-medium) {
                border: none;
                .feature {
                    width: 50%;
                    border: none;
                    margin: 15px auto;

                    img {
                        height: 32px;
                    }

                    &.shipping {
                        img {
                            height: 25px;
                            margin-top: 7px;
                        }
                    }

                    h5 {
                        height: 35px;
                        line-height: 20px;
                        br {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .main-footer {
        background-color: $nav-background;
        padding-top: 50px;

        .container {
            max-width: $page-content-size;
            width: 100%;
            margin: 0 auto;
            display: table;

            .row, .row-menus, .row-media {
                display: table-cell;
                width: 50%;
                vertical-align: top;

                h5 {
                    margin-bottom: 10px;
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-semibold;
                    font-size: 15px;
                    color: $whitest;
                    span.arrow-down {
                        display: none
                    }
                }
            }
            .col-menu-footer {
                float: left;
                width: 33.33%;
                text-align: left;
                padding: 0 15px 0 0;

                ul {
                    margin: 0;
                    list-style-type: none;
                    li {
                        line-height: 20px;
                        font-size: 14px;
                        font-family: $titillium-web-font-family;
                        font-weight: $font-family-weight-regular;
                        display: block;

                        a {
                            text-decoration: none;
                            color: $whitest;
                            &:visited {
                                color: $whitest;
                            }
                            &:hover {
                                border-bottom: 1px solid $whitest;
                            }
                            &:active {
                                color: $whitest;
                            }
                        }
                    }
                }
            }

            .col-newsletter {
                float: left;
                width: 50%;
                text-align: left;
                margin-left: 5%;
                p {
                    width: 100%;
                    line-height: 20px;
                    font-size: 14px;
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-regular;
                    color: $whitest;
                }
                form {
                    width: 100%;
                    margin-top: 15px;
                    overflow: hidden;
                    input {
                        float: left;
                        height: 40px;
                        font-family: $titillium-web-font-family;

                        &[type="email"] {
                            width: 70%;
                            padding: 10px 15px;
                            border: none;
                            background-color: $whitest;
                            color: $medium-gray;
                            font-size: 15px;
                        }

                        &[type="submit"] {
                            width: 30%;
                            border: none;
                            background-color: $cherry-red;
                            color: $whitest;
                            font-size: 16px;
                            font-weight: $font-family-weight-semibold;
                            text-transform: uppercase;
                        }
                    }
                }

            }
        }

        @include bp(max-width, $bp-medium) {
            padding-top: 0;

            .container {
                display: block;
                margin: 0 auto;
                padding-bottom: 15px;
                .row, .row-menus, .row-media {
                    width: 100%;
                    display: block;
                    .col-menu-footer {
                        float: none;
                        width: 100%;
                        padding: 0;
                        h5 {
                            width: 100%;
                            padding: 15px;
                            margin-bottom: 2px;
                            text-align: left;
                            background-color: $nav-background;
                            position: relative;
                            span.arrow-down {
                                display: block;
                                position: absolute;
                                top: 20px;
                                right: 15px;
                                width: 16px;
                                height: 9px;
                                background-image: url('/arquivos/assets_footer_arrow-down.png');
                                background-size: contain;
                                &.active {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        &:last-child h5 {
                            margin-bottom: 0;
                        }
                        ul {
                            margin: 18px 30px;
                            text-align: left;
                            display: none;
                            &.active {
                                display: block;
                            }
                            li {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                .row-media div[class^="col-"] {
                    width: 100%;
                    float: none;
                    margin: 0;
                    padding: 20px 15px;
                    border-top: 1px solid $lightest-gray-B;
                }
            }
        }
    }

    .col-social {
        float: left;
        width: 40%;
        margin-left: 5%;
        text-align: left;
        .social {
            margin: 0;
            list-style-type: none;
            overflow: hidden;
            padding-bottom: 20px;
            border-bottom: 1px solid $lightest-gray-B;
            li {
                display: block;
                margin-right: 10px;
                float: left;


                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    font-size: 0;
                }

                @each $red in $redes {
                    ##{$red} {
                        background: url('/arquivos/assets_footer_#{$red}.png') no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
        .mgmt {
            margin-top: 15px;

            h5 {
                margin-bottom: 15px;

                img {
                    display: inline-block;
                    margin: 0 10px 5px 0;
                    width: 13px;
                    vertical-align: middle;
                }
            }
            .devs {
                margin: 0;
                list-style-type: none;
                overflow: hidden;
                padding-bottom: 40px;
                li {
                    display: block;
                    margin-right: 25px;
                    float: left;
                    &:last-child {
                        margin-right: 0;
                    }
                    @each $dev in $mgmt {
                        ##{$dev} {
                            width: 55px;
                            height: 90px;
                            display: block;
                            text-indent: -999px;
                            background-image: url('/arquivos/assets_footer_#{$dev}.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: 0 50%;
                        }
                    }

                    #summa {
                        display: block;
                        text-indent: -999px;
                        background: url("/arquivos/assets_footer_summa_logo.png") no-repeat;
                        background-size: contain;
                        width: 85px;
                        height: 90px;
                        border: none;
                        background-position: 0 50%;
                    }
                }

                @include bp(max-width, $bp-medium) {
                    padding-bottom: 0;

                    li {
                        #vtex, #summa, #afip {
                            height: 55px;
                        }

                        #afip {
                            width: 35px;
                        }
                    }
                }
            }
        }
    }

    @include bp(min-width, $bp-medium + 1) {
        @include bp(max-width, $page-content-size) {

            .brands-slider,
            .extra-footer-top,
            .main-footer {
                padding: 0 10px;
            }

            .main-footer{
                .container {
                    padding: 50px 0 0;

                    .row h5, .row-menus h5, .row-media h5,
                    .col-menu-footer ul li, .col-newsletter form input[type="submit"] {
                        font-size: 13px;
                    }
                }
            }


            .col-social {
                .social li {
                    margin-right: 3px;

                    a {
                        width: 25px;
                        height: 25px;
                    }
                }

                .mgmt .devs li {
                    margin-right: 10px;

                    #afip {
                        width: 25px;
                        height: 45px;
                    }

                    #vtex, #summa {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}

.copyRight {
    background-color: $nav-background;

    .wrapper {
        border-top: 1px solid $light-gray;
        max-width: $page-content-size;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
    }


    .fiscales {
        display: inline-block;

        br {
            display: none;
        }
    }

    h4, p {
        font-family: $titillium-web-font-family;
        font-size: 13px;
        color: $whitest;
    }

    h4 {
        font-weight: $font-family-weight-light;
        display: inline-block;
        vertical-align: top;

        &:before {
            content: "|";
            display: inline-block;
            margin: 0 15px;
            vertical-align: middle;
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    p {
        font-weight: $font-family-weight-semibold;
        float: right;
    }

    @include bp(max-width, $page-content-size) {

        .wrapper {
            padding: 20px 10px;
        }


        h4, p {
            font-size: 12px;
        }

        h4 {

            &:before {
                content: "";
                width: 1px;
                height: 13px;
                background-color: $whitest;
                display: inline-block;
                margin: 0 8px;
                vertical-align: bottom;
            }
        }
    }

    @include bp(max-width, $bp-large) {

        .wrapper {
            padding: 10px 15px 20px;
        }

        .fiscales {
            float: none;
            padding: 5px 0 10px;
            margin: 0 auto;
            border-bottom: 1px solid $lightest-gray-B;
            display: block;

            br {
                display: block;
            }
        }

        p,
        h4 {
            text-align: center;
        }

        h4 {
            display: block;
            font-size: 13px;
            font-weight: $font-family-weight-semibold;
            line-height: 18px;

            &:before {
                display: none;
            }
        }

        p {
            float: none;
            font-size: 13px;
            margin-top: 10px;
        }
    }
}

#back-to-top {
    @include border-radius(50%);
    @include transition(right 0.5s);
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 50px;
    cursor: pointer;
    height: 35px;
    position: fixed;
    right: -50px;
    width: 35px;
    z-index: 9999;

    &.show-back-to-top {
        right: 10px;
    }

    .icon {
        background-image: url("/arquivos/assets_footer_back-to-top.png");
        background-size: contain;
        height: image-height("/footer/back-to-top.png") / 2;
        margin: 11px auto 0;
        width: image-width("/footer/back-to-top.png") / 2;
    }
}