.static-form{
    .form-block{
        display: inline-block;
    }
    label, input, textarea, .alert{
        font-family: $titillium-web-font-family;
        color: $dark-gray;
    }
    label{
        display: block;
        font-weight: $font-family-weight-semibold;
        font-size: 14px;
        margin-bottom: 15px;
    }
    input, textarea{
        padding: 10px 15px;
        border: 1px solid $lightest-gray-B;
        background-color: $whitest;
        font-size: 15px;
        font-weight: $font-family-weight-regular;
        margin-bottom: 20px;
    }
    input[type="text"]{
        width: 100%;
        height: 40px;
    }
    textarea{
        width: 100%;
        height: 130px;
    }
    .alert{
        margin-bottom: 20px;
    }
    .alert-info{
        color: $medium-gray;
    }
    .alert-success{
        color: $green-flag;
        font-weight: $font-family-weight-semibold;
    }
    .alert-warning, .alert-danger{
        color: $cherry-red;
    }
    .alert-danger{
        color: $cherry-red;
        font-weight: $font-family-weight-semibold;
    }
    button#submit{
        @include buttonLink($cherry-red, $whitest);
        &:hover{
            border: 1px solid $cherry-red;
        }
    }
    p#returnmessage{
        font-family: $titillium-web-font-family;
        color: $medium-gray-B;
        font-weight: $font-family-weight-regular;
        font-size: 12px;
    }
    p#returnmessage, label{
        span{
            color: $cherry-red;
        }
    }
}