#popup-newsletter {
    @include transition(all 0.5s ease-out);
    $max-width: 295px;
    background-color: $lightest-gray-A;
    display: none;
    height: 150px;
    max-width: $max-width;
    position: fixed;
    right: 0;
    top: 50%;
    width: 100%;
    z-index: 99999999;

    &.show {
        display: block;
    }

    * {
        &:focus {
            outline: none;
        }
    }

    &,
    .tab {
        @include border-radius(5px 0px 0px 5px);
    }

    .tab,
    .form-container {
        display: inline-block;
        vertical-align: middle;
    }

    .tab {
        background-color: $cherry-red;
        height: 150px;
        cursor: pointer;
        text-align: center;
        width: 35px;

        &:after {
            @include transition(all 0.5s ease-out);
            background-image: url("/arquivos/assets_common_arrows_arrow-newsletter.png");
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: inline-block;
            height: image-height("/common/arrows/arrow-newsletter.png") / 2;
            margin: 68px 0;
            width: image-width("/common/arrows/arrow-newsletter.png") / 2;

        }
    }

    .form-container {
        padding: 0 20px;
        position: relative;
        width: calc(100% - 39px);

        h3,
        p {
            font-family: $titillium-web-font-family;
            font-weight: $font-family-weight-semibold;
        }

        h3 {
            color: $cherry-red;
            font-size: 18px;
            margin: 0 0 18px;

            &.subscribed {
                display: none;
            }
        }

        p {
            font-size: 14px;
            margin: 0 0 15px;

            &.newsletter-prompt {
                bottom: -28px;
                color: $cherry-red;
                font-size: 9px;
                font-weight: $font-family-weight-regular;
                padding: 0 0 0 2px;
                position: absolute;

                &.success {
                    display: none;
                }
            }

            span {
                color: $cherry-red;
            }
        }

        form {
            input {
                display: inline-block;
                height: 34px;
                vertical-align: middle;
                width: 34px;
            }

            .newsletter-email {
                @include border-radius(2px 0px 0px 2px);
                border: thin $light-gray solid;
                padding: 0 10px;
                width: calc(100% - 37px);
            }

            .newsletter-submit {
                @include border-radius(0px 2px 2px 0px);
                @include animation(enterNewletterIcon ease-out 2s);
                @include animation-fill-mode(forwards);
                background-color: $cherry-red;
                background-image: url("/arquivos/assets_common_send-newsletter.png");
                background-position: -200% 200%;
                background-repeat: no-repeat;
                background-size: image-width("/common/send-newsletter.png") / 2 image-height("/common/send-newsletter.png") / 2;
                border: none;
                cursor: pointer;
                margin: 0 0 0 -4px;

                &.animate {
                    @include animation(sendNewletter ease-out 1s);
                    @include animation-fill-mode(forwards);
                    @include animation-iteration-count(1);
                    background-position: 200% -200%;
                }
            }
        }
    }

    &.hidden {
        right: -260px;

        .tab {
            &:after {
                @include transform(rotate(540deg));
            }
        }
    }

    &.user-subscribed {
        .form-container {
            h3 {
                display: none;

                &.subscribed {
                    display: block;
                    margin: 0;
                }
            }

            p {
                display: none;
            }

            form {
                display: none;
            }
        }
    }

    @include bp(max-width, $bp-medium) {
        &.show {
            display: none;
        }
    }
}

@keyframes sendNewletter {
    0% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 200% -200%;
    }
}

@keyframes enterNewletterIcon {
    0% {
        background-position: -200% 200%;

    }

    100% {
        background-position: 50% 50%;
    }
}