#olark-wrapper {
    font-family: $titillium-web-font-family !important;

    .olark-launch-button {
        &.olark-size-md {
            background: $cherry-red !important;
        }
    }

    #olark-container {
        .olark-top-bar {
            background: $cherry-red !important;
            border-color : $cherry-red !important;
        }

        .olark-conversation-container {
            .olark-form-container {
                .olark-form {
                    .olark-form-send-button {
                        background: $cherry-red !important;
                    }
                }
            }
            .olark-form-confirmation-icon .olark-launch-button-icon{
                fill: $cherry-red!important;
            }
        }
        .olark-branding-link a{
            cursor: auto !important;
        }
    }
}

