//Owl custom styles
.page .owl-carousel {
    .owl-item {
        img {
            height: auto;
        }
    }
}

.page .owl-theme {
    .owl-dots {
        @include transform(translateX(50%));
        right: 50%;
        margin-top: 10px;
        position: absolute;
        bottom: -30px;
        z-index: -1;

        .owl-dot {
            span {
                background: $whitest;
                border: 1px solid $light-gray;
                width: 12px;
                height: 12px;
                margin: 5px 4px;
            }

            &.active {
                span {
                    background: $cherry-red;
                    border: 1px solid $cherry-red;
                }
            }
        }
    }
}

.owl-carousel .owl-nav {
    .owl-prev,
    .owl-next {
        $size: 40px;
        @include border-radius(50%);
        background-color: $whitest;
        border: 1px solid $medium-gray;
        height: $size;
        opacity: 1;
        position: absolute;
        top: 180px;
        width: $size;
        
        @include bp(max-width, $bp-medium) {
            display: none;
        }

        &:hover {
            background-color: $whitest;
        }

        &:before {
            @include sliderArrowLeft();
        }
    }

    .owl-next {
        &:before {
            @include transform(rotate(180deg));
        }
    }
}