.modal-payment,
.modal-affinity,
.modal-shipping,
.creditcard-legal{
    @include box-shadow(0px 0px 7px 2px rgba(0, 0, 0, 0.3));
    @include translate(-50%, -50%);
    background-color: $whitest;
    display: none;
    left: 50%;
    max-height: 550px;
    padding: 55px 35px;
    position: fixed;
    top: 50%;
    width: 900px;
    z-index: 99999;

    h4 {
        font-family: $titillium-web-font-family;
        font-weight: $font-family-weight-semibold;
        font-size: 18px;
        color: $medium-gray-B;
        width: 100%;
        border-bottom: 1px solid $lightest-gray-A;
        padding-bottom: 15px;
        img {
            width: 36px;
            display: inline-block;
            margin: 0 15px 0 0;
            vertical-align: bottom;
        }
    }
    span.closing-cross {
        display: block;
        position: absolute;
        top: 24px;
        right: 20px;
        width: 17px;
        height: 17px;
        background: url("/arquivos/assets_filters_closing-arrow.png") no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 999999;
    }
    @include bp(max-width, $bp-large) {
        span.closing-cross {
            top: 17px;
        }
    }

    @include bp(max-width, $bp-large) {
        position: fixed;
        width: 300px;
        padding: 40px 10px;
        width: 300px;
    }
}

.modal-payment {
    overflow: hidden;

    h4 {
        margin-bottom: 15px;
    }

    .modal-big-row {
        border-top: 1px solid $lightest-gray-A;
        display: inline-block;
        padding-top: 5px;
        vertical-align: top;

        .modal-little-row {
            cursor: pointer;
            padding: 10px;
            padding-right: 25px;
            border-bottom: 1px solid $lightest-gray-A;

            h5 {
                color: $dark-gray;
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-regular;
                font-size: 14px;
                display: inline-block;

                br {
                    display: none;
                }
            }

            input[type="text"] {
                padding: 10px 15px;
                border: 1px solid $lightest-gray-B;
                background-color: $whitest;
                font-size: 15px;
                font-weight: $font-family-weight-regular;
                color: $dark-gray;
                width: 180px;
                height: 40px;
            }

            span {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                display: inline-block;
                vertical-align: middle;
                width: 40px;
            }

            &.active {
                background-color: $lightest-gray-A;
            }

            &.mercadopago h5 span {
                background-image: url('/arquivos/assets_product_mp-logo.png');
                height: 26px;
                width: 110px;

            }

            &.banktransference h5 span {
                background-image: url('/arquivos/assets_product_bank-small-logo.png');
                height: image-height('/product/bank-small-logo.png') / 2;
                margin-right: 10px;
            }

            &.cash {
                padding-right: 10px;
                h5 span {
                    background-image: url('/arquivos/assets_product_icon-boleto.png');
                    height: 25px;
                    margin-right: 10px;
                }
            }
        }
    }

    .modal-dropdowns {
        border: 1px solid $lightest-gray-A;
        display: inline-block;
        overflow-y: auto;
        padding: 20px 0 55px 35px;
        vertical-align: top;
        width: calc(100% - 230px);

        h1,
        h2,
        h3,
        h4,
        h5,
        p, fieldset label, select {
            font-family: $titillium-web-font-family;
        }

        .installments-form {
            fieldset {
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 40px;
                position: relative;
                width: 29%;

                &.unenable {
                    z-index: -1;
                }

                label, select {
                    font-size: 14px;
                    color: $dark-gray;
                }
                label {
                    font-weight: $font-family-weight-semibold;
                }
                select {
                    @include border-radius(2px);
                    @include appearance(none);
                    background-color: #ffffff;
                    border: 1px solid #cfcfcf;
                    display: block;
                    font-weight: $font-family-weight-regular;
                    margin-top: 10px;
                    outline: none;
                    padding: 5px 25px 5px 5px;
                    width: 100%;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 8px;
                    background: url('/arquivos/assets_common_arrows_arrow-down-grey.png') no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    z-index: 2;
                }
            }
        }
        .values {
            text-align: center;

            .financial {
                margin: 0 0 20px;

                p {
                    display: inline-block;
                    font-size: 15px;
                    width: 33.3333%;

                    span {
                        display: block;
                    }

                    @include bp(max-width, $bp-large) {
                        display: block;
                        font-size: 15px;
                        margin: 0 0 5px;
                        width: auto;
                    }
                }
            }

            .tea {
                font-family: $titillium-web-font-family;
                font-size: 18px;
                margin-right: 30px;
            }

            .cft {
                font-family: $titillium-web-font-family;
                font-size: 30px;
                font-weight: 600;
            }
        }

        .banner img {
            max-width: 100%;
            margin-bottom: 30px;
        }

        > div {
            display: none;

            &.active {
                display: block;
            }
        }
        .cash {
            h5 {
                line-height: 18px;
            }
        }
    }

    @include bp(max-width, $bp-large) {
        height: 80vh;
        overflow-y: scroll;
        padding: 40px 15px;
        .modal-big-row, .modal-dropdowns {
            display: block;
            width: 100%;
            overflow: visible;
        }

        .modal-dropdowns {
            border: none;
            padding: 20px 0 0;

            .banner img {
                margin-bottom: 20px;
            }

            .installments-form{
                fieldset {
                    margin: 0 0 20px;
                    display: block;
                    width: 100%;
                }
            }

            .values {
                .tea, .cft {
                    display: block;
                }

                .tea {
                    margin: 0 0 20px;
                }
            }
        }
    }
}

.creditcard-legal {
    > div {
        display: none;

        &.active {
            display: block;
        }
    }

    span.closing-cross {
        display: block;
        position: absolute;
        top: 24px;
        right: 20px;
        width: 17px;
        height: 17px;
        background: url("/arquivos/assets_filters_closing-arrow.png") no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 999999;
    }

    @include bp(max-width, $bp-large) {
        span.closing-cross {
            top: 17px;
        }
    }

    .wrap {
        border: $lightest-gray-A thin solid;
        padding: 25px;
    }

    .installments {
        color: $medium-gray-B;
        font-family: $titillium-web-font-family;
        font-weight: $font-family-weight-semibold;
        font-size: 18px;
        margin: 0 0 40px 0;

        span {
            background-image: url(/arquivos/assets_product_card.png);
            background-size: contain;
            display: inline-block;
            height: image-height('/product/card.png') / 2;
            margin: 0 15px 0 0;
            vertical-align: middle;
            width: image-width('/product/card.png') / 2;
        }
    }

    .col {
        display: inline-block;
        vertical-align: top;

        &.bank {
            text-align: center;
            width: 30%;

            .bank-image {
                margin: 0 0 10px;
            }

            .date {
                color: $medium-gray;
                font-family: $titillium-web-font-family;
                font-size: 13px;
                margin: 0 0 30px;
            }

            .cost {
                color: $medium-gray-B;
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-semibold;
                font-size: 14px;
                text-transform: uppercase;
            }

            .cft {
                color: $medium-gray-B;
                font-family: $titillium-web-font-family;
                font-size: 60px;
                margin: 10px 0 0;
            }
        }

        &.legal {
            color: $medium-gray;
            font-family: $titillium-web-font-family;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            width: 70%;
        }
    }

    @include bp(max-width, $bp-large) {
        .wrap {
            padding: 25px 5px;
        }

        .col {
            &.legal,
            &.bank {
                width: 100%;
            }

            &.bank {
                margin-bottom: 20px;
            }

            &.legal {
                max-height: 200px;
                overflow-y: auto;
            }

        }
    }
}

.modal-shadow {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: $lightest-gray-A;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.modal-shipping{
    @include bp(max-width, $bp-large) {
        position: fixed;
    }
}