.product-card,
.produto {
    .product-rating,
    .rating-produto {
        margin: 10px 0;
        > div {
            background-size: contain;
            height:image-height("/common/rating/rating-0.png") / 2;
            width:image-width("/common/rating/rating-0.png") / 2;
        }

        $ratings: 0, 10, 20, 30, 40, 50;
        @each $rating in $ratings {
            .game-icons-#{$rating} {
                $rating : $rating / 10;
                background-image: url("/arquivos/assets_common_rating_rating-#{$rating}.png");
            }
        }
    }
}
