.product-card {
    .product-card-container {
        background-color: $whitest;
        cursor: pointer;
        display: block;
        font-family: $titillium-web-font-family;
        font-weight: $font-family-weight-regular;
        height: 380px;
        max-height: 380px;
        padding: 20px;
        position: relative;

        .product-image {
            position: relative;

            .main-image,
            .secondary-image,
            .fallback-image {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 200px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .main-image {
                position: relative;
                z-index: 1;

                &:empty {

                    + .secondary-image {
                        display: none;

                        + .fallback-image {
                            position: relative;
                            display: block;
                            z-index: 0;
                        }
                    }
                }
            }

            .secondary-image {
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: opacity 1s, visibility 1s;
                
                &:empty {

                    + .fallback-image {
                        display: none;
                    }
                }
            }

            .fallback-image {
                display: none;
            }
        }

        .product-data {
            margin: 15px 0 0;
            p, .custom-title ul {
                position: relative;
                overflow: hidden;
                &:after{
                    content: "";
                    text-align: right;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
                }
            }
            p {
                color: $medium-gray;
                font-size: 14px;
                line-height: 16px;
                height: 50px;
                text-transform: capitalize;
                &:after{
                    width: 70%;
                    height: 16px;
                }
            }

            .custom-title {
                font-size: 0;
                min-height: 20px;
                
                ul {
                    height: 23px;
                    &:after{
                        width: 50%;
                        height: 23px;
                    }

                    li {
                        color: $cherry-red;
                        display: inline-block;
                        font-size: 13px;
                        float: none;
                        line-height: 20px;
                        text-transform: uppercase;
                        width: auto;
                        
                        &:after {
                            content: '/';
                            display: inline-block;
                            margin: 0 2px;
                        }

                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }

            .product-rating {
                margin: 5px 0 10px;
            }

            .product-prices {
                .price {
                    height: 35px;
                    line-height: 35px;
                    @include bp(max-width, $bp-medium) {
                        height: 65px;
                    }

                    &.best-price {
                        line-height: 21px;
                        .flag {
                            @include border-radius(3px);
                            border: 1px solid $green-flag;
                            margin-left: 2%;
                            padding: 0 5px 1px;
                            position: absolute;

                            &.discount, &.discount-benefit {
                                @include border-radius(3px 0 0 3px);
                                color: $green-flag;
                                font-size: 14px;
                                font-weight: $font-family-weight-semibold;
                                min-width: 65px;
                                text-align: center;

                                @include bp(max-width, $bp-medium) {
                                    display: block;
                                    font-size: 14px;
                                    padding: 0 5px 1px;
                                    margin: 10px 0;
                                }
                            }

                            &.discount-benefit {
                                @include border-radius(0 3px 3px 0);
                                background-color: $green-flag;
                                color: $whitest;
                                margin-left: 68px;
                                text-align: center;
                                min-width: 65px;

                                &:before {
                                    content: "-";
                                }

                                @include bp(max-width, $bp-medium) {
                                    font-size: 14px;
                                    margin: 10px 0 0 65px;
                                    min-width: 60px;
                                }
                            }
                        }
                    }

                    .old-price {
                        display: block;
                        color: $medium-gray;
                        font-size: 13px;
                        line-height: 14px;
                        text-decoration: line-through;
                    }

                    .regular-price {
                        color: $dark-gray;
                        font-size: 18px;
                        font-weight: $font-family-weight-semibold;
                        line-height: 16px;
                        vertical-align: bottom;

                        &.best-price {
                            color: $cherry-red;
                        }
                    }
                }

                .out-of-stock {
                    display: inline-block;
                    padding: 20px 0px 0px;
                }
            }
        }

        .product-buttons {
            border-top: 1px solid $lightest-gray-A;
            bottom: 0;
            display: none;
            left: 0;
            padding: 10px 20px;
            position: absolute;
            width: 100%;
            min-height: 44px;
            z-index: 99;

            > a {
                color: $cherry-red;
                display: inline-block;
                font-size: 14px;
                line-height: 32px;
                font-weight: $font-family-weight-semibold;
                text-decoration: none;
                text-transform: uppercase;
                padding: 0 0 0 15px;
            }

            > div {
                display: inline-block;
                vertical-align: middle;
                float: right;

                a {
                    @include buttonLink($cherry-red, $whitest, 14px);
                    padding: 10px 20px;
                    border: none;

                    &:hover {
                        background: $cherry-red;
                        color: $whitest;
                    }
                }
            }
        }
    }

    &:hover {
        height: 380px;

        .product-image {

            .secondary-image {
                opacity: 1;
                visibility: visible;
            }
        }


        .product-card-container {
            @include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.6));
            min-height: 440px;
            min-width: 250px;
            position: absolute;


            .product-prices {
                bottom: 79px;
            }

            .product-buttons {
                display: block;
            }
        }
    }

    /*MOBILE*/
    @include bp(max-width, $bp-medium) {
        &:hover {
            height: auto;
            max-height: 100%;
        }

        .product-card-container {
            height: auto;
            max-height: 100%;
            max-width: 260px;
            min-width: auto;
            padding: 10px;

            .product-data {
                margin: 30px 0 0;

                h3 {
                    font-size: 12px;
                }

                p {
                    font-size: 13px;
                }

                .product-prices {
                    margin-bottom: 15px;

                    span {
                        &.price {
                            .old-price {
                                font-size: 12px;
                            }

                            .regular-price {
                                font-size: 16px;

                                &.best-price {
                                    color: $cherry-red;
                                }
                            }
                        }
                    }
                }
            }

            .product-buttons {
                display: block;
                text-align: center;
                position: relative;
                bottom: auto;
                left: auto;
                padding: 10px 20px 0;

                > a {
                    display: none;
                }

                > div {
                    float: none;
                }
            }
        }

        &:hover {
            .product-card-container {
                @include box-shadow(none);
                min-height: auto;
                min-width: auto;
                position: relative;
            }
        }
    }

    @include bp(max-width, $bp-small) {
        .product-card-container {
            .product-data {
                .custom-title {
                    min-height: 40px;
                    ul{
                        height: 35px;
                        &:after{
                            width: 60%;
                            height: 16px;
                        }
                    }
                }
                p{
                    height: 50px;
                    &:after{
                        width: 75%;
                    }
                }
            }
        }
    }

    @include bp(max-width, $bp-xsmall) {
        .product-card-container {
            .product-data {
                p {
                    min-height: 50px;
                }
            }

            .product-buttons {
                padding: 10px 0 0;
            }
        }
    }
}

.grid .product-card .product-card-container .product-data .product-prices .price.best-price .flag {
    margin-left: 2%;
    
    &.discount {
        @include bp(max-width, $bp-large) {
            display: block;
            font-size: 14px;
            padding: 0 6px;
            margin: 10px 0;
        }

        @include bp(max-width, $bp-xlarge) {
            @include bp(min-width, $bp-large) {
                margin-left: 0;
            }
        }
    }

    &.discount-benefit {
        margin-left: 68px;
        min-width: 62px;

        @include bp(max-width, $bp-large) {
            margin: 10px 0 0 65px;
            min-width: 60px;
            padding: 0 5px;
        }

        @include bp(max-width, $bp-xlarge) {
            @include bp(min-width, $bp-large) {
                margin-left: 65px;
            }
        }
    }

    &.discount, &.discount-benefit {
        @include bp(max-width, $bp-xlarge) {
            @include bp(min-width, $bp-large) {
                display: block;
                margin-top: 2px;
            }
        }
    }
}

@include bp(max-width, $bp-medium - 16px) {
    div {
        &.prateleira {
            ul {
                li {
                    border: 1px solid $lightest-gray-E;
                    box-sizing: border-box;
                }
            }
        }
    }
}