.body-cart {
    background-color: $lightest-gray-A;
    font-family: $titillium-web-font-family;

    .container {
        margin: 0 auto;
        max-width: $bp-xlarge;
        padding: 0 10px;
        width: 100%;
        min-height: 585px;

        #cart-title {
            color: $cherry-red;
            font-size: 34px;
            margin: 30px 0;
        }

        .checkout-container {
            .cart-template-holder,
            .summary-template-holder,
            .cart-links-bottom {
                @include border-radius(2px);
                border: none;
            }

            .cart-template-holder,
            .summary-template-holder {
                background-color: $whitest;
                display: inline-block;
                vertical-align: top;
            }

            .cart-select-gift-placeholder {
                display: none;
            }

            .cart-template-holder {
                float: left;
                margin: 0 20px 0 0;
                width: calc(100% - 405px);

                .cart {
                    border: none;
                    margin: 0;
                    padding: 30px 40px;

                    .table {
                        thead {
                            border-bottom: $lightest-gray-A thin solid;

                            tr {
                                border-bottom: $lightest-gray-A thin solid;

                                th {
                                    font-size: 14px;
                                    font-weight: $font-family-weight-semibold;
                                }

                                &:last-child {
                                    border: none;
                                }
                            }
                        }

                        tbody {
                            tr {
                                border-bottom: $lightest-gray-A thin solid;
                                border-top: none;

                                td {
                                    &.product-name a,
                                    &.shipping-date,
                                    &.product-price,
                                    &.quantity input {
                                        color: $medium-gray;
                                        font-size: 14px;
                                    }

                                    &.product-name {
                                        .brand {
                                            display: none;
                                        }
                                    }

                                    &.product-price {
                                        white-space: nowrap;

                                        .old-product-price-label,
                                        .new-product-price-label {
                                            display: none;
                                        }

                                        .list-price:not(.hide) {
                                            ~ .best-price {
                                                .new-product-price {
                                                    color: $cherry-red;
                                                }
                                            }
                                        }
                                    }

                                    &.quantity {
                                        position: relative;
                                        height: 77px;
                                        width: 60px;

                                        input {
                                            @include border-radius(2px);
                                            height: 35px;
                                            padding: 4px 23px 4px 10px;
                                            text-align: left;
                                            width: 100%;
                                        }

                                        .item-quantity-change {
                                            background-image: url("/arquivos/assets_checkout_cart_arrow.png");
                                            background-size: contain;
                                            height: image-height("/checkout/cart/arrow.png") / 2;
                                            left: auto;
                                            position: absolute;
                                            right: 10px;
                                            width: image-width("/checkout/cart/arrow.png") / 2;

                                            i {
                                                display: none;
                                            }

                                            &.item-quantity-change-increment {
                                                @include transform(translateY(-12px));
                                                top: 50%;
                                            }

                                            &.item-quantity-change-decrement {
                                                @include transform(rotate(180deg) translateY(-12px));
                                                bottom: 50%;
                                            }
                                        }
                                    }

                                    &.quantity-price {
                                        color: $medium-gray;
                                        font-size: 18px;
                                        font-weight: $font-family-weight-semibold;
                                        white-space: nowrap;
                                    }

                                    &.item-remove {
                                        a {
                                            background-image: url("/arquivos/assets_checkout_cart_delete-product.png");
                                            background-size: contain;
                                            display: block;
                                            height: image-height("/checkout/cart/delete-product.png") / 2;
                                            width: image-width("/checkout/cart/delete-product.png") / 2;

                                            .icon {
                                                &:before {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .empty-cart-content {
                padding: 25px;
                width: calc(100% + 405px);
                background: white;

                a {
                    color: $whitest;
                    background: $cherry-red;
                    border: 1px solid $cherry-red;
                    font-size: 15px;
                    @include border-radius(2px);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-semibold;
                    padding: 10px 20px;
                    display: inline-block;
                    &:hover {
                        border: 1px solid $cherry-red;
                        background: $whitest;
                        color: $cherry-red;
                    }
                }
            }
            .summary-template-holder {
                float: right;
                padding: 30px 40px 0;
                width: 381px;

                .coupon-column {
                    float: none;
                    width: 100%;

                    .summary-coupon {
                        float: none;
                        text-align: center;

                        .coupon-data {
                            float: none;

                            a.link-coupon-add {
                                @include border-radius(2px);
                                border: $medium-gray thin solid;
                                color: $medium-gray;
                                display: block;
                                padding: 15px 0;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                        }

                        .coupon-label {
                            color: $medium-gray;
                            font-size: 14px;
                            font-weight: $font-family-weight-semibold;
                            margin: 0 0 15px;
                            text-align: left;
                        }

                        .coupon-fields {
                            input,
                            button {
                                @include border-radius(2px);
                                border: $medium-gray thin solid;
                                color: $medium-gray;
                                font-family: $titillium-web-font-family;
                                font-size: 14px;
                                height: 35px;
                                width: 50%;
                            }

                            input {
                                max-width: none;
                            }

                            button {
                                background: $medium-gray;
                                color: $whitest;
                                margin: 0 0 0 -4px;
                                text-transform: uppercase;

                                &:hover {
                                    background: $medium-gray;
                                }
                            }
                        }
                    }
                }

                .summary-totalizers {
                    float: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    .accordion-group {
                        .table {
                            margin: 25px 0 0;

                            tbody {
                                tr {
                                    border-top: 1px solid #f4f4f4;

                                    td {
                                        &.info,
                                        &.monetary {
                                            color: $medium-gray;
                                            font-size: 14px;
                                        }

                                        &.info {
                                            text-align: left;
                                        }

                                        &.monetary {
                                            text-align: right;
                                        }

                                        &.empty {
                                            display: none;
                                        }
                                    }
                                }

                                &.shipping-calculate {
                                    tr {
                                        td {
                                            &.monetary {
                                                #shipping-calculate-link {
                                                    color: $medium-gray;
                                                }

                                                .shipping {
                                                    .shipping-fields {
                                                        text-align: right;

                                                        input,
                                                        button {
                                                            @include border-radius(2px);
                                                            border: $medium-gray thin solid;
                                                            color: $medium-gray;
                                                            font-family: $titillium-web-font-family;
                                                            font-size: 14px;
                                                            height: 35px;
                                                        }

                                                        input {
                                                            max-width: none;
                                                            width: 95px;
                                                        }

                                                        button {
                                                            background: $medium-gray;
                                                            color: $whitest;
                                                            margin: 0 0 0 -4px;
                                                            text-transform: uppercase;

                                                            &:hover {
                                                                background: $medium-gray;
                                                            }
                                                        }

                                                        .help {
                                                            color: $cherry-red;
                                                        }
                                                    }

                                                    #cart-dont-know-postal-code {
                                                        color: $medium-gray;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            tfoot {
                                tr {
                                    td {
                                        &.info,
                                        &.monetary {
                                            font-size: 18px;
                                            font-weight: $font-family-weight-semibold;
                                        }

                                        &.info {
                                            text-align: left;
                                        }

                                        &.monetary {
                                            text-align: right;
                                        }

                                        &.empty {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cart-links-bottom {
                background-color: $whitest;
                clear: right;
                margin: 0;
                padding: 0 40px 105px 48px;
                width: 381px;

                .link-choose-more-products-wrapper {
                    bottom: 65px;
                    position: absolute;

                    &:after {
                        background-image: url("/arquivos/assets_checkout_cart_secure-site.png");
                        background-size: contain;
                        content: '';
                        display: inline-block;
                        height: image-height("/checkout/cart/secure-site.png") / 2;
                        margin: 0 0 0 35px;
                        vertical-align: middle;
                        width: image-width("/checkout/cart/secure-site.png") / 2;
                    }

                    a.link-choose-more-products {
                        color: $medium-gray;
                        font-size: 14px;
                    }
                }

                .btn-place-order-wrapper {
                    a.btn-place-order {
                        @include border-radius(2px);
                        background: $cherry-red;
                        border: none;
                        color: $whitest;
                        font-size: 15px;
                        font-weight: $font-family-weight-semibold;
                        text-transform: uppercase;
                        width: 100%;
                    }
                }
            }
        }
    }
}

#popup-politics {
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;

    &.show-popup {
        display: block;
    }

    &:before {
        background-color: rgba(255, 255, 255, 0.8);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        width: 100%;
    }

    .popup-wrapper {
        @include border-radius(2px);
        @include box-shadow(1px 1px 14px -2px rgba(0, 0, 0, 0.75));
        @include transform(translateX(-50%));
        background-color: $whitest;
        left: 50%;
        height: 70%;
        overflow: hidden;
        padding: 50px;
        position: fixed;
        top: 90px;
        width: 60%;
        z-index: 9999;

        .popup-container {
            height: 100%;

            .close {
                background-image: url("/arquivos/assets_checkout_cart_close-popup.png");
                background-size: contain;
                float: right;
                height: image-height("/checkout/cart/close-popup.png") / 2;
                margin: -30px -30px 0 0;
                opacity: 1;
                width: image-width("/checkout/cart/close-popup.png") / 2;
            }

            h2 {
                border-bottom: $lightest-gray-A thin solid;
                color: $medium-gray;
                font-size: 18px;
                font-weight: $font-family-weight-semibold;
                padding: 0 0 15px;
                width: 100%;
            }

            .text-container {
                height: 100%;
                padding: 20px 25px 0;
                overflow-y: scroll;

                h3,
                p {
                    font-size: 14px;
                    margin: 0 0 15px;
                }

                h3 {
                    color: $dark-gray;
                    font-weight: $font-family-weight-semibold;
                }

                p {
                    color: $medium-gray;
                }
            }
        }
    }

}

/*------------------------------
            MOBILE
------------------------------- */
@include bp(max-width, $bp-xlarge) {
    .body-cart {
        .container {
            #cart-title {
                font-size: 26px;
                margin: 30px 10px;
            }

            .checkout-container {
                .cart-template-holder {
                    margin: 0;
                    width: 100%;
                }

                .summary-template-holder {
                    float: right;
                    margin: 30px 0 0 0;
                }

                .cart-links-bottom {
                    clear: right;
                }

                .empty-cart-content {
                    width: 100%;
                }
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    .body-cart {
        .container {
            padding: 0 10px !important;

            #cart-title {
                margin: 20px 0;
            }

            .checkout-container {
                .cart-template-holder {
                    .cart {
                        padding: 30px 10px;
                    }
                }

                .summary-template-holder {
                    float: none;
                    margin: 10px 0 0 0;
                    padding: 30px 10px;
                    width: 100%;

                    .summary .coupon,
                    .summary .shipping {
                        width: 210px;
                    }
                }

                .cart-template-holder {
                    .cart {
                        .table {
                            tbody {
                                tr {
                                    td {
                                        &.quantity {
                                            height: 40px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

                .cart-links-bottom {
                    clear: right;
                    padding: 30px 10px 105px;
                    width: 100%;

                    .link-choose-more-products-wrapper {
                        left: 10px;
                        text-align: left;
                        width: 100%;

                        &:after {
                            float: right;
                            margin: 0 20px 0 0;
                        }

                        a.link-choose-more-products {
                            display: inline-block;
                            margin: 20px 0 0;
                        }
                    }
                }
            }
        }

        #popup-politics {
            .popup-wrapper {
                padding: 50px 10px;
                width: 95%;

                .popup-container {
                    .close {
                        margin: -30px 0 0;
                    }
                }
            }
        }
    }
}

@include bp(max-width, $bp-small) {
    .body-cart {
        .container {
            .checkout-container {
                .cart-template-holder {
                    .cart {
                        padding: 30px 10px;
                    }

                    .cart {
                        .table {
                            tbody {
                                tr {
                                    td {
                                        &.product-price {
                                            span {
                                                white-space: nowrap;
                                            }
                                            .best-price {
                                                font-size: 18px;
                                                font-weight: $font-family-weight-semibold;
                                                
                                                .discount {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .summary-template-holder {
                    .coupon-column {
                        .summary-coupon {
                            width: 100%;
                        }
                    }
                }

                .cart-links-bottom {
                    padding: 30px 10px 105px;
                    width: 100%;
                }
            }
        }
    }
}