body.body-order-form {
    background-color: $lightest-gray-A;
    font-family: $titillium-web-font-family;

    .container {
        max-width: 1178px;
        margin: 0 auto;
        width: 100%;

        #orderform-title {
            color: $cherry-red;
            font-size: 34px;
            margin: 35px 0;
        }

        .checkout-container {
            margin: 0 0 10px;
            overflow: visible;

            .orderform-template {
                .orderform-template-holder {
                    .form-page  {
                        min-height: 560px;

                        &.client-pre-email {
                            border: none;
                            box-shadow: 0 0 0 10px $whitest;
                            padding: 0 25px;
                            top: -25px;

                            p.link-cart {
                                position: absolute;
                                right: 25px;

                                #orderform-to-cart {
                                    color: $dark-gray;
                                    font-size: 14px;
                                }

                                @include bp(max-width, $bp-medium) {
                                    position: relative;
                                    right: inherit;
                                }
                            }


                            fieldset {
                                &.pre-email {
                                    .client-pre-email-h {
                                        margin: 0 0 35px;
                                        text-align: center;

                                        span {
                                            color: $medium-gray;

                                            &:first-child {
                                                color: $dark-gray;
                                                display: block;
                                                font-size: 28px;
                                            }

                                            &:last-child {
                                                font-size: 24px;
                                            }
                                        }

                                        label {
                                            margin-top: 0;

                                            @include bp(max-width, $bp-xsmall) {
                                                margin-top: 8px;
                                            }
                                        }
                                    }

                                    .client-email {
                                        text-align: left;

                                        input,
                                        button {
                                            height:45px;
                                        }

                                        input {
                                            @include border-radius(2px 0px 0px 2px);
                                            border: $light-gray thin solid;
                                            color: $dark-gray;
                                            font-size: 15px;
                                            width: calc(100% - 110px);
                                        }

                                        button {
                                            @include border-radius(0px 2px 2px 0px);
                                            background: $cherry-red;
                                            border: none;
                                            color: $whitest;
                                            font-size: 15px;
                                            font-weight: $font-family-weight-semibold;
                                            margin: -2px 0 0 0;
                                            text-transform: uppercase;
                                            width: 110px;
                                        }
                                    }
                                }
                            }

                            .emailInfo {
                                @include border-radius(2px);
                                background: $lightest-gray-A;
                                border: none;
                                max-width: 595px;
                                padding: 25px 40px;
                                width: 100%;

                                h3 {
                                    font-size: 18px;
                                    margin: 0 0 20px;

                                    &:before {
                                        background-image: url("/arquivos/assets_checkout_pre-checkout_padlock.png");
                                        background-size: contain;
                                        content:'';
                                        display: inline-block;
                                        height: image-height("/checkout/pre-checkout/padlock.png") / 2;
                                        margin: 0 10px 0 0;
                                        width: image-width("/checkout/pre-checkout/padlock.png") / 2;
                                        vertical-align: baseline;
                                    }
                                }

                                ul {
                                    li {
                                        margin: 0 0 15px;

                                        &:last-child {
                                            margin: 0;
                                        }

                                        .icon-ok {
                                            &:before {
                                                background-image: url("/arquivos/assets_checkout_pre-checkout_green-arrow.png");
                                                background-size: contain;
                                                content: '';
                                                display: inline-block;
                                                height: image-height("/checkout/pre-checkout/green-arrow.png") / 2;
                                                margin: 0 10px 0 0;
                                                width: image-width("/checkout/pre-checkout/green-arrow.png") / 2;
                                            }
                                        }

                                        span {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                .icon-lock {
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #popup-politics,
    .payment-method {
        display: none;
    }

/*------------------------------
            MOBILE
------------------------------- */
    @include bp(max-width, $bp-large) {
        .precheckout-info {
            margin: 0 auto;
        }
    }

    @include bp(max-width, $bp-medium) {
        .container {
            margin: 0 10px;
            width: auto;

            #orderform-title {
                font-size: 26px;
            }

            .checkout-container {
                margin: 0 0 10px;
                overflow: visible;

                .orderform-template {
                    .orderform-template-holder {
                        .form-page  {
                            &.client-pre-email {
                                padding: 0 10px;

                                fieldset {
                                    &.pre-email {
                                        .client-pre-email-h {
                                            span {
                                                &:first-child {
                                                    display: block;
                                                    font-size: 26px;
                                                }
                                            }

                                            span:last-child,
                                            small {
                                                font-size: 20px;
                                                margin: 10px 0 0 0;
                                            }
                                        }

                                        .client-email {
                                            text-align: left;

                                            input,
                                            button {
                                                height:45px;
                                            }

                                            input {
                                                @include border-radius(2px);
                                                margin: 0 0 15px;
                                                width: 100%;
                                            }

                                            button {
                                                @include border-radius(2px);
                                                position: static;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .precheckout-info {
            margin: 0 10px 30px;

            .precheckout-info-container {
                padding: 30px 10px;

                .box {
                    display: block;
                    text-align: left;
                    margin: 0 0 25px;
                    padding: 0;
                    width: 100%;

                    .icon,
                    .content {
                        display: inline-block;
                        vertical-align: top;
                    }

                    $icons: guaranty, satisfation, shipping, data;
                    @each $icon in $icons {
                        &.#{$icon} {
                            .icon {
                                height: image-height("/checkout/pre-checkout/#{$icon}.png") / 2;
                            }
                        }
                    }

                    &.guaranty,
                    &.satisfation,
                    &.shipping,
                    &.data {
                        .icon {
                            width: 60px;
                        }
                    }

                    .content {
                        width: calc(100% - 65px);

                        h3 {
                            font-size: 14px;
                            margin: 0 0 10px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }

                    &.line {
                        display: none;
                    }
                }
            }
        }
    }
}

.precheckout-info {
    background-color: $whitest;
    max-width: 1178px;
    margin: 20px auto 0;
    display: none;

    .precheckout-info-container {
        padding:40px;
        text-align: center;

        .box {
            display: inline-block;
            padding: 0 40px;
            position: relative;
            vertical-align: top;
            width: 24%;

            h3 {
                font-size: 16px;
                font-weight: $font-family-weight-semibold;
                margin: 0 0 15px;
                text-transform: capitalize;
            }

            p {
                color: $medium-gray;
                font-size: 14px;
            }

            $icons: guaranty, satisfation, shipping, data;
            @each $icon in $icons {
                &.#{$icon} {
                    .icon {
                        background-image: url("/arquivos/assets_checkout_pre-checkout_#{$icon}.png");
                        width: image-width("/checkout/pre-checkout/#{$icon}.png") / 2;
                    }
                }
            }

            .icon {
                background-repeat: no-repeat;
                background-size: contain;
                height: 40px;
                margin: 0 auto 15px;

            }

            &.line {
                background-color: $lightest-gray-A;
                display: inline-block;
                height: 125px;
                padding: 0;
                right: 0;
                width: 1px;
            }
        }
    }
}