.body-checkout-confirmation {
    background: $lightest-gray-A;
    font-family: $titillium-web-font-family;
    padding: 0;

    #app-top,
    #app-container.cf {
        .ph3-ns.w-70-ns.db {
            margin: 0 auto;
            max-width: $bp-xlarge;
            padding: 30px;
            width: 100%;
            background-color: $whitest;
            overflow: hidden;
        }
    }

    #app-top {
        h1.f2.black-70 {
            color: $cherry-red;
            font-size: 34px;
            font-weight: $font-family-weight-regular;
            margin: 0 0 30px;
        }
        .cconf-alert.bg-washed-green {
            @include border-radius(0);
            background-color: white;
            border: white;
            padding: 0;

            span.db.f4.fw6.mb4.dark-green {
                font-weight: $font-family-weight-regular;
                color: $green-flag;
                margin-bottom: 20px;
            }
            p.dark-green {
                color: $medium-gray-B;
                line-height: 20px;
            }

            .cconf-client-email {
                font-weight: $font-family-weight-semibold;
            }
        }
    }

    #app-container.cf {

        .ph3-ns.w-70-ns.db {
            padding-top: 0;
        }

        h2.fw4.f3.ma0.lh-copy {
            color: $cherry-red;

            span:not(#order-id){
                &:after {
                    content: ':';
                    display: inline-block;
                    margin-right: 4px;
                }
            }

            + time {
                margin-top: 10px;
                display: inline-block;
                font-weight: $font-family-weight-semibold;

                &:before {
                    content: 'Compra finalizada el ';
                    font-weight: $font-family-weight-regular;
                }
            }
        }

        > .pt4{
            padding: 0;
            overflow: hidden;

            .dib.cf.w-100.pt4 {
                padding: 30px 1px;
            }
        }
        .w-100.pv4.fl{

            div p.mb0 span.dib.br2.pv1.ph2.f7.f6-l.fw5.black-70.nowrap.bg-light-blue.ml2{
                font-size: 13px;
            }

            table.cconf-product-table{
                position: relative;

                td {
                    color: $medium-gray;
                }

                a.fw7.f6.mb0 {
                    color: $medium-gray;
                    font-weight: $font-family-weight-regular;
                    font-size: 13px;
                    line-height: 15px;
                }

                span.f7.gray.db {
                    color: $cherry-red;
                    text-transform: uppercase;
                }
            }

            + div {
                a.cconf-myorders-button, a.cconf-continue-button{
                    @include buttonLink($cherry-red, $whitest);
                    font-size: 14px;
                    padding: 8px 13px;
                    width: auto;
                    &:hover{
                        border: 1px solid $cherry-red;
                    }
                }
            }

        }
        @include bp(max-width, $bp-small){
            table.cconf-product-table{
                margin-top: 20px;

                thead {
                    display: none;
                }

                tr {
                    height: 140px;
                }

                td {
                    border: none;

                    &:first-child {
                        width: 100%;
                        padding: 15px 0;


                    }

                    &:nth-child(3), &:nth-child(4) {
                        position: absolute;
                        display: block;
                        width: 100%;
                        left: 0;
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        margin-top: 103px;
                        margin-left: 70px;
                        padding-left: 0;
                        font-size: 14px;
                        font-weight: $font-family-weight-regular;

                        &:before {
                            content: 'Cantidad: ';
                            font-weight: $font-family-weight-semibold;
                        }
                    }

                    &:nth-child(4) {
                        margin-top: 103px;
                        padding-right: 0;
                        text-align: right;
                        font-size: 18px;
                        font-weight: $font-family-weight-semibold;
                    }

                }
            }
        }
    }



    /*------------------------------
                MOBILE
    ------------------------------- */
    @include bp(max-width, $bp-medium) {
        padding: 0 !important;

        #app-top,
        #app-container.cf {
            padding: 0 10px;
        }

        #app-top {

            .ph3-ns.w-70-ns.db {
                background-color: $lightest-gray-A;
                padding: 0;

                h1.f2.black-70 {
                    font-size: 26px;
                    padding: 20px 0;
                    margin: 0;
                }

                .cconf-alert.bg-washed-green {
                    width: 100%;
                    padding: 30px 15px;
                    margin-bottom: 15px;
                }
            }
        }

        #app-container.cf {

            .ph3-ns.w-70-ns.db {
                padding: 15px;

                h1.f2.black-70 {
                    font-size: 26px;
                    margin: 0 0 15px;
                }
                div.pt4{
                    padding-top: 0;

                    .w-100.fl.pa2.pl0 {
                        padding-top: 0;

                        h2{
                            font-size: 20px;
                            font-weight: $font-family-weight-semibold;
                        }
                    }
                    .dib.cf.w-100.pt4{
                        padding-top: 20px;

                        .w-100.fl.w-third-l {
                            padding-right: 0;
                        }
                    }
                    .w-100.pv4.fl{
                        padding-top: 10px;

                        + div {
                            a.cconf-myorders-button, a.cconf-continue-button{
                                margin: 0 auto;
                                width: 100%;
                            }

                            a.cconf-myorders-button {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

            }

            table.cconf-product-table{

                td {
                    &:first-child {

                        img {
                            margin-right: 20px;
                            max-width: 50px;
                        }

                        > div{
                            display: inline;
                            vertical-align: middle;
                            float: none;

                            span {
                                display: block;
                                margin-left: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include bp(max-width, $bp-small){
        #app-container.cf .ph3-ns.w-70-ns.db .w-100.pv4.fl div p.mb0 span.dib.br2.pv1.ph2.f7.f6-l.fw5.black-70.nowrap.bg-light-blue.ml2{
            margin: 10px;
        }

    }
}