$productBrands: activision, akracing, alienware, amd, aorus, asus, bandai-namco, bangho, belkin, blizzard, corsair, dell, ea, ea-sports, eidos, FastAndsFurious, funko-pop, gigabyte, hyperx, intel, kingston, konami, lego, lg, linksys, microsoft, msi, mywigo, nintendo, nintendo-switch, nvidia, playstation, ps3, ps4, razer, republic-of-gamers, seagate, sony, square-enix, StarWars, steelseries, take-twointeractive, thermaltake, ToyStory, trv, tt, ttesports, turtle-beach, ubisoft, viewsonic, warner, western-digital, xbox, xbox-360, xbox-one, xfx;
.produto {
    .page-container {
        .page-content {
            .product-info-container {
                .product-row {
                    .col {
                        &.product-data {
                            .product-data-container {
                                .brand-logo {
                                    .logo {
                                        @each $productBrand in $productBrands {
                                            &.#{$productBrand} {
                                                background-image: url("/arquivos/assets_product_brands_#{$productBrand}.png");
                                                height: image-height("/product/brands/#{$productBrand}.png") / 2;
                                                width: image-width("/product/brands/#{$productBrand}.png") / 2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}