.produto {
    .product-row {
        &.promotion {
            padding: 45px 0;

            .product-promotion-container {
                .product-promotion {
                    background: $whitest;
                    margin: 0 -10px;
                    padding: 40px 10px;
                    text-align: center;

                    > div {
                        display: inline-block;
                        max-width: 240px;
                        vertical-align: middle;

                        img {
                            width: 100%;
                        }

                        .product-data {
                            margin-top: 30px;
                        }

                        div {
                            &.department {
                                color: $cherry-red;
                                font-size: 13px;
                                text-transform: uppercase;

                                span {
                                    &:after {
                                        content: '/';
                                        display: inline-block;
                                        margin: 0 4px;
                                    }

                                    &:last-child {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            &.product-name {
                                color: $medium-gray;
                                font-size: 14px;
                            }

                            &.old-price {
                                color: $medium-gray;
                                font-size: 13px;
                                text-decoration: line-through;
                            }

                            &.price {
                                color: $cherry-red;
                                font-size: 18px;
                                font-weight: $font-family-weight-semibold;
                                margin: 5px 0 0;
                            }
                        }
                    }

                    .plus,
                    .equal {
                        color: $cherry-red;
                        font-size: 48px;
                        max-width: none;
                        min-width: 35px;
                        text-align: center;
                        width: calc(100% - 1050px);
                    }

                    #buy-together-root,
                    #buy-together-products {
                        text-align: left;
                    }

                    #buy-together-products {
                        .owl-nav {
                            .owl-prev,
                            .owl-next {
                                $size: 30px;
                                background-color: rgba(255,255,255,0.9);
                                height: $size;
                                top: 155px;
                                width: $size;

                                &:before {
                                    margin: 3px 3px 0 0;
                                }
                            }

                            .owl-prev {
                                left: -10px
                            }

                            .owl-next {
                                right: -10px;

                                &:before {
                                    margin: 4px -2px 0 0;
                                }
                            }
                        }
                    }

                    #buy-together-price {
                        position: relative;

                        h3 {
                            font-size: 24px;
                            margin: 0 0 10px 0;
                        }

                        p {
                            color: $medium-gray;
                            font-size: 16px;
                        }

                        .promotion-price {
                            color: $cherry-red;
                            font-size: 28px;
                            font-weight: $font-family-weight-semibold;
                            margin: 30px 0 0;
                        }

                        .promotion-discount {
                            color: $medium-gray-B;
                            font-size: 18px;
                            font-weight: $font-family-weight-semibold;
                            margin: 10px 0 0;
                        }

                        .product-action {
                            margin: 40px 0 0;

                            @include buyButtomProductPage();

                            a {
                                font-size: 15px;
                                padding: 15px 30px;
                            }
                        }

                        .owl-nav {
                            display: none;
                        }
                    }
                }

                @include bp (max-width, $bp-xlarge) {
                    .plus,
                    .equal {
                        color: $cherry-red;
                        font-size: 38px;
                        text-align: center;
                        width: calc(80% - 720px);
                    }
                }

                @include bp (max-width, $bp-medium) {
                    .product-promotion {
                        .plus {
                            min-width: 30px;
                        }

                        .equal {
                            display: none ;
                        }

                        #buy-together-products,
                        #buy-together-root {
                            width: calc(50% - 15px);
                        }

                        #buy-together-products {
                            .owl-nav {
                                .owl-next,
                                .owl-prev {
                                    display: block;
                                    top: 50px;
                                }
                            }

                        }

                        #buy-together-price {
                            margin: 35px 0 0 ;
                            max-width: none;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}