#resenha {
    #opiniao_de_usuario {
        .user-review {
            display: inline-block;
            font-weight: 400;
            position: relative;
            width: 100%;

            h4, hr, #opcoes-avalie, .ver-todos-comentarios {
                display: none;
            }
            .avaliacao {
                .media {
                    border-bottom: 1px solid $lightest-gray-C;
                    padding: 0px 0px 10px 0px;
                    margin: 0px 0px 10px 0px;
                    width: 25%;

                    @include bp(max-width, $bp-medium) {
                        width: 100%;
                    }

                    > span {
                        color: $dark-gray;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: $font-family-weight-semibold;
                        width: 100%;
                        @include bp(max-width, $bp-medium) {
                            font-size: 14px;
                        }
                    }

                    em {
                        display: inline-block;
                        margin:10px 0 0;
                        width: 100%;

                        strong {
                            @include stars();
                            margin-right: 5px;
                            vertical-align: middle;
                            @include bp(max-width, $bp-medium) {
                                margin: 5px 0px 0px 0px;
                            }
                        }

                        span {
                            color: $medium-gray;
                            font-size: 13px;
                            margin: 0 0 0 5px;
                        }

                        @include bp(max-width, $bp-medium) {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }

                .rating {
                    margin: 0px 0px 20px 0px;
                    width: 25%;

                    @include bp(max-width, $bp-medium) {
                        border-bottom: $lightest-gray-C thin solid;
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        width: 100%;
                    }

                    li {
                        display: inline-block;
                        margin: 0 0 5px;
                        width: 100%;

                        span {
                            color: $medium-gray;
                            display: inline-block;
                            font-size: 13px;
                            margin: 0 0 0 -5px;
                            vertical-align: middle;

                            &.voteRatingBar {
                                display: none;
                            }
                        }

                        .voteRatingStar {
                            display: inline-block;
                            margin: 0px 15px 0px 0px;
                            strong {
                                @include stars();
                            }

                            &:after {
                                color: $medium-gray;
                                display: inline-block;
                                font-size: 13px;
                                margin: 0 0 0 10px;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                .avalie-produto,
                #ulPubliqueResenha {
                    margin-bottom: 10px;
                }

                .avalie-produto {
                    display: inline-block;
                    line-height: 32px;

                    h5 {
                        display: none;
                    }
                    .rating-avalie-wrapper {
                        display: inline-block;
                        line-height: 18px;
                        margin: 0px 15px 0px 0px;
                        vertical-align: middle;

                        .rating-avalie {
                            padding: 0;

                            #rtAvaliacao_A {
                                span {
                                    float: left;
                                    margin: 0px 5px 0px 0px;
                                    text-indent: -9999px;
                                    @include singleSlar();
                                }
                            }
                        }
                    }
                }

                #ulPubliqueResenha {
                    display: inline-block;

                    a {
                        @include buttonLink();
                        font-size: 14px;
                        padding: 8px 17px;
                    }
                }

                .resenhas {
                    float: right;
                    margin-top: -217px;
                    width: 70%;

                    @include bp(max-width, $bp-medium) {
                        margin-top: 0;
                        width: 100%;
                    }

                    .quem {
                        color: $medium-gray;

                        > li {
                            border-top: $lightest-gray-C thin solid;
                            float: left;
                            padding: 20px 0px;
                            width: 100%;

                            &:last-of-type {
                                border-bottom: $lightest-gray-C thin solid;
                            }

                            .dados {
                                color: $medium-gray;
                                float: left;
                                font-size: 14px;
                                vertical-align: middle;

                                &:after {
                                    color: $lightest-gray-C;
                                    content: "|";
                                    display: inline-block;
                                    margin: 0 10px;
                                    vertical-align: middle;
                                }

                                strong {
                                    display: none;
                                }

                                > * {
                                    display: inline-block;
                                    vertical-align: middle;
                                }

                                .email-resenha:not(:empty):before {
                                    color: $lightest-gray-C;
                                    content: '|';
                                    margin: 0 5px;
                                }

                                .cidade-resenha {
                                    display: none;
                                }

                                @include bp(max-width, $bp-medium) {
                                    float: right;
                                    font-size: 12px;
                                    line-height: 14px;
                                    width: 100%;
                                }
                            }

                            .rating-wrapper {
                                margin-right: 10px;
                                strong {
                                    display: none;
                                }
                                .rating {
                                    @include stars();
                                    margin: 0;
                                }
                                @include bp(max-width, $bp-medium) {
                                    display: inline-block;
                                    margin: -35px 0 0;
                                    width: 100%;
                                }
                            }

                            .opt-texto {
                                color: $medium-gray;
                                margin: 15px 0px;
                                p {
                                    font-size: 13px;
                                    padding: 0;
                                }
                                @include bp(max-width, $bp-medium) {
                                    float: left;
                                    width: 100%;
                                }
                            }

                            .util {
                                float: left;
                                font-size: 12px;
                                width: 100%;
                                .considera-util {
                                    float: left;
                                }

                                .opiniao-ajudou {
                                    float: right;

                                    ul {
                                        display: inline-block;
                                        vertical-align: top;

                                        li {
                                            float: left;

                                            a {
                                                color: $cherry-red;
                                                text-decoration: none;
                                                text-transform: capitalize;
                                            }

                                            &.sim{
                                                margin: 0px 5px;

                                                &:after {
                                                    content: '/';
                                                    margin: 0 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            @include bp(max-width, $bp-medium) {
                                padding-top: 50px;
                            }
                        }
                    }
                }
            }

            #publishUserReview {
                .formUserComment {
                    float: left;
                    margin: 15px 0px 0px 0px;
                    width: 100%;

                    > h2 {
                        display: none;
                    }

                    > p {
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                    }

                    > form {
                        background: $whitest;
                        @include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
                        @include border-radius(10px);
                        left: 50%;
                        margin: -250px 0px 0px -250px;
                        padding: 15px;
                        position: fixed;
                        top: 50%;
                        width: 500px;
                        z-index: 9999;

                        .header {
                            position: relative;

                            h1 {
                                display: none;
                            }

                            h2 {
                                border-bottom: 1px solid $lightest-gray-C;
                                color: $medium-gray;
                                font-size: 36px;
                                padding: 10px 0px;
                                margin: 0px 0px 25px 0px;
                            }

                            .content {
                                .grp {
                                    margin: 0px 0px 30px 0px;
                                    position: relative;

                                    &.fTitulo {
                                      display: none;
                                    }

                                    label {
                                        float: left;
                                        font-size: 20px;
                                        font-weight: 300;
                                        margin: 0px 0px 5px 0px;
                                        width: 100%;
                                    }

                                    input,
                                    textarea {
                                        @include border-radius(2px);
                                        border: 1px solid $lightest-gray-C;
                                        color: $dark-gray;
                                        font-size: 12px;
                                        outline: none;
                                        padding: 10px;
                                        width: 100%;

                                        &.incomplete {
                                            border: $cherry-red thin solid;
                                        }

                                        + span {
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                        }

                                        &[type="checkbox"] {
                                            display: none;

                                            + label {
                                                cursor: pointer;
                                                font-size: 14px;
                                                line-height: 12px;
                                                vertical-align: middle;
                                                width: auto;

                                                &:before {
                                                    border: $lightest-gray-C thin solid;
                                                    @include border-radius(4px);
                                                    content: '';
                                                    display: inline-block;
                                                    font-size: 12px;
                                                    height: 12px;
                                                    line-height: 12px;
                                                    margin-bottom: -3px;
                                                    margin-right: 5px;
                                                    text-align: center;
                                                    width: 12px;
                                                }
                                            }

                                            &:checked + label:before {
                                                background: $medium-gray;
                                                border: $medium-gray thin solid;
                                                content: '\2713';
                                                color: $whitest;
                                            }
                                        }
                                    }

                                    &:last-of-type {
                                        margin: 0;
                                    }
                                }

                                .ranking {
                                    float: left;
                                    margin: 15px 0px;
                                    width: 100%;

                                    label {
                                        display: none;
                                    }

                                    #rtAvaliacao_A0 {
                                        float: left;
                                        margin: 5px 0px 0px 0px;

                                        span {
                                            float: left;
                                            margin: 0px 5px 0px 0px;
                                            @include singleSlar();
                                            text-indent: -9999px;
                                        }
                                    }

                                    .opiniaoInfo {
                                        display: none;
                                    }
                                }

                                .aviso-resenha {
                                    color: $lightest-gray-C;
                                    font-size: 12px;
                                    line-height: 17px;
                                    padding: 0;
                                }

                                .avaliar {
                                    margin: 15px 0px 0px 0px;
                                    text-align: right;

                                    a {
                                        @include border-radius(2px);
                                        border: $cherry-red thin solid;
                                        color: $cherry-red;
                                        cursor: pointer;
                                        display: inline-block;
                                        font-size: 12px;
                                        font-weight: $font-family-weight-semibold;
                                        padding: 10px 15px;
                                        text-align: center;
                                        text-decoration: none;
                                        text-transform: uppercase;

                                        &:hover {
                                            color: $whitest;
                                            background: $cherry-red;
                                        }
                                    }
                                }
                            }

                            .close {
                                cursor: pointer;
                                position: absolute;
                                right: 15px;
                                top: 15px;

                                a {
                                    color: transparent;
                                }
                            }
                        }

                        .footer {
                            display: none;
                        }
                        
                        @include bp(max-width, $bp-medium) {
                            @include box-shadow(none);
                            margin: 10px 0px;
                            position: static;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}