$row-content-size: 1000px;
.produto {

    @include bp(max-width, $bp-medium) {
        .header {
            .top-container {
                border-bottom: 1px solid $lightest-gray-D;
            }
        }
    }

    .page-container {
        background-color: $lightest-gray-A;

        @include bp(max-width, $page-content-size) {
            padding: 0 10px;
        }

        .page-content {
            font-family: $titillium-web-font-family;
            margin: 0 auto;
            max-width: $page-content-size;

            .breadcrumb-container {
                padding: 15px 0;

                .bread-crumb {
                    ul {
                        li {
                            display: inline-block;

                            &:first-child {
                                a {
                                    text-transform: capitalize;
                                }
                            }

                            a {
                                color: $medium-gray;
                                font-size: 13px;
                                text-decoration: none;

                                &:after {
                                    content: "/";
                                    display: inline-block;
                                    margin: 0 5px;
                                    vertical-align: middle;
                                }
                            }

                            &:last-child {
                                a {
                                    color: $light-gray;

                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .product-info-container {
                margin: 15px 0 0 0;

                .product-row {
                    background-color: $whitest;
                    margin: 0 0 20px;
                    padding: 45px 10px;

                    .col {
                        display: inline-block;
                        padding: 0 20px;
                        vertical-align: middle;
                        width: 50%;

                        &.gallery {
                            position: relative;
                            text-align: center;

                            .gallery-container {
                                position: relative;

                                .next-image,
                                .prev-image {
                                    $size: 35px;
                                    @include border-radius(50%);
                                    background-color: $whitest;
                                    border: 1px solid $medium-gray;
                                    cursor: pointer;
                                    display: inline-block;
                                    height: $size;
                                    position: absolute;
                                    top: 155px;
                                    width: $size;
                                    z-index: 5002;

                                    &:before {
                                        @include sliderArrowLeft();
                                    }
                                }

                                .prev-image {
                                    left: 5%;
                                }

                                .next-image {
                                    @include transform(rotate(180deg));
                                    right: 5%;
                                }

                                #show {
                                    #image {
                                        min-height: 300px;

                                        #image-main {
                                            max-width: 100%;
                                        }
                                    }

                                    .thumbs {
                                        li {
                                            $size: 50px;
                                            border: 1px solid $lightest-gray-A;
                                            display: inline-block;
                                            height: $size;
                                            margin: 0 25px 0 0;
                                            opacity: 0.5;
                                            text-align: center;
                                            width: $size;

                                            &:last-child {
                                                margin: 0;
                                            }

                                            img {
                                                width: 100%;
                                            }

                                            &.active-thumb {
                                                border: 1px solid $light-gray;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }

                            .product-flag {
                                .flag {
                                    $flags: envio-gratis, novedades, novedadeshome, nuevo, --regalo;

                                    @each $flag in $flags {
                                        &.#{$flag} {
                                            right: 18%;
                                        }
                                    }
                                    &.oferta,
                                    &.proximamente,
                                    &.pre-venta {
                                        left: 18%;
                                    }

                                    &.oferta {
                                        bottom: 18%;

                                        @include bp(max-width, $bp-large){
                                            top: 65%;
                                        }
                                    }
                                }
                            }
                        }

                        &.product-data {
                            .product-data-container {
                                .brand-logo {
                                    border-bottom: 1px solid $lightest-gray-C;
                                    padding: 0 0 25px;

                                    .logo {
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                    }

                                    .brandName {
                                        display: none;
                                    }
                                }

                                .department {
                                    color: $cherry-red;
                                    font-size: 18px;
                                    margin: 15px 0 10px;
                                    text-transform: uppercase;

                                    span {
                                        &:after {
                                            content: '/';
                                            display: inline-block;
                                            margin: 0 4px;
                                        }

                                        &:last-child {
                                            &:after {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .product-name {
                                    color: $medium-gray;
                                    font-size: 26px;
                                    text-transform: capitalize;
                                }

                                .product-extra-info {
                                    color: $medium-gray;
                                    font-size: 13px;

                                    .sku,
                                    .product-rating {
                                        display: inline-block;
                                        vertical-align: middle;
                                    }

                                    .sku {
                                        &:after {
                                            content: "|";
                                            color: $light-gray;
                                            display: inline-block;
                                            margin: 0 15px;
                                            vertical-align: initial;

                                        }

                                        .skuReference {
                                            display: inline-block;
                                            vertical-align: top;
                                        }
                                    }

                                    .product-rating {
                                        span:first-child,
                                        strong {
                                            display: none;
                                        }

                                        #spnRatingProdutoTop {
                                            color: transparent;
                                        }

                                        .rating-produto {
                                            &:before,
                                            &:after {
                                                display: inline-block;
                                                vertical-align: middle;
                                            }

                                            @include stars();
                                        }

                                        .votos {
                                            margin: 0 0 0 10px;

                                            &:before {
                                                content: "(";
                                            }

                                            &:after {
                                                content: ")";
                                                margin: 0 0 0 2px;
                                                vertical-align: initial;
                                            }
                                        }
                                    }
                                }

                                .product-price {
                                    margin: 0 0 20px;

                                    .plugin-preco,
                                    .flag.discount,
                                    .discount-benefit {
                                        display: inline-block;
                                        vertical-align: bottom;
                                    }

                                    .plugin-preco {
                                        .productPrice {
                                            .economia-de, .preco-a-vista {
                                                display: none !important;
                                            }

                                            .descricao-preco {
                                                .valor-de {
                                                    color: $medium-gray;
                                                    font-size: 20px;
                                                    margin: 0 0 5px;
                                                    text-decoration: line-through;
                                                }

                                                .valor-por {
                                                    color: $cherry-red;
                                                    font-size: 28px;
                                                    font-weight: $font-family-weight-semibold;
                                                }

                                                .valor-dividido {
                                                    display: none !important;
                                                }
                                            }
                                        }
                                    }

                                    .flag {
                                        @include border-radius(3px 0 0 3px);
                                        border: 1px solid $green-flag;
                                        margin: 0 0 0 15px;
                                        padding: 5px;

                                        &.discount {
                                            color: $green-flag;
                                            font-size: 14px;
                                            font-weight: $font-family-weight-semibold;
                                        }
                                    }

                                    .discount-benefit {
                                        @include border-radius(0 3px 3px 0);
                                        background-color: $green-flag;
                                        color: $whitest;
                                        font-size: 14px;
                                        font-weight: 600;
                                        padding: 6px;

                                        &:before {
                                            content: "- ";
                                        }
                                    }

                                    @include bp(max-width, $bp-xsmall) {
                                        .flag.discount, .discount-benefit {
                                            margin: 10px 0 0 0;
                                        }

                                        .plugin-preco {
                                            display: block;
                                        }
                                    }
                                }

                                .product-action {
                                    border-top: 1px solid $lightest-gray-C;
                                    border-bottom: 1px solid $lightest-gray-C;
                                    padding: 20px 0;

                                    .buy-button,
                                    .product-share {
                                        display: inline-block;
                                        vertical-align: middle;
                                    }

                                    .buy-button {
                                        @include buyButtomProductPage();

                                        .portal-notify-me-ref {
                                            display: none;
                                        }

                                        .aviseme{
                                            display: none;
                                            .skuList{
                                                .imageSku,
                                                .nomeSku,
                                                .preco,
                                                a,
                                                span {
                                                    display:none;
                                                }
                                            }

                                            .portal-notify-me-ref {
                                                display: block;
                                                margin: 0 0 20px 0;

                                                .notifyme {
                                                    .notifyme-title-div {
                                                        h3 {
                                                            color: $medium-gray;
                                                            font-size: 16px;
                                                            font-weight: $font-family-weight-semibold;
                                                            margin: 0 0 15px 0;
                                                        }
                                                    }

                                                    p {
                                                        color: $medium-gray;
                                                        font-size: 14px;
                                                        margin: 0 0 10px 0;
                                                    }

                                                    input {
                                                        background-color: $whitest;
                                                        border: 1px solid $light-gray;
                                                        font-family: $titillium-web-font-family;
                                                        color: $medium-gray;
                                                        font-size: 13px;
                                                        height: 33px;

                                                        &:not(.btn-ok) {
                                                            width: calc(50% - 19px);
                                                        }

                                                        &.sku-notifyme-client-name {
                                                            @include border-radius(2px 0px 0px 2px);
                                                            padding: 0 10px;
                                                        }

                                                        &.sku-notifyme-client-email {
                                                            margin: 0 0 0 -1px;
                                                            padding: 0 10px;
                                                        }

                                                        &.notifyme-button-ok {
                                                            background-color: $cherry-red;
                                                            border: none;
                                                            color: $whitest;
                                                            font-size: 14px;
                                                            font-weight: $font-family-weight-semibold;
                                                            text-transform: uppercase;
                                                        }
                                                    }

                                                    fieldset.error,
                                                    fieldset.success {
                                                        margin: 20px 0 0 0;
                                                        display: block;
                                                        font-weight: $font-family-weight-semibold;
                                                        font-size: 14px;
                                                    }
                                                    fieldset.error span{
                                                        color: $cherry-red;
                                                        display: block;
                                                    }
                                                    fieldset.success span{
                                                        color: $green-flag;
                                                        display: block;
                                                    }
                                                }
                                            }

                                        }
                                    }

                                    .product-share {
                                        margin: 0 0 0 50px;

                                        .share {
                                            cursor: pointer;

                                            span {
                                                color: $medium-gray;
                                                display: inline-block;
                                                font-size: 12px;
                                                font-weight: $font-family-weight-semibold;
                                                text-transform: uppercase;
                                                vertical-align: middle;

                                                &.share-icon {
                                                    background-image: url("/arquivos/assets_product_share.png");
                                                    background-size: contain;
                                                    content: "";
                                                    height: image-height("/product/share.png") / 2;
                                                    margin: 0 15px 0 0;
                                                    width: image-width("/product/share.png") / 2;
                                                }

                                            }
                                        }

                                        .product-action-share-icons {
                                            display: none;
                                            position: absolute;

                                            .social-networks {
                                                margin: 5px 0 0 33px;

                                                .social-button {
                                                    display: inline-block;
                                                    margin-right: 10px;
                                                    vertical-align: top;

                                                    &.facebook .fb_iframe_widget span {
                                                        vertical-align: baseline !important;
                                                    }

                                                    &.facebook {
                                                        @include border-radius(3px);
                                                        background-color: $facebook-button;
                                                        padding: 0 6px;

                                                        a {
                                                            color: $whitest;
                                                            font-size: 12px;
                                                            font-weight: $font-family-weight-semibold;
                                                            text-decoration: none;

                                                            span {
                                                                &.facebook-icon {
                                                                    background-image: url("/arquivos/assets_product_facebook-icon.png");
                                                                    background-repeat: no-repeat;
                                                                    background-size: contain;
                                                                    display: inline-block;
                                                                    height: image-height("/product/facebook-icon.png") / 2;
                                                                    margin: 0 5px 0 0;
                                                                    width: image-width("/product/facebook-icon.png") / 2;
                                                                    vertical-align: middle;
                                                                }

                                                                &:last-child {
                                                                    line-height: 20px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &.show {
                                            .share {

                                            }

                                            .product-action-share-icons {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                .product-order-info {
                                    padding: 14px 0;
                                    margin: 0 auto;
                                    width: 92%;
                                    .shipping-info, .payment-info {
                                        display: inline-block;
                                        cursor: pointer;
                                        img {
                                            width: 36px;
                                            display: block;
                                            margin: 3px 15px auto 0;
                                            float: left;
                                        }
                                        h5 {
                                            color: $medium-gray-B;
                                            font-family: $titillium-web-font-family;
                                            font-weight: $font-family-weight-semibold;
                                            font-size: 13px;
                                            line-height: 15px;
                                            text-align: left;
                                            float: left;
                                        }
                                        &:after {
                                            clear: both;
                                        }
                                    }

                                    .shipping-info {
                                        padding-right: 30px;
                                        margin-right: 20px;
                                        border-right: 1px solid $lightest-gray-A;
                                    }

                                    &:after {
                                        clear: both;
                                    }
                                }
                                @include bp(max-width, $bp-medium) {
                                    .product-share.show {
                                        height: 55px;
                                        .product-action-share-icons {
                                            margin-top: 15px;
                                            .social-networks {
                                                margin: 0;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }

                    h3,
                    .product-specification h4 {
                        color: $cherry-red;
                        font-size: 18px;
                        margin: 0 0 30px 0;
                        text-transform: capitalize;
                    }

                    .product-specification {
                        #caracteristicas {
                            h4.group.Mas-Informacion {
                                display: none;
                            }
                        }
                    }

                    &.description .product-description-container,
                    &.specification .product-specification-container,
                    &.more-information .product-more-information-container {
                        .product-description,
                        .product-specification {
                            max-height: 250px;
                            overflow: hidden;
                        }

                        &.show {
                            .product-description,
                            .product-specification {
                                max-height: none;
                                overflow: visible;
                            }
                        }
                    }

                    &.withoutSeeMore {
                        .product-description-container,
                        .product-specification-container,
                        .product-more-information-container {
                            .product-description,
                            .product-specification {
                                overflow: visible;
                            }
                        }
                    }

                    &.description .product-description-container,
                    &.specification .product-specification-container,
                    &.rating .product-rating-container,
                    &.more-information .product-more-information-container,
                    &.evaluation .product-evaluation-container {
                        margin: 0 auto;
                        max-width: $row-content-size;

                        .see-more,
                        .see-less {
                            color: $cherry-red;
                            cursor: pointer;
                            display: none;
                            font-size: 12px;
                            font-weight: $font-family-weight-semibold;
                            margin: 20px 0 0;
                            text-align: center;

                            &.show {
                                display: block;
                            }

                            &:after {
                                background-image: url("/arquivos/assets_product_red-down-arrow.png");
                                background-size: contain;
                                content: "";
                                display: inline-block;
                                height: image-height("/product/red-down-arrow.png") / 2;
                                margin: 0 0 0 10px;
                                width: image-width("/product/red-down-arrow.png") / 2;
                            }
                        }

                        .see-less {
                            &:after {
                                @include transform(rotate(180deg));
                            }
                        }
                    }

                    &.description {
                        .product-description-container {
                            .product-description {
                                .productDescription {
                                    color: $medium-gray;
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    &.specification {
                        .product-specification-container {
                            .product-specification {
                                table {
                                    width: 100%;

                                    tbody {
                                        tr {
                                            th,
                                            td {
                                                border-top: 1px solid $lightest-gray-A;
                                                font-size: 14px;
                                                padding: 5px 0;
                                                width: 50%;
                                            }

                                            th {
                                                color: $dark-gray;
                                                font-weight: $font-family-weight-semibold;
                                            }

                                            td {
                                                color: $medium-gray;
                                            }
                                        }
                                    }

                                    &:nth-child(n+2) {
                                        margin: 0 0 30px 0;
                                    }

                                    &:last-child {
                                        tbody {
                                            tr {
                                                th,
                                                td {
                                                    border-bottom: 1px solid $lightest-gray-A;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.more-information {
                        color: $medium-gray;
                        font-size: 14px;
                        width: 100%;

                        iframe,
                        iframe * {
                            max-width: 100% !important;
                        }

                        img {
                            width: 100%;
                        }

                        &.hide {
                            display: none;
                        }
                    }

                    &.promotion,
                    &.related {
                        background-color: $lightest-gray-A;

                        h2 {
                            color: $cherry-red;
                            font-size: 34px;
                            margin: 0 0 40px;
                            text-align: center;
                        }
                    }

                    &.promotion {
                        &.hide {
                            display: none;
                        }
                    }

                    &.related {
                        margin: 0;
                        padding: 45px 10px 25px;

                        .product-related-container {
                            .slider-container {
                                ul {
                                    display: none;

                                    .product-card {
                                        margin: 6px 1px 0 0;

                                        .product-card-container {
                                            width: 100%;
                                        }
                                    }

                                    &.owl-carousel {
                                        display: block;

                                        .owl-stage-outer {
                                            height: 450px;
                                            margin: 0 -10px;
                                            padding: 0 10px;

                                            .owl-item {
                                                &:hover {
                                                    z-index: 99999;
                                                }
                                            }
                                        }

                                        .owl-nav {
                                            .owl-prev,
                                            .owl-next {
                                                top: 180px;
                                            }

                                            .owl-prev {
                                                left: -25px;

                                                &:before {
                                                    margin: 7px 3px 0 0;
                                                }
                                            }

                                            .owl-next {
                                                right: -35px;

                                                &:before {
                                                    margin: 7px -2px 0 0;
                                                }
                                            }
                                        }

                                        .owl-dots {
                                            bottom: 2px;
                                            margin: 0;
                                            .owl-dot {
                                                &.active {
                                                    span {
                                                        background-color: $medium-gray;
                                                        border-color: $medium-gray;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-shipping {
        width: 600px;
        #popupCalculoFreteWrapper, .contentWrapper .header, fieldset .quantity, .cep-busca, .footer {
            display: none;
        }
        label.prefixo, fieldset input[type="text"], .freight-values tr th, .freight-values tr td,
        .cep-invalido,
        .calculate-shipping-error {
            font-family: $titillium-web-font-family;
            font-weight: $font-family-weight-regular;
            font-size: 14px;
            color: $dark-gray;
        }

        .cep-invalido, .calculate-shipping-error {
            margin: 10px 0;
            color: $cherry-red;
        }

        fieldset {
            padding: 15px 0;
            border-bottom: 1px solid $lightest-gray-A;
            label.prefixo {
                display: inline-block;
            }
            input[type="text"] {
                padding: 10px 15px;
                border: 1px solid $lightest-gray-B;
                background-color: $whitest;
                font-size: 15px;
                font-weight: $font-family-weight-regular;
                color: $dark-gray;
                width: 180px;
                height: 40px;
                margin-left: 20px;
            }
            .frete-calcular.btBordas.btBordasInput input {
                @include buttonLink($cherry-red, $whitest);
                font-weight: $font-family-weight-regular;
                padding: 8px 20px;
                margin-left: 15px;
                &:hover {
                    border: 1px solid $cherry-red;
                }
            }
        }
        .freight-values {
            tr {
                border-bottom: 1px solid $lightest-gray-A;
            }

            th, td {
                padding: 15px 0;
                display: inline-block;
                &:first-child {
                    font-weight: $font-family-weight-semibold;
                    float: right;
                    width: 25%;
                    text-align: right;
                }
                &:nth-child(2) {
                    float: left;
                    width: 75%;
                }
            }
        }
        @include bp(max-width, $bp-large) {
            display: none;
            width: 300px;
            padding: 40px 10px;
            fieldset {
                input[type="text"] {
                    width: 135px;
                    margin-left: 0px;
                    margin-top: 20px;
                    display: block;
                }
            }
            .modal-little-row {
                h5 br {
                    display: block;
                }
                &:nth-of-type(1) h5 {
                    display: block;
                    margin-bottom: 20px;
                }

            }
        }
    }

    /*-------------------------------
                Mobile
     ---------------------------------*/
    @include bp(max-width, $bp-medium) {
        .page-container {
            padding: 0;

            .page-content {

                .breadcrumb-container {
                    padding: 10px;
                    background-color: $whitest;
                }

                .product-info-container {
                    margin: 0;

                    .product-row {
                        padding: 20px;

                        &.description, &.specification, &.evaluation{
                            margin: 0 10px 20px;
                            padding: 15px 10px;
                        }

                        .col {
                            display: block;
                            padding: 0;
                            width: 100%;

                            &.gallery {
                                .gallery-container {
                                    .next-image,
                                    .prev-image {
                                        display: none;
                                    }

                                    #show {
                                        #image {
                                            .zoomWindow {
                                                display: none !important;
                                            }
                                        }
                                    }
                                }

                                .product-flag {
                                    .flag {
                                        $flags: envio-gratis, novedades, novedadesHome, nuevo, --regalo;

                                        @each $flag in $flags {
                                            &.#{$flag} {
                                                right: 5%;
                                            }
                                        }
                                        
                                        &.oferta,
                                        &.proximamente,
                                        &.pre-venta {
                                            left: 5%;
                                        }
                                    }
                                }
                            }

                            &.product-data {
                                .product-data-container {
                                    .brand-logo {
                                        border-top: 1px solid $lightest-gray-C;
                                        margin: 10px 0 0;
                                        padding: 15px 0;
                                    }

                                    .department {
                                        font-size: 14px;
                                    }

                                    .product-name {
                                        font-size: 18px;
                                    }

                                    .product-extra-info {
                                        .sku,
                                        .product-rating {
                                            display: block;
                                        }

                                        .sku {
                                            margin: 15px 0 0;

                                            &:after {
                                                display: none;
                                            }
                                        }
                                    }

                                    .product-action {
                                        .buy-button,
                                        .product-share {
                                            display: block;
                                        }

                                        .buy-button {
                                            a {
                                                text-align: center;
                                                width: 100%;
                                            }
                                        }

                                        .product-share {
                                            margin: 20px auto 0;
                                            text-align: center;

                                            .product-action-share-icons {
                                                @include transform(translateX(-50%));
                                                left: 50%;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.promotion,
                        &.related {
                            h2 {
                                font-size: 26px;
                                margin: 0 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    @include bp(max-width, $bp-small) {
        .page-container {
            .page-content {
                .product-info-container {
                    .product-action {
                        .notifyme {
                            input {
                                &.sku-notifyme-client-name {
                                    width: 40%;
                                }

                                &.sku-notifyme-client-email {
                                    width: calc(60% - 33px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}