.product-info-container {
    .product-row {
        .gallery-container {
            #show {
                #image {
                    iframe#ytplayer {
                        width: 90%;
                        min-height: 300px;
                        margin-bottom: 5px;
                    }
                }

                .thumbs {
                    li {
                        &#video {
                            cursor: pointer;
                            a{
                                &:before {
                                    content: "\025B8";
                                    position: absolute;
                                    color: $whitest;
                                    font-size: 28px;
                                    text-align: center;
                                    padding: 10px 17px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-specification {
            #caracteristicas {
                table.Videos, h4.Videos {
                    display: none;
                }
            }
        }
    }
}