.image-zoom {
    .zoomPad {
        margin: 0 auto;
        padding: 0 0 20px;
        position: relative;
    }

    .zoomWindow,
    .zoomWrapper,
    .zoomWrapper,
    .zoomWrapperImage {
        left: 0 !important;
        overflow: hidden;
        width: 100%;
    }

    .zoomWindow {
        @include transform(translateX(-50%));
        left: 50% !important;
        max-width: 295px;
    }
}