@mixin buttonLink($background: $whitest, $color: $cherry-red, $fsize: 16px) {
    color: $color;
    background: $background;
    border: 1px solid $color;
    font-size: $fsize;
    @include border-radius(2px);
    text-decoration: none;
    text-transform: uppercase;
    font-family: $titillium-web-font-family;
    font-weight: $font-family-weight-semibold;
    padding: 10px 20px;
    display: inline-block;

    &:hover {
        background: $color;
        color: $background;
    }
}

@mixin sliderArrowLeft() {
    background-image: url("/arquivos/assets_product_grey-left-arrow.png");
    background-size: contain;
    content: "";
    display: inline-block;
    height: image-height("/product/grey-left-arrow.png") / 2;
    margin: 9px 3px 0 0;
    width: image-width("/product/grey-left-arrow.png") / 2;
}

@mixin buyButtomProductPage() {
    a {
        @include border-radius(3px);
        background-color: $cherry-red;
        color: $whitest;
        display: inline-block;
        font-size: 16px;
        font-weight: $font-family-weight-semibold;
        padding: 15px 60px;
        text-decoration: none;
        text-transform: uppercase;
    }
}