@mixin stars() {
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    height: image-height('/product/stars/1-stars.png') / 2;
    vertical-align: middle;
    width: image-width('/product/stars/1-stars.png') / 2;

    &.a00,
    &.avaliacao0 {
        background-image: url('/arquivos/assets_product_stars_0-stars.png');
    }
    &.a10,
    &.avaliacao05,
    &.avaliacao10 {
        background-image: url('/arquivos/assets_product_stars_1-stars.png');
    }
    &.a20,
    &.avaliacao15,
    &.avaliacao20 {
        background-image: url('/arquivos/assets_product_stars_2-stars.png');
    }
    &.a30 ,
    &.avaliacao25,
    &.avaliacao30 {
        background-image: url('/arquivos/assets_product_stars_3-stars.png');
    }
    &.a40,
    &.avaliacao35,
    &.avaliacao40 {
        background-image: url('/arquivos/assets_product_stars_4-stars.png');
    }
    &.a50,
    &.avaliacao45,
    &.avaliacao50 {
        background-image: url('/arquivos/assets_product_stars_5-stars.png');
    }
}

@mixin singleSlar() {
    background: image-url('/arquivos/assets_product_stars_grey-star.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: image-height('/product/stars/active-star.png') / 2;
    vertical-align: middle;
    width: image-width('/product/stars/active-star.png') / 2;

    &.filledRatingStar {
        background: image-url('/arquivos/assets_product_stars_active-star.png');
        background-size: contain;
    }
}