.grid {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    .row {
        display: table;
        max-width: $page-content-size;
        padding: 10px;
        width: 100%;

        aside, #main-content {
            display: table-cell;
            vertical-align: top;
        }

        .sidebar {
            .box-banner {
                display: none;
            }
        }
        #main-content {
            width: 9999px;
            .box-banner {
                margin-bottom: 20px;
                a img {
                    width: 100%;
                    height: auto;
                }
            }

            .main {
                position: relative;
                .sub:last-child {
                    display: none;
                }
            }
            div.button-more {
                width: 100%;
                text-align: center;
                button.list-more {
                    width: 200px;
                    @include buttonLink($lightest-gray-A, $cherry-red);
                    border: 1px solid $cherry-red;
                    margin: 30px auto;
                    display: none;

                    &.loading {
                        @include opacity(0.4);
                    }
                }
            }
        }
    }

    h2.titulo-sessao, .searchResultsTime, .filterBy, p.compare, ul.pages {
        display: none;
    }
    .collection-wrapper {
        .resultado-busca-filtro {
            display: block;
            padding: 13px 18px;
            background-color: $whitest;
            margin-bottom: 1px;
            text-align: right;

            fieldset.orderBy {
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 8px;
                    background: url('/arquivos/assets_common_arrows_arrow-down-grey.png') no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: 10px;
                    top: 14px;
                }

                label, select {
                    font-size: 14px;
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-regular;
                    color: $dark-gray;
                    margin: 0;
                    padding: 0;
                }

                label {
                    margin-right: 13px;
                }

                select {
                    padding: 5px 25px 5px 5px;
                    background-color: $whitest;
                    border: 1px solid $light-gray;
                    @include border-radius(2px);
                    @include appearance(none);
                    position: relative;
                    width: 146px;

                    &[value="OrderByTopSaleDESC"], &[value="OrderByReviewRateDESC"], &[value="OrderByBestDiscountDESC"]{
                        display: none;
                    }
                }
            }

        }

        .prateleira {
            ul {
                overflow: auto;
                li {
                    float: left;
                    width: 25%;
                    &:last-child {
                        &:after {
                            clear: both;
                        }
                    }
                    .product-card {
                        margin: 0 1px 1px 0;
                        &:hover .product-card-container {
                            z-index: 99;
                        }
                        .product-card-container {
                            width: 100%;
                            max-width: 260px;
                            .product-image {

                                img {
                                    height: auto;
                                }
                            }
                            .product-data {

                                .product-prices {
                                    .out-of-stock {
                                        display: table-cell;
                                        height: 35px;
                                        color: $medium-gray;
                                        font-size: 14px;
                                        line-height: 16px;
                                        vertical-align: bottom;
                                    }
                                }
                            }

                            .product-buttons.sin-stock {
                                text-align: center;

                                a {
                                    padding: 1px 0;
                                }
                            }
                        }
                    }

                    &:nth-child(4n) {
                        .product-card {
                            &:hover .product-card-container {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @include bp(max-width, $bp-xlarge) {
        .row {
            display: block;
        }
    }
    @include bp(max-width, $bp-medium) {
        .row {
            padding: 0;
            aside.sidebar, #main-content {
                display: block;
                width: 100%;
            }
            aside.sidebar {
                background-color: $whitest;
                padding-bottom: 10px;

                .box-banner {
                    display: block;
                    a img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            #main-content {
                .box-banner {
                    display: none;
                }
                .main {
                    position: relative;
                }
                h2.titulo-sessao {
                    display: block;
                    font-size: 20px;
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-semibold;
                    color: $cherry-red;
                    text-decoration: none;
                    text-align: center;
                    margin: 25px;
                }
            }
        }
        .collection-wrapper {

            .resultado-busca-filtro {
                display: none;
            }

            .vitrine {
                padding: 0 10px;
            }

            .prateleira {
                ul {
                    li {
                        width: 50%;
                        .product-card {
                            height: auto;
                            .product-card-container {
                                padding: 20px 0 0;
                                width: 100%;
                                max-width: 364px;
                                height: auto;
                                max-height: 100%;
                                .product-image, .product-data {
                                    margin: 10px;
                                }
                                .product-buttons {
                                    display: block;
                                    position: relative;
                                    width: auto;
                                    text-align: center;
                                    padding: 15px;
                                    > a {
                                        display: none;
                                    }

                                    &.sin-stock {
                                        > a {
                                            display: inline-block;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    @include bp(max-width, $bp-small) {
        .product-data {
            .custom-title {
                min-height: 40px;
            }
        }
    }

    @include bp(max-width, $bp-xsmall) {
        .collection-wrapper {
            .prateleira {
                ul {
                    li {
                        .product-card {
                            .product-card-container {
                                .product-data {
                                    p {
                                        min-height: 65px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#category-extra-vitrine-2 {
    background-color: $lightest-gray-A;
    margin-bottom: 30px;
    .owl-carousel .owl-nav {
        .owl-prev,
        .owl-next {
            top: 180px;
        }

        .owl-prev {
            left: -25px;

            &:before {
                margin: 7px 3px 0 0;
            }
        }

        .owl-next {
            right: -35px;

            &:before {
                margin: 7px -2px 0 0;
            }
        }
    }
    > div {
        margin: 0 auto;
        max-width: $page-content-size + 20px;
        padding: 50px 20px 20px;
        position: relative;

        h2 {
            color: $cherry-red;
            font-family: $titillium-web-font-family;
            font-size: 36px;
            margin: 0 0 25px 0;
            text-align: center;
            text-transform: none;
            border-top: 1px solid $light-gray;
            padding-top: 50px;
        }

        .owl-stage-outer {
            height: 450px;
            margin: 0 -10px;
            padding: 0 10px;

            .owl-item {
                &:hover {
                    z-index: 99999;
                }
            }
        }

        .owl-dots {
            margin: 0;
            z-index: 999;
            .owl-dot {
                &.active {
                    span {
                        background-color: $medium-gray;
                        border-color: $medium-gray;
                    }
                }
            }
        }

        .product-card {
            margin: 6px 1px 0 0;

            .product-card-container {
                width: 100%;
            }
        }

    }

    /* MOBILE*/
    @include bp(max-width, $bp-medium) {
        > div {
            padding: 50px 20px 50px;

            h2 {
                font-size: 26px;
            }

            .owl-stage-outer {
                height: auto;
                margin: 0;
                padding: 0;
            }

            .owl-dots {
                bottom: -42px;
            }
        }
    }
}