<script type="text/javascript">
    (function($) {
        "use strict";

        $.fn.textTranslations = function() {
            var _self = this;

            var $_container = $(this);

            var _textRules = {
                "#is-corporate-client" : "Necesito Factura A",
                "h5.corporate-title" : "Necesito Factura A",
                ".payment-mercadopago-description" : "Comprá ahora con Mercado Pago. <span>¡Es sencillo, seguro y no necesitás cuenta!</span>",
                ".payment-mercadopago-description-simple" : "Medios de pago disponibles:",
                ".payment-mercadopago-account" : "Para <strong>pagar</strong> hacé click en el botón <strong>“Comprar Ahora”</strong>.",
                ".payment-mercadopago-ps" : "Te llevaremos al sitio de <strong>Mercado Pago</strong> para finalizar la transacción.",
                ".payment-todopago-help" : "<p>Para <strong>pagar</strong> hacé click en el botón <strong>“Comprar Ahora”</strong>.</p>Te llevaremos al sitio de Todo Pago para finalizar la transacción. <br/> <br/> Realizá el pago ingresando los datos de tu tarjeta o con tu usuario y contraseña de Todo Pago.",
                ".pg-pagofacil.payment-group-item span.payment-group-item-text" : "Efectivo en puntos de pago"
            };

            setInterval(_applyTextTranslations, 1000);

            function _applyTextTranslations() {
                for (var key in _textRules) {
                    var _selector = key;
                    var _newText = _textRules[key];

                    var $_element = $(_selector);

                    if ($_element.length) {
                        $_element.html(_newText);
                    }
                }
            }

            return this;
        };
    }(jQuery));

    $('body').textTranslations();
</script>