.header {
    background-color: $lightest-gray-C;
    width: 100%;
    border-bottom: 1px solid $light-gray;
    .top-container {
        max-width: $bp-xlarge;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        .center {
            overflow: hidden;
            .logo {
                float: left;
                a {
                    display: inline-block;
                    height: 55px;
                    vertical-align: middle;
                    width: 150px;
                    border: none;
                }
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    .header {
        .top-container {
            .center {
                .logo {
                    a{
                        height: 35px;
                        width: auto;

                        img {
                            height:35px;
                        }
                    }
                }
            }
        }
    }

}
