<div class="pre-header">
	<div class="box-banner">
		<img src="/arquivos/assets_header_pre-header_desktop.png" />
	</div>
	<div class="box-banner">
		<img src="/arquivos/assets_header_pre-header_mobile.png" />
	</div>
</div>