.static-page.atencion-comercial{
    .three-column-item{
        width: 100%;
        display: table;
        div{
            width: 30%;
            display: table-cell;
            h3{
                color: $cherry-red;
            }
        }
    }
}