body.contacto {
    .main-row {
        display: table;
        h3 {
            img {
                display: inline-block;
                width: 16px;
                margin-right: 6px;
                margin-bottom: -3px;
            }
        }
        p:not(#returnmessage){
            padding-bottom: 27px;
            margin-right: 45px;
            margin-bottom: 35px;
            border-bottom: 1px solid $lightest-gray-A;
        }
        .page-column {
            display: table-cell;
            &:first-child{
                padding-right: 6%;
                border-right: 1px solid $lightest-gray-A;
            }
            &:last-child{
                padding-left: 6%;
            }
        }
        .form-block{
            width: 47%;
        }
        #co_form .form-block:nth-of-type(1){
            margin-right: 6%;
        }
        button#submit{
            float: right;
        }
        @include bp(max-width, $bp-large){
            .form-block{
                width: 100%;
            }
        }
        @include bp(max-width, $bp-medium){
            .page-column {
                display: block;
                &:first-child{
                    padding: 0;
                    border:none;
                }
                &:last-child{
                    padding: 6% 0 0;
                    border-top: 1px solid $lightest-gray-A;
                }
            }
            button#submit{
                float: none;
                width: 100%;
            }
            p:not(#returnmessage){
                margin-right: 0;
                margin-bottom: 15px;
                padding-bottom: 20px;
            }
            p#returnmessage{
                margin: 15px 0 35px;
            }
        }
    }
}