.static-page{

    @include bp(max-width, $bp-medium) {
        .header {
            .top-container {
                border-bottom: 1px solid $lightest-gray-D;
            }
        }
    }

    section.container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .bread-crumb ul li.last {
            font-weight: $font-family-weight-regular;
            color: $medium-gray;
        }
        .main-row{
            background-color: $whitest;
            width: 100%;
            margin-bottom: 90px;
            padding: 6% 10%;
            h2.page-title {
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-regular;
                color: $cherry-red;
                font-size: 34px;
                margin-bottom: 30px;
            }
            h3 {
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-semibold;
                color: $dark-gray;
                font-size: 14px;
                margin-bottom: 17px;
            }
            p:not(#returnmessage), ol li, ul li{
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-regular;
                color: $medium-gray-B;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 27px;
                strong, a{
                    font-weight: $font-family-weight-semibold;
                }
                a{
                    color: $medium-gray-B;
                    text-decoration: none;
                    &:visited{
                        color: $medium-gray-B;
                    }
                    &:active{
                        color: $medium-gray-B;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            ol.terms-counter, ul.terms{
                margin-bottom: 27px;
                li{
                    margin-bottom: 0;
                    font-weight: $font-family-weight-semibold;
                    span{
                        margin-right: 5px;
                        color: $cherry-red;
                    }
                }
            }
            ul.terms{
                li:before{
                    content: '\25BA';
                    color: $cherry-red;
                    display: inline-block;
                    margin-right: 3px;
                    font-size: 11px;
                }
            }
            @include bp(max-width, $bp-large){
                padding: 6% 8%;
            }
            @include bp(max-width, $bp-medium){
                padding: 4% 3% 0;
                .box-breadcrumb:first-child{
                    display: block;
                    margin: 20px 10px;
                    padding-top: 20px;
                }
                p:not(#returnmessage){
                    margin-right: 0;
                    margin-bottom: 15px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}