.static-page {
    &.payment-method {
        .container {
            padding: 0 10px;

            .modal-payment {
                @include box-shadow(none);
                @include transform(none);
                background-color: $whitest;
                display: block;
                margin: 40px auto;
                max-height: none;
                max-width: $page-content-size;
                padding: 20px 30px;
                position: static;
                width: auto;
                height: auto;
                min-height: 70vh;

                .closing-cross {
                    display: none;
                }

                .modal-dropdowns {
                    max-height: none;
                    overflow: visible;

                    > div {
                        @include transition(opacity 1s);
                        display: inline-block;
                        height: 0;
                        opacity: 0;
                        overflow: hidden;
                        vertical-align: top;
                        width: 100%;

                        &.active {
                            height: 100%;
                            opacity: 1;
                        }
                    }
                    .values {
                        .financial {
                            display: none;
                        }
                    }
                }
            }

            @include bp(max-width, $bp-medium) {
                .modal-payment {
                    margin: 25px auto 40px;
                }
            }
        }
    }
}