.brand {
    #main-content {
        padding: 15px 0 0;
    }
    
    .filters, .orderby {
        h3 {
            &:not(.order):after {
                display: none;
            }

            &:not(.mobile) {
                display: block;
                margin: 0 0 10px;
            }
        }

        ul {
            margin: 15px 0 20px;

            &:after {
                display: none;
            }
        }
    }

    @include bp(max-width, $bp-medium) {
        .filters, .orderby {
            h3 {
                &:not(.mobile) {
                    margin: 10px 0 10px;
                    padding: 0 10px 15px 15px;
                }
            }
        }
    }
}