$cherry-red: #b70b2f;
$dark-gray: #333333;
$medium-gray: #999999;
$medium-gray-B: #666666;
$light-gray: #cfcfcf;
$lightest-gray-A: #f7f7f7;
$lightest-gray-B: #e8e8e8;
$lightest-gray-C: #ededed;
$lightest-gray-D: #d1d1d1;
$lightest-gray-E: #e1e1e1;
$whitest: #ffffff;
$yellow: #ffcc00;
$nav-background: #2d2825;
$green-flag: #5a9246;
$blue-link: #6c9ad2;

$nuevo-light-flag: #b70b2f;
$nuevo-flag : #970821;
$oferta-light-flag: #ed7000;
$oferta-flag: #cb6000;
$pre-venta-light-flag : #62009b;
$pre-venta-flag : #510085;

$facebook-button: #4267b2;
