@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i');

$sans-font-family: Arial, Helvetica, sans-serif;

$titillium-web-font-family: "Titillium Web", $sans-font-family;

$font-family-weight-light: 300;
$font-family-weight-regular: 400;
$font-family-weight-semibold: 600;