<div class="bottom">
    <div class="col left">
        <a href="#"><img class="desktop" src="/arquivos/assets_lanzamientos_left-bottom.jpg" /></a>
        <a href="#"><img class="mobile" src="/arquivos/assets_lanzamientos_left-bottom-mobile.jpg" /></a>
    </div>
    <div class="col right">
        <a href="#"><img class="desktop" src="/arquivos/assets_lanzamientos_right-bottom.jpg" /></a>
        <a href="#"><img class="mobile" src="/arquivos/assets_lanzamientos_right-bottom-mobile.jpg" /></a>
    </div>
</div>