<div class="top">
    <div class="col one">
        <a href="#"><img class="desktop" src="/arquivos/assets_lanzamientos_left-top-left.jpg" /></a>
        <a href="#"><img class="mobile" src="/arquivos/assets_lanzamientos_left-top-left-mobile.jpg" /></a>
    </div>

    <div class="col two">
        <a href="#"><img class="desktop" src="/arquivos/assets_lanzamientos_left-top-right.jpg" /></a>
        <a href="#"><img class="mobile" src="/arquivos/assets_lanzamientos_left-top-right-mobile.jpg" /></a>
    </div>

    <div class="col three">
        <a href="#"><img class="desktop" src="/arquivos/assets_lanzamientos_right-top-left.jpg" /></a>
        <img class="mobile" src="/arquivos/assets_lanzamientos_right-top-left-mobile.jpg" /></a>
    </div>
    <div class="col four">
        <a href="#"><img class="desktop" src="/arquivos/assets_lanzamientos_right-top-right.jpg" />
        <a href="#"><img class="mobile" src="/arquivos/assets_lanzamientos_right-top-right-mobile.jpg" /></a>
    </div>
</div>