<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
<head>
    <title>Afinidad</title>
    <vtex:template id="commonStyles{{developFileSuffix}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <vtex:template id="commonScripts{{developFileSuffix}}" />
    <script src="/arquivos/js_vendor_owl.carousel.min.js"></script>
    <script src="/arquivos/js_department{{developFileSuffix}}.js"></script>
    <script src="/arquivos/js_filters{{developFileSuffix}}.js"></script>
</head>
<body id="departament-page">
    <div class="page">
        <!--  SubTemplate: Header -->
        <vtex:template id="Header{{developFileSuffix}}"/>
        <!-- /SubTemplate: Header -->
        <section id="content" class="container grid">
            <div id="departament-banner">
                <vtex:contentPlaceHolder id="Banner-Principal"/>
            </div><!-- #departament-banner -->
            <div id="mobile-banner" class="mobile">
                <vtex:contentPlaceHolder id="Banner-Principal-Mobile"/>
            </div><!-- #mobile-banner -->
            <h2 class="title">¡Beneficios Únicos!</h2>
            <div class="row">
                <aside class="sidebar">
                    <div class ="triggers">
                        <div class="filter-trigger"><span>Filtrar por</span></div>
                        <div class="table-margin"></div>
                        <div class="orderby-trigger"><span>Ordenar por</span></div>
                    </div>
                    <div id="busqueda-navegador" class="filters">
                        <h3 class="filter-title">
                            <a href="#">CLUB DE AMIGOS</a>
                            <span class="closing-cross"></span>
                        </h3>
                        <vtex.cmc:searchNavigator/>
                    </div>
                    <div id="orderby-nav-mobile" class="orderby">
                        <h3 class="mobile order">Ordenar por<span class="closing-cross"></span></h3>
                        <ul>
                            <li><a href="OrderByReleaseDateDESC">Lanzamientos</a></li>
                            <li><a href="OrderByPriceASC">Menor Precio</a></li>
                            <li><a href="OrderByPriceDESC">Mayor Precio</a></li>
                            <li><a href="OrderByNameASC">A/Z</a></li>
                            <li><a href="OrderByNameDESC">Z/A</a></li>
                        </ul>
                    </div>
                </aside><!-- .sidebar -->
                <article id="main-content">
                    <div id="products">
                        <div class="collection-wrapper">
                            <vtex.cmc:searchResult layout="{{Showcase-Shelf-Department}}" itemCount="20" columnCount="20" />
                        </div>
                    </div><!-- #collections -->
                    <div class="button-more">
                        <button type="button" id="list-more" class="list-more" value="Ver mas">
                            Ver más
                        </button>
                    </div>
                </article><!-- #main-content -->
            </div><!-- .row -->
        </section><!-- #content -->
        <!--  SubTemplate: Footer -->
        <vtex:template id="Footer{{developFileSuffix}}"/>
        <!-- /SubTemplate: Footer -->
    </div><!-- .container-fluid -->
    <div class="modal-affinity">
        <span class="closing-cross"></span>
        <h1 class="title">Bienvenidos al Club de Amigos</h1>
        <h2>Formá parte del Club de Amigos de Tiendas Digitales y aprovechá todos nuestros beneficios</h2>
        <div class="modal-content">
            <div class="login-form">
                <div class="login">
                    <h4>Iniciar Sesión</h4>
                    <p class="hint">Si ya estás registrado, ingresá tu email <br/>en el siguiente campo.</p>
                </div>
                <form action="/" method="POST" class="form-login affinity-form static-form" data-msg-error="No fue posible enviar la información, intenta nuevamente más tarde." novalidate="novalidate">
                    <input type="email" name="email" class="email" placeholder="Ingresá tu mail" data-validation="required email" data-msg-required="Campo obligatorio." data-msg-email="Mail incorrecto, por favor intenta nuevamente."/>
                    <button type="submit" class="btn">INGRESAR</button>
                </form>
            </div>

            <div class="register-form">
                <div class="register">
                    <h4>¿Primera vez que ingresás?</h4>
                    <p class="hint">Si aún no estás registrado, ingresá tu mail <br/>y empresa para poder acceder al sitio.</p>
                </div>
                <form action="/" method="POST" class="form-register affinity-form static-form" novalidate="novalidate" data-msg-error="No fue posible enviar la información, intenta nuevamente más tarde.">
                    <fieldset class="reveal">
                        <input type="email" name="email" class="email" placeholder="Ingresá tu mail" data-validation="required email" data-msg-required="Ingresa tu mail!" data-msg-email="Mail incorrecto, por favor intenta nuevamente."/>
                        <div class="hint hide">No se encontró tu dirección de email. Completá el siguiente formulario para ingresar.</div>
                    </fieldset>

                    <fieldset class="group-partner">
                        <div class="input-partner">
                            <select class="partner-search-results2" name="partnercode" data-validation="required partner" data-msg-required="Ingresa el código de empresa." data-msg-partner="Código de empresa inválido.">
                            </select>
                            <i class="icon-hint">?</i>
                            <div class="hint hide">Si no recordás el código de tu empresa, podés ingresar las primeras 3 letras y te ayudaremos a completarlo.</div>
                            <i class="icon icon-close"></i>
                            <div class="partner-search-results"></div>
                        </div>
                    </fieldset>
                    <fieldset class="checkbox-item">
                        <input type="checkbox" id="receber-ofertas-socio" name="term" value="true" checked="checked" data-validation="required" data-msg-required="Campo obligatorio."/>
                        <label for="receber-ofertas-socio" class="checked">Acepto <a href="/terminos-y-condiciones" target="_blank">Términos y Condiciones</a></label>
                    </fieldset>
                    <fieldset class="reveal">
                        <button type="submit" class="btn">UNITE AHORA</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-shadow"></div>
    <vtex:template id="commonScriptsDeferred{{developFileSuffix}}"/>
    <script src="/arquivos/js_vendor_select2.min.js"></script>
    <script src="/arquivos/js_vendor_jquery.validate.min.js"></script>
    <script src="/arquivos/js_affinity{{developFileSuffix}}.js"></script>
    <script src="/arquivos/js_grid{{developFileSuffix}}.js"></script>
    <script src="/arquivos/js_orderby{{developFileSuffix}}.js"></script>
</body>
</html>