<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Atención Comercial</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body class="static-page">

<div class="page">
    <vtex:template id="Header{{developFileSuffix}}" />

    <section class="container">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Atención Comercial</li></ul>
            </div>
        </div>

        <div class="main-row">
            <h2 class="page-title">Atención Comercial</h2>
            <h3>¿Querés hacernos una consulta?</h3>
            <p>Por teléfono, chat o correo electrónico, especialistas te asesoran en función de tus necesidades y requerimientos. ¡Contactanos!</p>
            <div class="three-column-item">
                <div>
                    <h3>0810 - 362 - 2128</h3>
                    <p>De Lunes a Viernes de 9:00 a 18:00hs.</p>
                </div>
                <div>
                    <h3>Chateá con nosotros</h3>
                    <p>De Lunes a Viernes de 9:00 a 18:00hs.</p>
                </div>
                <div>
                    <h3>tienda@bangho.com.ar</h3>
                </div>
            </div>
        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>