<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Contáctanos</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
    <script src="/arquivos/js_utils_contactMasterData_v1.16_ptbr.js"></script>
    <script src="/arquivos/js_contact{{developFileSuffix}}.js"></script>

</head>
<body class="static-page">

<div class="page">
    <vtex:template id="Header{{developFileSuffix}}" />

    <section class="ayuda-contacto container static-form">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Contáctanos</li></ul>
            </div>
        </div>

        <div class="main-row">
            <div class="page-column">
                <h2 class="page-title">Contacto</h2>
                <h3><img src="/arquivos/assets_static-pages_contact_pencil-red.png" />Envianos un mensaje</h3>
                <p>¿Necesitás ayuda? Completá el siguiente formulario y pronto un representante se pondrá en contacto con vos.</p>
                <div id="contact-form"></div>
            </div>
            <div class="page-column">
                <h2 class="page-title">Atención al Cliente</h2>
                <div class="call-us">
                    <h3><img src="/arquivos/assets_static-pages_contact_phone-red.png" />Llamanos</h3>
                    <p>Ante cualquier duda ponete en contacto con nosotros llamando al <strong>0810-444-2673</strong> (Líneas Rotativas)</p>
                </div>
                <div class="email-us">
                    <h3><img src="/arquivos/assets_static-pages_contact_envelope-red.png" />Envianos un mail</h3>
                    <p>Escribinos a <a href="mailto:tienda@tiendasdigitales.com.ar?subject=contacto">tienda@tiendasdigitales.com.ar</a> y nos contactaremos para resolver tus consultas.</p>
                </div>
            </div>
        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>