<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>

    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScript{{developFileSuffix}}s" />
    <script src="/arquivos/js_buscavazia{{developFileSuffix}}.js"></script>
    <title>No se encontraron resultados</title>
</head>

<body id="busca-vazia-page">

<div class="page">

    <!--  SubTemplate: Header -->
    <vtex:template id="Header{{developFileSuffix}}" />
    <!-- /SubTemplate: Header -->

    <section id="busca-vazia-content" class="container">
        <article id="main-content">
            <div class="colum-container">
                <div class="col">
                    <div class="img-message mobile">
                        <div class="message">
                            <h3>¡Lo sentimos!</h3>
                            <p>No hemos encontrado resultados de búsqueda para:</p>
                            <p class="text-search"></p>
                        </div>
                    </div>
                    <div class="main-image"></div>
                </div>
                <div class="col">
                    <div class="img-message">
                        <div class="message">
                            <h3>¡Lo sentimos!</h3>
                            <p>No hemos encontrado resultados de búsqueda para:</p>
                            <p class="text-search"></p>
                        </div>
                    </div>
                    <div class="recomendations">
                        <h4>Corroborá que tu búsqueda sea la correcta</h4>
                        <ul>
                            <li>Revisar la ortografía de la palabra</li>
                            <li>Utilizar palabras más genéricas o menos palabras</li>
                            <li>Ponete en contacto con nosotros para que podamos ayudarte, haciendo <a href="/contacto/">click aquí</a>.</li>
                        </ul>        
                    </div>
                </div>
            </div>

            <div class="links-containers">
                <h3>Te sugerimos mirar otros productos aquí:</h3>
                <ul>
                    <li><a href="/consola">Consolas</a></li>
                    <li><a href="/auriculares">Auriculares</a></li>
                    <li><a href="/juego">Juegos</a></li>
                    <li><a href="/memoria">Memorias</a></li>
                    <li><a href="/coleccionables?O=OrderByReleaseDateDESC">Coleccionables</a></li>
                </ul>
            </div>
        </article>

        <div id="category-extra-vitrine-2">
            <vtex:contentPlaceHolder id="Ofertas" />
        </div>

    </section>

    <!--  SubTemplate: Footer -->
    <vtex:template id="Footer{{developFileSuffix}}" />
    <!-- /SubTemplate: Footer -->

</div><!-- .container-fluid -->

</body>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}"/>
<vtex:template id="Olark-Chat-Script" />
</html>