<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Política de Cambio y Devolución</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body class="static-page">

<div class="page">
    <vtex:template id="Heade{{developFileSuffix}}r" />

    <section class="politicas-cyd container">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Política de Cambio y Devolución</li></ul>
            </div>
        </div>

        <div class="main-row">
            <h2 class="page-title">Política de Cambio y Devolución</h2>
            <p>Los términos y condiciones generales que se describen a continuación se aplicarán a las compras de productos realizadas por Internet a PC ARTS ARGENTINA S.A. Las fotos son a modo ilustrativo, origen de los equipos BANGHÓ: Argentina. BANGHÓ es propiedad de PC ARTS ARGENTINA S.A.</p>

            <p>Los cambios y/o devoluciones deberán realizarse antes de los 10 días de corrido desde la fecha de recepción del producto. En el caso que anules una compra deberá comunicarse con el Área de Atención al Cliente de BANGHÓ (bangho.com.ar/atencioncomercial), informando su decisión de devolver el producto, y poner el mismo a disposición de PC ARTS ARGENTINA S.A. para su retiro, reservándose el derecho de cobrar el flete. Es necesario para la devolución que el producto debe estar sin uso, en perfectas condiciones, con etiquetas, accesorios y empaques originales (incluyendo manuales, guías de uso, certificados de garantía, etc.). El costo del envío y retiro, según sea el caso, será asumido por PC ARTS ARGENTINA S.A. cuando la devolución o cambio se produzca porque:</p>

            <ol class="terms-counter">
                <li><span>a.</span>El producto no corresponde al detalle de la factura.</li>
                <li><span>b.</span>El producto corresponde al detalle de la factura, pero no es lo solicitado en la orden de compra.</li>
                <li><span>c.</span>El producto entregado se encuentra dañado.</li>
            </ol>

            <p>En caso de corresponder el reembolso de valores, el mismo se realizará dentro de los 10 días hábiles de recibido el producto por parte de PC ARTS ARGENTINA S.A. por la misma vía por la cual se realizó el pago.</p>

            <p><strong>IMPORTANTE:</strong> para evitar inconvenientes, es muy importante que al momento de la recepción de la compra revises el buen estado de los productos antes de firmar conforme el remito de entrega. Esto evitará inconvenientes futuros y te servirá también para hacer uso de la garantía (si la hubiera). Tu nombre, firma y DNI al momento de la entrega será muestra de conformidad en la recepción.</p>
        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferre{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>