<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Formas y Costos de Envío</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body class="static-page">

<div class="page">
    <vtex:template id="Header{{developFileSuffix}}" />

    <section class="container">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Formas y Costos de Envío</li></ul>
            </div>
        </div>

        <div class="main-row">
            <h2 class="page-title">Formas y Costos de Envío</h2>
            <p>Los términos y condiciones generales que se describen a continuación se aplicarán a las compras de productos realizadas por Internet a PC ARTS ARGENTINA S.A. Las fotos son a modo ilustrativo, origen de los equipos TIENDAS DIGITALES: Argentina. TIENDAS DIGITALES es propiedad de PC ARTS ARGENTINA S.A</p>
            <h3>Costo de envío:</h3>
            <p>El costo de envío variará dependiendo de la cantidad de productos, del peso, localidad y forma de envío elegido; donde podrás conocerlo antes de finalizar tu compra.</p>

            <h3>Formas de envío:</h3>
            <p>Las formas de envío disponible son:</p>

            <ul class="terms">
                <li>Entrega en domicilio.</li>
                <li>Entrega programada valido únicamente para Capital Federal.</li>
                <li>Retiro en sucursales de OCA.</li>
                <li>Retiro en punto de entrega TIENDAS DIGITALES en Capital Federal.</li>
                <li>Las entregas las hacemos en todo el país, excepto Tierra del Fuego.</li>
            </ul>

            <h3>Envío sin cargo:</h3>
            <p>TIENDAS DIGITALES bonificará el costo del envío de tu compra de manera total o parcial según promociones vigentes comunicadas en el sitio oficial <a href="http://www.tiendasdigitales.com.ar/">www.tiendasdigitales.com.ar</a></p>

            <h3>Plazo de entrega:</h3>
            <p>El plazo de entrega comenzará a partir del momento en el que se despacha tu pedido y dependerá de la forma de envió que hayas elegido al momento de realizar la compra.</p>

            <h3>Recepción de la compra:</h3>
            <p>Sólo podrán recibir el pedido aquellas personas que sean titular de la compra o que acrediten tener el permiso de recibir el mismo, para ello deberán contar con número de compra, además de acreditar su identidad.</p>

            <h3>No recibí mi compra:</h3>
            <p>Si no recibiste tu pedido, contáctate con el servicio de atención comercial de TIENDAS DIGITALES haciendo click en el siguiente enlace: <a href="http://www.tiendasdigitales.com.ar/">www.tiendasdigitales.com.ar/atencion-comercial.</a></p>
        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>