<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Tiendas Digitales</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
    <script src="/arquivos/js_home{{developFileSuffix}}.js"></script>
</head>

<body id="home-page">

<div class="page">
    <vtex:template id="popup-newsletter{{developFileSuffix}}" />

    <vtex:template id="Header{{developFileSuffix}}" />

    <div id="home-extra-top"></div>

    <section id="home-content" class="container">

        <div id="category-extra-middle"></div>

        <div class="slider-desktop">
            <div class="slider-principal owl-carousel owl-theme">
                <vtex:contentPlaceHolder id="sliderPrincipal" />
            </div>
        </div>

        <div class="slider-mobile">
            <div class="slider-principal owl-carousel owl-theme">
                <vtex:contentPlaceHolder id="sliderPrincipalMobile" />
            </div>
        </div>

        <div id="category-extra-vitrine-1">
            <vtex:contentPlaceHolder id="Novedades" />
        </div>

        <div class="showcase-default showcase-owl">
            <vtex:contentPlaceHolder id="Destaques" />
        </div>

        <div id="grilla-banners">
            <div class="grilla-wrapper">
                <div class="grilla-izq">
                    <div class="slider-izq big-square owl-carousel owl-theme">
                        <vtex:contentPlaceHolder id="SliderIzq" />
                    </div>

                    <div class="slider-mobile-1 owl-carousel owl-theme">
                        <vtex:contentPlaceHolder id="SliderMobile1" />
                    </div>

                    <vtex:contentPlaceHolder id="grillaIzq" />

                    <div class="slider-mobile-2 owl-carousel owl-theme">
                        <vtex:contentPlaceHolder id="SliderMobile2" />
                    </div>

                </div>
                <div class="grilla-der">
                    <vtex:contentPlaceHolder id="grillaDer" />
                    <div class="slider-der big-rect-horizontal owl-carousel owl-theme">
                        <vtex:contentPlaceHolder id="SliderDer" />
                    </div>
                </div>
            </div>
        </div>

        <div id="category-extra-vitrine-2">
            <vtex:contentPlaceHolder id="Ofertas" />
        </div>

        <div class="showcase-default showcase-owl">
            <vtex:contentPlaceHolder id="Lançamentos" />
        </div>

    </section>

    <div id="category-extra-bottom"></div>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>