<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
	<title>Tiendas Digitales - Lanzamientos</title>
	<vtex:metaTags/>
	<vtex:template id="commonStyles{{developFileSuffix}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<vtex:template id="commonScripts{{developFileSuffix}}" />
</head>

<body>

<div class="page">
	<vtex:template id="Header{{developFileSuffix}}" />
	<section class="container">
		<h3>Próximos Lanzamientos</h3>
		<div class="slider-desktop">
			<div class="slider-principal owl-carousel owl-theme">
				<vtex:contentPlaceHolder id="sliderPrincipal" />
			</div>
		</div>

		<div class="slider-mobile">
			<div class="slider-principal owl-carousel owl-theme">
				<vtex:contentPlaceHolder id="sliderPrincipalMobile" />
			</div>
		</div>

		<div id="grilla-banners">
			<div class="grilla-wrapper">
					<vtex:contentPlaceHolder id="topGrid" />
					<vtex:contentPlaceHolder id="bottomGrid" />
			</div>
		</div>

		<div id="category-extra-vitrine-2">
			<vtex:contentPlaceHolder id="Ofertas" />
		</div>

	</section>

	<vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<script src="/arquivos/js_lanzamientos{{developFileSuffix}}.js"></script>
<vtex:template id="Olark-Chat-Script" />
</body>
</html>