<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
<head>
    <title>Login</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body id="orders-page">
    <div class="page">
        <vtex:template id="Header{{developFileSuffix}}" />

        <section id="login-content" class="container">
            <vtex.cmc:userLogin/>
        </section><!-- #content -->

        <vtex:template id="Footer-develop" />

    </div>
    <vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
    <script src="/arquivos/js_utils_disableBootstrap{{developFileSuffix}}.js"></script>
    <script src="/arquivos/js_login{{developFileSuffix}}.js"></script>
    <vtex:template id="Olark-Chat-Script" />
</body>
</html>