<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
	<title>Métodos de Pago</title>
	<vtex:metaTags/>
	<vtex:template id="commonStyles{{developFileSuffix}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<vtex:template id="commonScripts{{developFileSuffix}}" />
</head>

<body>

<div class="page">
	<vtex:template id="Header{{developFileSuffix}}" />
	<section class="container">
		<vtex:template id="paymentMethod{{developFileSuffix}}" />
		<div class="modal-shadow"></div>
	</section>

	<vtex:template id="Footer{{developFileSuffix}}" />
</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<script src="/arquivos/js_mercadopago{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_product-payment{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_payment-method{{developFileSuffix}}.js"></script>
<vtex:template id="Olark-Chat-Script" />
</body>
</html>