<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Mis Pedidos</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body id="orders-page">

<div class="page">
    <vtex:template id="Header{{developFileSuffix}}" />

    <section class="container">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Mis Pedidos</li></ul>
            </div>
        </div>

        <div class="main-row">
            <vtex.cmc:orderList/>
        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<script src="/arquivos/js_utils_disableBootstrap{{developFileSuffix}}.js"></script>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<script src="/arquivos/js_orders{{developFileSuffix}}.js"></script>
<vtex:template id="Olark-Chat-Script" />
</body>
</html>