<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
	<title>Tiendas Digitales - <vtex.cmc:productPageTitle /></title>
	<vtex:metaTags/>
	<vtex:template id="commonStyles{{developFileSuffix}}" />
	<vtex:template id="commonScripts{{developFileSuffix}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body id="product-page">

<div class="page">
	<vtex:template id="Header{{developFileSuffix}}" />

	<section class="page-container main-container">
		<div class="page-content">
			<div class="breadcrumb-container">
				<vtex.cmc:breadCrumb />
			</div>

			<div class="product-info-container">
				<div class="product-row">
					<div class="col gallery">
						<div class="gallery-container">
							<div class="next-image"></div>
							<vtex.cmc:ProductImage zoom="on"/>
							<div class="prev-image"></div>
						</div>
						<div class="product-flag">
							<vtex.cmc:HightLight/>
						</div>
					</div>

					<div class="col product-data">
						<div class="product-data-container">
							<div class="brand-logo">
								<div class="logo"></div>
								<vtex.cmc:brandName/>
							</div>
							<div class="department"></div>

							<div class="product-name">
								<vtex.cmc:productName />
							</div>

							<div class="product-extra-info">
								<div class="sku">sku: <vtex.cmc:skuReference/></div>
								<div class="product-rating"><vtex.cmc:evaluationRate/></div>
							</div>

							<div class="product-price">
								<vtex.cmc:skuPrice/>
								<div class="flag discount"></div>
								<div class="discount-benefit"></div>
							</div>

							<div class="product-action">
								<div class="buy-button">
									<vtex.cmc:BuyButton/>
									<!--This controller is necessary 'cause we are using product like List of SKU's-->
									<div class="aviseme">
										<vtex.cmc:skuSelection />
									</div>
									<!-- -->
								</div>

								<div class="product-share">
									<div class="share"><span class="share-icon"></span><span>Compartir</span></div>
									<div class="product-action-share-icons">
										<div class="social-networks">
                                            <div class="twitter social-button">
                                                <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                            </div>

                                            <div class="facebook social-button">
												<a title="share" id="shareBtn-facebook" href="#">
													<span class="facebook-icon"></span>
													<span>Compartir</span>
												</a>
                                            </div>

                                            <div class="google-plus social-button">
                                                <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
                                            </div>

                                            <div class="pinterest social-button">
                                                <a href="https://www.pinterest.com/pin/create/button/">
                                                    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                                                </a>
                                            </div>

										</div>
									</div>
								</div>
							</div>
							<div class="product-order-info">
								<div class="shipping-info">
									<img src="/arquivos/assets_product_truck.png" />
									<h5>Calcular<br />Envíos</h5>
								</div>
								<div class="payment-info">
									<img src="/arquivos/assets_product_card.png" />
									<h5>Formas<br />de Pago</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="product-row description">
					<div class="product-description-container">
						<h3>Descripción</h3>
						<div class="product-description"><vtex.cmc:ProductDescription /></div>
						<div class="see-more show">Ver más</div>
						<div class="see-less">Ver menos</div>
					</div>
				</div>

				<div class="product-row specification">
					<div class="product-specification-container">
						<div class="product-specification"><vtex.cmc:productSpecification /></div>
						<div class="see-more show">Ver más</div>
						<div class="see-less">Ver menos</div>
					</div>
				</div>

				<div class="product-row more-information hide">
					<div class="product-more-information-container">
						<h3>Más información</h3>
						<div class="more-information-description"></div>
						<div class="see-more show">Ver más</div>
						<div class="see-less">Ver menos</div>
					</div>
				</div>

				<div class="product-row evaluation">
					<div class="product-evaluation-container">
						<h3>Comentarios y Calificaciones</h3>
						<div class="product-evaluation">
							<vtex.cmc:UserReview/>
						</div>
					</div>
				</div>


				<div class="product-row promotion hide">
					<div class="product-promotion-container">
						<h2>Aprovechá esta promoción</h2>
						<div class="product-promotion">
							<div id="buy-together-root">
								<ul></ul>
							</div>
							<div class="plus">+</div>
							<div id="buy-together-products" class="carousel">
								<ul></ul>
							</div>
							<div class="equal">=</div>
							<div id="buy-together-price" class="carousel">
								<ul></ul>
							</div>
						</div>
					</div>
				</div>

				<div class="product-row related">
					<div class="product-related-container">
						<div class="slider-container">
							<vtex:contentPlaceHolder id="Sugestoes" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<vtex:template id="paymentMethod{{developFileSuffix}}" />

	<div class="modal-shipping">
		<span class="closing-cross"></span>
		<h4><img src="/arquivos/assets_product_truck.png" />Calcular Envío</h4>
		<vtex.cmc:shippingValue />
		<p class="calculate-shipping-error"></p>
	</div>

	<div class="modal-shadow"></div>

	<vtex:template id="Footer{{developFileSuffix}}" />
</div>

<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<script src="/arquivos/js_vendor_waitUntilExists{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_mercadopago{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_product-payment{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_product{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_product-share{{developFileSuffix}}.js"></script>
<script src="https://apis.google.com/js/platform.js" async="true" defer="true">
    {lang: 'es-419'}
</script>
<script
        type="text/javascript"
        async="true" defer="true"
        src="//assets.pinterest.com/js/pinit.js"
></script>
<vtex:template id="Olark-Chat-Script" />
</body>
</html>