<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Quiénes Somos</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body class="static-page">

<div class="page">
    <vtex:template id="Header{{developFileSuffix}}" />

    <section class="container">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Quiénes Somos</li></ul>
            </div>
        </div>

        <div class="main-row">
            <h2 class="page-title">Quiénes Somos</h2>

            <h3>Nosotros</h3>

            <p>Tiendas Digitales está formado por un equipo de personas especialistas, entusiastas y apasionados por la tecnología, con décadas de experiencia.</p>

            <p>Tiendas Digitales es un portal especialista en tecnología, cultura pop, coleccionables, electrónica de consumo y videojuegos, operando en todo el territorio nacional argentino.</p>

            <p>Tiendas Digitales está comprometido a entregar innovación, una gran experiencia de compra. Si estás buscando productos nuevos y usado, los últimos videos juegos digitales o fiscos, la última consola o PC o notebook, o accesorios, periféricos, tecnología entusiasta</p>

            <h3>Visión</h3>

            <p>Ser la plataforma online integral de contenidos, servicios y ventas para GAMERS, líder de Argentina.</p>

            <h3>Nuestra Misión</h3>

            <p>Nos proponemos brindar soluciones eficientes e innovadoras para las necesidades tecnológicas y de entretenimiento, mantenernos en la vanguardia, y convertirnos en referentes de la escena tecnológica nacional, siendo una excelente inversión para nuestros partners.</p>

            <p>Nos proponemos liderar el mercado de equipos y accesorios para gamers en Argentina otorgando un alto grado de satisfacción, a través de la asesoría personalizada y ofreciendo una amplia variedad de productos y precios.</p>

            <p>Nos proponemos Satisfacer la necesidad de todos aquellos que quieran adquirir cualquier producto y servicio vinculado al universo gamer y afines.</p>

        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>