<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
	<title> Modelo Vtex</title>
	<vtex:metaTags/>
	<vtex:template id="commonStyles{{developFileSuffix}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<vtex:template id="commonScripts{{developFileSuffix}}" />
	<script src="/arquivos/js_filters{{developFileSuffix}}.js"></script>
</head>

<body id="search-page">

<div class="page">

	<!--  SubTemplate: Header -->
	<vtex:template id="Header{{developFileSuffix}}" />
	<!-- /SubTemplate: Header -->

	<section id="search-content" class="container grid">

		<div class="row">

			<aside class="sidebar">
				<div class ="triggers">
					<div class="filter-trigger"><span>Filtrar por</span></div>
					<div class="table-margin"></div>
					<div class="orderby-trigger"><span>Ordenar por</span></div>
				</div>
				<div id="busqueda-navegador" class="filters">
					<h3 class="filter-title">Filtros<span class="closing-cross"></span></h3>
					<vtex.cmc:searchNavigator/>
				</div>
				<div id="orderby-nav-mobile" class="orderby">
					<h3 class="mobile order">Ordenar por<span class="closing-cross"></span></h3>
					<ul>
						<li><a href="OrderByReleaseDateDESC">Lanzamientos</a></li>
						<li><a href="OrderByPriceASC">Menor Precio</a></li>
						<li><a href="OrderByPriceDESC">Mayor Precio</a></li>
						<li><a href="OrderByNameASC">A/Z</a></li>
						<li><a href="OrderByNameDESC">Z/A</a></li>
					</ul>
				</div>
			</aside>

			<article id="main-content">
                <div id="products">
                    <div class="collection-wrapper">
                        <vtex.cmc:searchResult layout="{{Showcase-Shelf-Search}}" itemCount="20"  columnCount="20" />
                    </div>
                </div>
                <div class="button-more">
                    <button type="button" id="list-more" class="list-more" value="Ver mas">
                        Ver más
                    </button>
                </div>
			</article><!-- #main-content -->

		</div><!-- .row -->

	</section><!-- #content -->

	<!--  SubTemplate: Footer -->
	<vtex:template id="Footer{{developFileSuffix}}" />
	<!-- /SubTemplate: Footer -->

</div><!-- .container-fluid -->
<div class="modal-shadow"></div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}"/>
<script src="/arquivos/js_grid{{developFileSuffix}}.js"></script>
<script src="/arquivos/js_orderby{{developFileSuffix}}.js"></script>
<vtex:template id="Olark-Chat-Script" />
</body>
</html>