<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Términos y Condiciones</title>
    <vtex:metaTags/>
    <vtex:template id="commonStyles{{developFileSuffix}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vtex:template id="commonScripts{{developFileSuffix}}" />
</head>
<body class="static-page">

<div class="page">
    <vtex:template id="Header{{developFileSuffix}}" />

    <section class="container">
        <div class="box-breadcrumb">
            <div class="bread-crumb">
                <ul>
                    <li><a title="tiendasdigitales" href="/">Home</a></li>
                    <li class="last">Términos y Condiciones</li></ul>
            </div>
        </div>

        <div class="main-row">
            <h2 class="page-title">Términos legales de uso del sitio web</h2>
            <h3>1. Aceptación y Condiciones generales.</h3>
            <p>Este acuerdo describe los Términos y Condiciones Generales (en adelante los "Términos") que regirán el modo de adquisición de los productos (en adelante los "Productos") que se ofrecen dentro del sitio web “” (en adelante, el "Sitio") así como el modo de utilización del Sitio. Cualquier persona que pretenda hacer uso del Sitio podrá hacerlo sujetándose a los presentes Términos (en adelante el “Usuario”), como así también a toda otra política de uso que aplique al Sitio y que sea aquí referenciada.</p>

            <p>Al ingresar y utilizar nuestro Sitio, ese entenderá que el Usuario ha leído y aceptado plenamente y sin condicionamiento alguno los Términos que estén vigentes al momento de acceso. Por lo tanto el Usuario se compromete a cumplir con todas las disposiciones contenidas en estos Términos, las leyes aplicables, estatutos, reglamentos y regulaciones concernientes al uso del Sitio. En idéntico sentido, deberá observarse la información de copyright incluida en los Términos. Cualquier persona que no acepte estos Términos, los cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Sitio.</p>

            <p>Los presentes Términos, mantendrán su vigencia únicamente en la república Argentina durante el plazo en que el sitio <a href="http://www.tiendasdigitales.com.ar/">www.tiendasdigitales.com.ar</a> se encuentre operativo para el cual Pc Arts Argentina S.A. (en adelante, "TIENDAS DIGITALES"), CUIT 30-70860230-9, con domicilio en Av. Brasil 3060, CABA, en su carácter de responsable de la operación y explotación del Sitio, se reserva el derecho de modificar unilateralmente estos Términos en cualquier momento y sin previo aviso. Se entenderá que los Términos han sido modificados con la sola publicación en el Sitio de las modificaciones realizadas.</p>

            <p>Es su responsabilidad como Usuario del Sitio, ingresar y revisar periódicamente los Términos vigentes. A menos que se establezca de forma específica, todos los Términos se aplican de manera inmediata una vez que son publicados en el Sitio. La utilización del Sitio, después de realizada cualquier modificación, se entenderá como aceptación por parte del Usuario de las modificaciones introducidas.</p>

            <p>Toda información y/o material inserto en éste Sitio, no podrá interpretarse como que otorga al Usuario ninguna concesión de licencia sobre los derechos de ninguna patente o propiedad intelectual, sin el previo consentimiento por escrito de TIENDAS DIGITALES, o de los terceros que resultaran propietarios de las marcas que se exhiban en el Sitio.</p>

            <p>Siendo que la utilización del Sitio no obliga al Usuario a remitir respuestas que impliquen divulgar información confidencial, datos personales o de su propiedad, y dado que TIENDAS DIGITALES no desea recibir en su Sitio información confidencial o de propiedad del usuario, se deja constancia que cualquier información o idea que transmita o publique el Usuario en el Sitio, se considerará como NO confidencial, quedando TIENDAS DIGITALES facultado para su utilización y/o transmisión en cualquier sentido, sin restricciones.</p>
            
            <h3>2. De la adquisición de los Productos</h3>
            <p>TIENDAS DIGITALES se dedicada a la fabricación y distribución de computadoras y productos electrónicos, y por ende desde su Sitio ofrece, publicita, comercializa, vende y da a conocer sus productos electrónico como Tablets, Notebooks, Computadores, etc. El Sitio sirve como medio para que los Usuarios conozcan sus Productos y los puedan adquirir con mayor comodidad.</p>

            <p>La información que TIENDAS DIGITALES publique en su Sitio puede referirse a Productos que no se encuentren disponibles en la zona de domicilio del Usuario. Tal información, por ende, no impone a TIENDAS DIGITALES obligación alguna sobre disponibilidad efectiva de los productos, siendo responsabilidad del Usuario elevar las consultas pertinentes a los canales de venta autorizados en cada región para obtener información referida a la disponibilidad de los Productos.</p>

            <p>Por fuera de los términos de venta y/o uso de los productos TIENDAS DIGITALES, no se generará obligación alguna.</p>

            <p>El acceso y utilización general del Sitio no exige la previa suscripción o registro del Usuario. Sin perjuicio de ello, a los efectos de adquirir un Producto ofrecido en el Sitio, el Usuario deberá registrarse conforme se establece en el Sitio.</p>

            <p>El Usuario se compromete a suministrar datos personales verdaderos, precisos, actuales y completos durante el proceso de registro y de la cobranza del precio del Producto. El Usuario garantiza la exactitud de los datos provistos y defenderá y mantendrá indemne a TIENDAS DIGITALES por cualquier reclamo y/o sanción derivada directa o indirectamente de su incumplimiento bajo esta previsión.</p>

            <p>La compra se efectuará a través de la selección, por parte del Usuario, de alguno de los Productos publicados en el Sitio. Una vez seleccionado el Producto por el Usuario conforme a las indicaciones del Sitio, TIENDAS DIGITALES podrá aceptar o rechazar la compra realizada por el Usuario.</p>

            <p>La compra que el Usuario realice de cualquier Producto será aceptada por TIENDAS DIGITALES, únicamente cuando la totalidad de las siguientes circunstancias se hayan consumado: (i) que el Usuario haya aceptado estos Términos; (ii) que el Usuario haya realizado el pago del Producto; (iii) que el pago del Producto realizado por el Usuario se vea reflejado en el sistema o cuentas de TIENDAS DIGITALES, lo que se considerará tal, una vez que el dinero haya efectivamente ingresado; (iv) que el pago se adecue a las previsiones contenidas en estos Términos. Aceptada la compra por TIENDAS DIGITALES, se considerará perfeccionada la contratación sin reservas por parte del Usuario.</p>

            <p>Al optar por realizar sus compras a través del Sitio, los Usuarios declaran conocer y aceptar que, eventualmente, la compra puede ser anulada, toda vez que en razón del tiempo que llevan las tareas de actualización del sistema, desde la solicitud de compra, hasta su aceptación, el stock del Producto, inicialmente disponible, puede haberse agotado.</p>

            <p>Las compras pueden que sean canceladas debido a: (i) limitaciones en las cantidades disponibles del Producto; (ii) falta de autorización de la operación de compra por parte de la entidad emisora o administradora de su tarjeta de crédito; (iii) inexactitudes o errores en el Producto o información; (iv) inconvenientes identificados por el área de prevención de fraudes. En todos los casos  TIENDAS DIGITALES se reserva el derecho, en tanto medien razones que a su criterio así lo justifiquen, de limitar la cantidad de Productos comprados por una misma cuenta o cuyo pago se gestione a través de una misma tarjeta de crédito o de un mismo domicilio de facturación y/o de entrega.</p>

            <p>En los casos que deban realizarse modificaciones o cancelaciones parciales de sus compras, le asistirá al Usuario el derecho a cancelar la totalidad de las operaciones que hayan realizado.</p>

            <p>El Usuario deberá abonar los Productos a TIENDAS DIGITALES de la siguiente forma: Mercadopago, Todo Pago y Transferencias bancarias. El usuario se ajustará a las promociones vigentes en el sitio al momento de la compra. Es derecho exclusivo de TIENDAS DIGITALES la inclusión, exclusión o suspensión de cualquier medio de pago.</p>

            <p>Al momento de realizarse la compra, TIENDAS DIGITALES informa al Usuario cuáles son los medios de pago que, a esos efectos, se encuentren habilitados en el Sitio.</p>

            <p>El Usuario tiene derecho a revocar la compra en un plazo de 10 (diez) días corridos desde la fecha de inicio de su vigencia, sin necesidad de indicar las razones y sin penalidad alguna. El Usuario comunicará su intención de ejercer este derecho mediante email a tienda@tiendasdigitales.com.ar o llamando al 0810-362-2128. TIENDAS DIGITALES no será responsable por los reintegros que deban efectuar los Bancos emisores de tarjetas de crédito respecto de las promociones vigentes, siendo dichas entidades emisoras las únicas responsables de efectivizar en tiempo y forma el reintegro correspondiente. TIENDAS DIGITALES no recolecta ni almacena datos de las tarjetas de crédito de los Usuarios, ni define el resultado de la operación, siendo esta circunstancia responsabilidad exclusiva de la respectiva entidad bancaria emisora.</p>

            <p>Los precios y promociones que se ofrecen en Sitio, son exclusivos para el Sitio, y no son aplicables a otros canales de comercialización de TIENDAS DIGITALES tales como: sucursales, ventas telefónicas, catálogos, entre otros. La compra mínima permitida en el sitio sitio es de $445 argentinos. La validez de las promociones que pudiere contener el Sitio, depende de la fecha de vigencia de las mismas o de la disponibilidad del stock informado. Las promociones no son acumulables entre sí, salvo que se exprese lo contrario en el Sitio. En el caso que un Producto figure en las listas del Sitio a un precio incorrecto debido a un error, TIENDAS DIGITALES tendrá el derecho, de corregir la orden facturando el precio correcto vigente al momento del armado del pedido en la tienda, o bien, de anular la compra reintegrando al Usuario el importe que haya abonado. En este caso, se dará aviso inmediato del error a los Usuarios, y con él la posibilidad de cancelar o modificar la compra del Producto facturado u ofrecido de forma incorrecta.</p>

            <h3>3. Exclusión de garantías y responsabilidad.</h3>
            <p>TIENDAS DIGITALES no ejerce ningún tipo de representación de los sitios web de terceros que proporciona, en su Sitio, como enlace. No los revisa, ni controla, ni los promociona. Al acceder a los mismos, se entenderá que el Usuario ha salido del Sitio de TIENDAS DIGITALES y será de exclusiva responsabilidad del Usuario tomar los debidos resguardos por virus de cualquier naturaleza y/o cualquier otra contingencia que pudiera derivarse del acceso y/o exploración de los referidos sitios web de terceros.</p>

            <p>El Sitio puede contener imprecisiones o errores tipográficos. Las imágenes de los productos y sus descripciones son meramente ilustrativas y no contractuales. Aun cuando la ilustración pretende ser lo más precisa posible, el Usuario debe saber que las descripciones de los productos u otros contenidos de este Sitio pueden no ser exactos.</p>

            <p>El Sitio se suministra tal como está, sin garantías de ninguna clase. TIENDAS DIGITALES no asume ningún tipo de garantía, incluyendo la garantía de aptitud para el comercio, para propósitos concretos y de no infracción a derechos de terceros, todo ello con la mayor amplitud legal.</p>

            <p>TIENDAS DIGITALES no garantiza que el Sitio funcionará libre de errores o que el Sitio y su servidor estén libre de los virus informáticos u otros mecanismos lesivos.</p>

            <p>TIENDAS DIGITALES no asume garantías sobre la exactitud, la veracidad, la exhaustividad o la actualización de los contenidos, los productos, el software, los textos, los gráficos y los vínculos.</p>

            <p>En ningún caso TIENDAS DIGITALES, las sociedades vinculadas, sus proveedores o terceros mencionados en el Sitio serán responsables de cualquier daño incluyendo pero no limitándose a daños directos, indirectos,, incidentales o indirectos, lucro cesante o daños resultantes de la pérdida de datos que resulten del uso o de la imposibilidad de uso del Sitio, tanto si se fundamentan en una supuesta garantía, responsabilidad contractual o extracontractual, o cualquier otro argumento legal, independientemente que TIENDAS DIGITALES, las sociedades vinculadas, sus proveedores o terceros hayan sido advertidos o no de la posibilidad de tales daños.</p>

            <p>TIENDAS DIGITALES no garantiza la disponibilidad y continuidad del funcionamiento del Sitio y de los Productos ofrecidos. TIENDAS DIGITALES no se responsabiliza por las interrupciones y/o demoras en el funcionamiento del Sitio, ni por cualquier causa que impida el acceso al Sitio. Asimismo TIENDAS DIGITALES no garantiza la utilidad del Sitio y de los Productos para la realización de ninguna actividad particular, ni su infalibilidad y, en particular, aunque no de modo exclusivo, que los Usuarios puedan efectivamente utilizar el Sitio.</p>

            <p>Se ofrecerán los Productos en el Sitio únicamente cuando el Sitio esté disponible online y disponible para su ingreso. En caso que, temporalmente, el ingreso al Sitio esté interrumpido por mantenimiento u otra razón, el ofrecimiento de los Productos será suspendido sin que ello otorgue derecho a los Usuarios de resarcimiento alguno.</p>

            <p>TIENDAS DIGITALES prohíbe la copia, duplicación, redistribución, comercialización o cualquier otra actividad que se pueda realizar con los contenidos de este Sitio, salvo autorización previa y por escrito de TIENDAS DIGITALES.</p>

            <p>TIENDAS DIGITALES podrá cancelar a su exclusivo criterio, y sin previo aviso, la condición de Usuario, y, en consecuencia, denegar el acceso al Sitio y/o a comprar por esta vía, en caso que los Usuarios no cumplieran con cualesquiera de los Términos del Sitio, pudiendo hacerlo también con aquéllos visitantes del Sitio, aun cuando éstos no se hubieren registrado.</p>

            <p>El Usuario se compromete a no acceder ni a intentar acceder al Sitio ni utilizar de ninguno de los servicios por ningún otro medio que no sea la interfaz provista por TIENDAS DIGITALES.</p>

            <h3>4. De la privacidad y la seguridad.</h3>
            <p>TIENDAS DIGITALES posee una Política de Privacidad disponible en: <a href="http://www.tiendasdigitales.com.ar/Terminos-y-Condiciones">http://www.tiendasdigitales.com.ar/Terminos-y-Condiciones</a> y que integra los presentes Términos. Sin perjuicio de ello, se reitera que: “El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nro. 25.326. La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, órgano de Control de la Ley Nro. 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.”</p>

            <p>TIENDAS DIGITALES podrá editar o alterar el tenor de cualquier Perfil registrado por sus Usuarios cuando haya referencias a direcciones electrónicas, URLs, números de teléfonos, celulares o de fax, lenguaje ofensivo o que haga apología de prácticas ilegales, en fin, cualquier contenido que traiga informaciones en que se identifica el titular o que atenten contra la ley, la moral o a las buenas costumbres.</p>

            <p>Cada Usuario se compromete a indemnizar y mantener indemne a TIENDAS DIGITALES, sus empresas controladas y/o controlantes, directivos, representantes, apoderados y empleados de todas ellas, por cualquier reclamo o demanda de otros Usuarios o terceros por sus actividades en el Sitio o por su incumplimiento a estos Términos y demás políticas que se entiendan parte de ellos, o por la violación de cualesquiera leyes o derechos de terceros, incluyendo honorarios profesionales de letrados intervinientes.</p>

            <h3>5. De la Propiedad y Uso indebido del Sitio.</h3>
            <p>TIENDAS DIGITALES es el propietario de, o cuenta con las autorizaciones correspondientes, todos los derechos relativos a la Marca, título y Servicios ofrecidos a través del Sitio, no autorizando, transmisión, exploración o cualquier uso, comercial o personal, del contenido del Sitio. La exploración, transmisión, reproducción total o parcial del contenido del Sitio o su utilización indebida implicará al infractor a penalidades legales.</p>

            <h3>6. Vínculos a otros sitios.</h3>
            <p>El Sitio contiene vínculos a otros sitios de la web. Estos vínculos los proporciona SSD únicamente para su comodidad y no significan un respaldo a los contenidos de estos sitios web. SSD no es responsable del contenido de los sitios web vinculados de terceros y no hace ninguna afirmación relativa al contenido o su exactitud en estos sitios web de terceros. Si Usted decide acceder a sitios web de terceras partes vinculados, lo hace a su propio riesgo.</p>

            <h3>7. Disposiciones Finales.</h3>
            <p>Estos Términos se rigen por las leyes de la República Argentina. Cualquier demanda derivada de estos Términos se someterá exclusivamente a la jurisdicción de los juzgados y tribunales de la Ciudad de Buenos Aires (República Argentina). Si cualquier cláusula de estos Términos se declarase nula por cualquier órgano jurisdiccional competente, la nulidad de tal cláusula no afectará a la validez de las restantes cláusulas de estos Términos, que mantendrán su plena vigencia y efecto.</p>

            <h2 class="page-title">Términos y políticas de privacidad</h2>
            <p>TIENDAS DIGITALES respetará la privacidad de los datos de los Usuarios, pudiendo los mismos ingresar al Sitio en forma anónima, sin proporcionar dato alguno.</p>

            <p>No obstante, en caso que el Usuario envíe o proporcione a TIENDAS DIGITALES información personal, estará otorgando su consentimiento para el uso de los mismos, conforme se detalla a continuación.</p>

            <p>El usuario acepta que para procesar compras, registrar un producto, enviarle correspondencia a su pedido, recibir soporte, participar de encuestas y/o actividades en línea, TIENDAS DIGITALES pueda requerirle información que lo identifique personalmente (como nombre, dirección postal, número telefónico, dirección de correo electrónico, datos de tarjeta de crédito, etc.). Tal información requerida, podrá utilizarse para tales transacciones y/o Servicios, y adicionalmente sólo en la medida que la normativa lo autorizara.</p>

            <p>En ningún caso TIENDAS DIGITALES requerirá a los Usuarios, información personal reservada o datos sensibles acorde a lo dispuesto por la Ley 25.326 de Protección de Datos Personales.</p>

            <p>Los datos personales de los usuarios, remitidos por los mismos, y/o recabados mediante el uso de herramientas tecnológicas que permitan recabarlos, serán utilizadas el ámbito de su relación con TIENDAS DIGITALES, presente o futura, a los fines de optimizar el Servicio, remitirle información adicional, etc., sin compartir tales datos con organizaciones o empresas externas. Dichos datos se limitaran al personal de TIENDAS DIGITALES que cumpla las tareas descriptas, y serán almacenados en ubicación separada del Sitio.</p>

            <p>El Usuario podrá –en todo momento- requerirle a TIENDAS DIGITALES que modifiqué, actualice o suprima sus datos personales, informando que no desea la utilización de los mismos para futuros contactos comerciales.</p>

            <p>Toda consulta o duda referida a nuestra política de privacidad y/o manejo de la información recibida por este Sitio, podrá ser evacuada por mail a la dirección: <a href="mailto:info@tiendasdigitales.com.ar" target="_blank">info@tiendasdigitales.com.ar</a> o por teléfono al número: <strong>0810-362-2128</strong>.</p>

            <p>El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326. La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.</p>

            <h2 class="page-title">Política de Cookies</h2>
            <p>En Tiendas Digitales (<a href="http://www.tiendasdigitales.com.ar">www.tiendasdigitales.com.ar</a>) utilizamos cookies con el objetivo de prestar un mejor servicio y proporcionar una mejor experiencia navegación al Usuario. Queremos informarte de manera clara y fácil sobre las cookies que utilizamos, detallando a continuación, qué es una cookie, para qué sirve y cómo podes configurarlas o deshabilitarlas en que caso de quieras hacerlo.</p>

            <h3>¿Qué es una cookie y para qué sirve?</h3>
            <p>Una "Cookie" es un pequeño archivo que se almacena en el equipo del Usuario, ya sea una tablet, smartphone o cualquier otro dispositivo con información sobre la navegación.</p>

            <p>El conjunto de "cookies" de todos nuestros Usuarios nos ayuda a mejorar la calidad de nuestro Sitio, permitiéndonos controlar qué páginas son útiles.</p>

            <p>Es importante que sepas que en ningún caso, las cookies podrían dañar tu equipo. Por el contrario, el que estén activas nos ayuda a identificar y resolver los errores.</p>

            <p>Las Cookies que utilizamos son aquellas que se envían a tu dispositivo desde un equipo o dominio que no es gestionado por nosotros. Como por ejemplo, las usadas por redes sociales, o por contenido externo como Google Analytics.</p>

            <p>En caso de que no permitas la instalación de cookies en tu navegador es posible que no puedas acceder a algunos de los Servicios y que tu experiencia en nuestro Sitio pueda resultar menos satisfactoria.</p>

            <h3>¿Cómo configurar las cookies?</h3>
            <p>La configuración de habilitación o deshabilitación lo podés hacer en tu navegador de Internet.<br />
            En los siguientes enlaces, tenés a tu disposición toda la información para configurar o deshabilitar tus cookies según el navegador que uses.<br />
                <strong>Google Chrome: </strong> <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">click aquí</a><br />
                <strong>Mozilla Firefox: </strong> <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&amp;redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">click aquí</a><br />
                <strong>Internet Explorer: </strong> <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">click aquí</a><br />
                <strong>Chrome para Android: </strong> <a href="https://support.google.com/chrome/answer/114662?hl=es&amp;rd=1" target="_blank">click aquí</a></p>

            <p>En nuestro Sitio (<a href="http://www.tiendasdigitales.com.ar">www.tiendasdigitales.com.ar</a>) no guardamos los datos personales de nuestros Usuarios, salvo que quieras registrarte, de forma voluntaria con el fin de realizar compras, utilizar servicios o recibir información sobre promociones y contenidos de tu interés.</p>
        </div>

    </section>

    <vtex:template id="Footer{{developFileSuffix}}" />

</div>
<vtex:template id="commonScriptsDeferred{{developFileSuffix}}" />
<vtex:template id="Olark-Chat-Script" />
</body>
</html>