.categoria {
    #category-navegador{
        position: relative;
        min-height: 200px;
    }
    .menu-navegue {
        a.tab-navegue-ativo{
        display: none;
        }
        a.tab-refinar{
            display: none;
        }
    }
    .grid .row aside.sidebar {
        padding-top: 0;
        @include bp(max-width, $bp-medium){
            padding-top: 5px;
        }
    }
    @include bp(max-width, $bp-medium){
        #category-navegador{
            position: absolute;
            min-height: 100vh;
        }
    }
}