.payment-method {
    @include border-radius(2px);
    background-color: $whitest;
    font-family: $titillium-web-font-family;
    margin: 0 auto;
    max-width: $bp-xlarge;
    padding: 25px 35px;

    .politics {
        border-bottom: $medium-gray thin solid;
        margin: 0 0 15px;
        padding: 0 0 15px 0;

        p,
        a {
            color: $medium-gray-B;
            font-size: 13px;
            font-weight: $font-family-weight-semibold;
            text-decoration: none;
        }

        a {
            color: $blue-link;
        }
    }

    .col {
        display: inline-block;
        vertical-align: middle;
        width: 30%;

        &.payment-method-logos {
            width: 69%;
        }

        h2 {
            font-size: 18px;
            font-weight: $font-family-weight-semibold;
            margin: 0 0 15px;
            color: $medium-gray-B;
        }

        .logo {
            background-size: contain;
            display: inline-block;
            margin: 0 10px 10px 0;
            vertical-align: middle;

            $paymentLogos: MP, TP, VISA, MASTER, AMERICAN, NARANJA, SHOPPING, CABAL, ARGEN, NATIVA, DINERS, CENCOSUD;

            @each $paymentLogo in $paymentLogos {
                &.#{$paymentLogo} {
                    background-image: url("/arquivos/assets_checkout_footer_#{$paymentLogo}.png");
                    height: image-height("/checkout/footer/#{$paymentLogo}.png") / 2;
                    width: image-width("/checkout/footer/#{$paymentLogo}.png") / 2;
                }
            }

            &.CENCOSUD {
                margin: 0;
            }
        }

        p {
            color: $medium-gray-B;
            font-size: 14px;

            span {
                font-weight: $font-family-weight-semibold;
            }
        }
    }
}

.post-footer {
    background-color: $whitest;
    font-family: $titillium-web-font-family;
    width: 100%;
    margin: 50px 0 0;

    .post-footer-container {
        margin: 0 auto;
        max-width: $bp-xlarge;
        overflow: hidden;
        padding: 23px 10px;

        .logos {
            float: right;

            .logo {
                background-size: contain;
                display: inline-block;
                margin: 0 20px 0 0;

                $logos: sps, vtex, summa;
                @each $logo in $logos {
                    &.#{$logo} {
                        background-image: url("/arquivos/assets_checkout_footer_#{$logo}.png");
                        height: image-height("/checkout/footer/#{$logo}.png") / 2;
                        width: image-width("/checkout/footer/#{$logo}.png") / 2;
                        background-repeat: no-repeat;
                    }
                }

                &.summa {
                    margin: 0;
                }
            }
        }

        .copyright {
            display: inline-block;
            margin: 13px 0 0;

            p {
                font-weight: $font-family-weight-semibold;
                font-size: 13px;
                color: $dark-gray;
                text-align: center;
            }
        }
    }
}

/*------------------------------
            MOBILE
------------------------------- */
@include bp(max-width, $bp-medium) {
    .payment-method {
        margin: 0 10px 40px;
        padding: 30px 10px;

        .col {
            display: block;
            width: auto;

            &.payment-method-logos {
                width: auto;
                text-align: center;

                h2 {
                    text-align: left;
                }
            }

            .logo {
                background-size: contain;
                display: inline-block;
                margin: 0 10px 10px 0;
                vertical-align: middle;

                &.CENCOSUD {
                    margin: 0;
                }
            }
        }
    }

    .post-footer {
        position: relative;

        .post-footer-container {
            padding: 0;

            .logos {
                float: none;
                padding: 16px 0;
                text-align: center;

                .logo {
                }
            }

            .copyright {
                background-color: $lightest-gray-A;
                display: block;
                padding: 12px 0;

                p {
                    font-size: 12px;
                }
            }
        }
    }
}
