#busca-vazia-page {
    section {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

        article {
            background: $whitest;
            margin: 60px 20px 0;

            @include bp(max-width, $bp-medium) {
                margin: 25px 20px 0;
            }

            .colum-container {
                border-bottom: 2px solid $lightest-gray-C;

                @include bp(max-width, $bp-large) {
                    border: none;
                }

                .col {
                    display: inline-block;
                    height: (image-height("/buscavazia/main-image.png") / 2 - 33px);
                    position: relative;
                    text-align: right;
                    vertical-align: top;
                    width: 49%;

                    @include bp(max-width, $bp-large) {
                        height: image-height("/buscavazia/main-image-mobile.png") / 2 + 93px;
                        text-align: left;
                    }

                    @include bp(max-width, $bp-small) {
                        width: 100%;
                    }

                    &:first-child {
                        @include bp(max-width, $bp-large) {
                            padding: 0 10px;
                        }
                    }

                    &:last-child {
                        @include bp(max-width, $bp-small) {
                            height: auto;

                            &:after {
                                background-color: $lightest-gray-C;
                                content: "";
                                display: block;
                                height: 1px;
                                margin: 30px 0;
                            }
                        }
                    }

                    .main-image {
                        background-image: url("/arquivos/assets_buscavazia_main-image.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: inline-block;
                        height: image-height("/buscavazia/main-image.png") / 2;
                        margin: -33px 0 0 0;
                        width: image-width("/buscavazia/main-image.png") / 2;

                        @include bp(max-width, $bp-large) {
                            background-image: url("/arquivos/assets_buscavazia_main-image-mobile.png");
                            height: image-height("/buscavazia/main-image-mobile.png") / 2;
                            margin: -68px 0 0 10px;
                            width: image-width("/buscavazia/main-image-mobile.png") / 2;
                        }
                    }

                    .img-message {
                        background-image: url("/arquivos/assets_buscavazia_balloon.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: image-height("/buscavazia/balloon.png") / 2;
                        left: -17%;
                        position: absolute;
                        top: -10px;
                        width: image-width("/buscavazia/balloon.png") / 2;

                        @include bp(max-width, $bp-large) {
                            display: none;
                        }

                        &.mobile {
                            display: none;

                            @include bp(max-width, $bp-large) {
                                background-image: url("/arquivos/assets_buscavazia_balloon-mobile.png");
                                display: block;
                                height: image-height("/buscavazia/balloon-mobile.png") / 2;
                                margin: -10px 0 0 0;
                                position: static;
                                width: image-width("/buscavazia/balloon-mobile.png") / 2;

                            }
                        }

                        .message {
                            margin: 40px 0 0 130px;
                            max-width: 255px;
                            text-align: left;

                            @include bp(max-width, $bp-large) {
                                margin: 0;
                                padding: 25px 0 0 0;
                                text-align: center;
                            }

                            h3,
                            p {
                                color: $lightest-gray-A;
                                font-family: $titillium-web-font-family;
                            }

                            h3 {
                                font-size: 28px;
                                font-weight: 600;
                                margin: 0 0 10px 0;

                                @include bp(max-width, $bp-large) {
                                    font-size: 22px;
                                    margin: 0 0 5px 0;
                                }
                            }

                            p {
                                font-size: 18px;
                                line-height: 20px;

                                @include bp(max-width, $bp-large) {
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &.text-search {
                                    font-weight: 600;
                                }
                            }
                        }

                    }

                    .recomendations {
                        bottom: 40px;
                        left: 0;
                        position: absolute;
                        text-align: left;

                        @include bp(max-width, $bp-small) {
                            padding: 0 10px;
                            position: static;
                        }

                        h4,
                        ul li,
                        ul li a {
                            color: $dark-gray;
                            font-family: $titillium-web-font-family;
                        }

                        h4 {
                            font-size: 18px;
                            margin: 0 0 15px;

                            @include bp(max-width, $bp-small) {
                                font-size: 16px;
                                font-weight: $font-family-weight-semibold;
                                margin-top: 20px;
                            }
                        }

                        ul {
                            li {
                                font-size: 16px;
                                margin: 0 0 5px;

                                @include bp(max-width, $bp-small) {
                                    font-size: 14px;
                                }

                                &:before {
                                    background-color: $cherry-red;
                                    content: "";
                                    display: inline-block;
                                    height: 5px;
                                    margin: 0 5px 0 0;
                                    vertical-align: middle;
                                    width: 5px;

                                    @include bp(max-width, $bp-small) {
                                        height: 3px;
                                        width: 3px;
                                    }
                                }

                                a {
                                    color: $cherry-red;
                                    text-decoration: underline;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }

            .links-containers {
                padding: 0 25px 40px;

                @include bp(max-width, $bp-medium) {
                    padding: 0 10px 10px;
                }

                h3 {
                    color: $cherry-red;
                    font-family: $titillium-web-font-family;
                    font-size: 24px;
                    margin: 40px 0 25px;

                    @include bp(max-width, $bp-medium) {
                        font-size: 20px;
                    }

                    @include bp(max-width, $bp-small) {
                        margin-top: 0;
                    }
                }

                ul {
                    li {
                        @include border-radius(2px);
                        border: thin $cherry-red solid;
                        display: inline-block;
                        margin: 0 20px 0 0;
                        width: calc(20% - 20px);

                        @include bp(max-width, $bp-medium) {
                            margin: 0 10px 20px 0;
                            width: calc(50% - 10px);
                        }

                        &:last-child {
                            margin: 0;
                            width: 20%;

                            @include bp(max-width, $bp-medium) {
                                display: none;
                            }
                        }

                        &:nth-child(2n) {
                            @include bp(max-width, $bp-medium) {
                                margin: 0;
                            }
                        }

                        a {
                            color: $cherry-red;
                            display: block;
                            font-family: $titillium-web-font-family;
                            font-size: 20px;
                            padding: 15px 0;
                            text-align: center;
                            text-decoration: none;

                            @include bp(max-width, $bp-large) {
                                font-size: 18px;
                            }
                        }

                        &:hover {
                            background-color: $cherry-red;

                            a {
                                color: $whitest;
                            }
                        }
                    }
                }
            }
        }

        #category-extra-vitrine-2 {
            h2 {
                @include bp(max-width, $bp-small) {
                    border: none;
                    padding: 0;
                }
            }

            ul {
                display: none;

                &.owl-carousel {
                    display: block;
                }
            }
        }
    }

    .brands-slider {
        max-width: none;
    }
}