.resultado-busca .didyoumean a, #busca-vazia-page a.pull-right{
    font-size: 18px;
    font-family: $titillium-web-font-family;
    font-weight: $font-family-weight-semibold;
    color: $cherry-red;
    text-decoration: none;
    i {
        display: inline-block;
        width: 12px;
        height: 7px;
        vertical-align: middle;
        background: url('/arquivos/assets_common_arrows_arrow-down-red.png') no-repeat;
        background-size: contain;
        @include rotate(90deg);
    }
    &:hover{
        text-decoration: underline;
    }
    &:active{
        color: $cherry-red;
    }
    &:visited{
        color: $cherry-red;
    }
}
.resultado-busca {

    .searchResultsTime:first-child {
        display: block;
        position: absolute;
        padding: 22px 18px;
        font-size: 14px;
        font-family: $titillium-web-font-family;
        font-weight: $font-family-weight-regular;
        color: $dark-gray;
        .resultado-busca-numero .value {
            font-weight: $font-family-weight-semibold;
            &:after{
                content: ' resultados';
                color: $dark-gray;
                font-size: 14px;
                font-family: $titillium-web-font-family;
                font-weight: $font-family-weight-semibold;
            }
        }
        .resultado-busca-termo .value {
            font-weight: $font-family-weight-semibold;
            text-transform: capitalize;
            &:before {
                content: '"';
            }
            &:after {
                content: '"';
            }
        }
        .resultado-busca-tempo {
            display: none;
        }
    }
    .filters {
        h3:not(.filter-title) {
            margin: 0;
            padding: 15px 0;
            border: none;
            a {
                font-size: 14px;
                text-decoration: none;
                color: $dark-gray;
                display: inline-block;
                &:hover {
                    color: $dark-gray;
                }
                &:active {
                    color: $dark-gray;
                }
                &:visited {
                    color: $dark-gray;
                }
            }
            span:not(.closing-cross) {
                display: inline-block;
                width: 5px;
                height: 8px;
                margin-right: 5px;
                background: url('/arquivos/assets_filters_dept-nav-arrow.png') no-repeat;
                background-size: contain;
            }
            &:after {
                display: none;
            }
        }
        h4 {
            padding-top: 0;
            padding-left: 15px;
            a {
                font-size: 13px;
                font-weight: $font-family-weight-regular;
                text-decoration: none;
                color: $medium-gray-B;
                &:before {
                    display: none;
                }
            }
        }
        ul {
            margin: 5px 0;
        }
        .filter-title {
            font-size: 20px;
            font-family: $titillium-web-font-family;
            font-weight: $font-family-weight-semibold;
            text-decoration: none;
            color: $cherry-red;
            border-bottom: 1px solid $lightest-gray-A;
            span.closing-cross {
                display: none;
            }
        }
        .menu-navegue{
            .search-navigator-tab.tab-navegue-ativo, .search-navigator-tab.tab-refinar{
                display: none;
            }
        }
    }

    .didyoumean{
        font-family: $titillium-web-font-family;
        font-size: 20px;
        font-weight: $font-family-weight-regular;
        color: $dark-gray;
        background: $whitest;
        padding: 20px;
    }
    @include bp(max-width, $bp-medium) {
        .filters .filter-title {
            padding: 15px 0 15px 15px;
            margin-top: 5px;
            display: block;
            span.closing-cross {
                display: block;
                position: absolute;
                top: 17px;
                right: 20px;
                width: 17px;
                height: 17px;
                background: url("/arquivos/assets_filters_closing-arrow.png") no-repeat;
                background-size: contain;
                cursor: pointer;
                z-index: 9994;
            }
        }
        .filters h3:not(.filter-title) {
            display: block;
            margin-left: 15px;
        }
        .searchResultsTime:first-child{
            position: relative;
            background-color: $whitest;
            padding: 5px 15px 15px;
            margin-bottom: 20px;

            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #f7f7f7;
                margin-bottom: 13px;
            }
        }
        aside.sidebar{
            padding-top: 10px;
        }
    }
}