<div class="box-banner animated">
    <a href="/switch?O=OrderByReleaseDateDESC" style="background-image: url('/arquivos/assets_home_sliders_animados_slide1_background.jpg');" class="slide1">
    <div class="animation-wrap slide1">
        <div class="txt">
            <div class="logo">
                <img src="/arquivos/assets_home_sliders_animados_slide1_logo.png"/>
            </div>
            <h2>Llegó la Consola<br/>Nintendo Switch Neon</h2>
            <h3>¡Disfrutá de tu consola donde<br/>quiera que vayas!</h3>
        </div>
        <div class="prod-image">
            <img src="/arquivos/assets_home_sliders_animados_slide1_producto.png" />
        </div>
        <div class="cta">
            <img src="/arquivos/assets_home_sliders_animados_slide1_CTA.png" />
        </div>
    </div>
    <img width="3840" height="1080" src="/arquivos/assets_home_sliders_animados_dummy-bkg.jpg" />
    </a>
</div>
