<div class="box-banner animated">
    <a href="/busca/?fq=H:138&O=OrderByReviewRateDESC" class="slide2">
    <div class="animation-wrap slide2">
        <div class="txt">
            <h2>¡Aprovechá estas promos!
                <div class="cucarda">
                    <img src="/arquivos/assets_home_sliders_animados_slide2_cucarda.png" />
                </div>
            </h2>
            <h3>La vuelta al cole tiene premio</h3>
        </div>
        <div class="cta">
            <img src="/arquivos/assets_home_sliders_animados_slide2_CTA.jpg" />
        </div>
        <div class="legal">
            <p>* Promo 10% OFF hasta agotar stock en productos seleccionados</p>
        </div>
    </div>
    <div class="background">
        <img src="/arquivos/assets_home_sliders_animados_slide2_background.jpg" />
    </div>
    <img width="3840" height="1080" src="/arquivos/assets_home_sliders_animados_dummy-bkg.jpg" />
    </a>
</div>