<div class="small-square-right">
    <img class="desktop-img" src="/arquivos/assets_grilla-banners_small-square-right.jpg"/>
    <img class="mobile-img" src="/arquivos/assets_grilla-banners_small-mobile-3.jpg"/>
    <div class="banner-text">
        <h3>Lanzamiento</h3>
        <p>Las últimas novedades de la industria. ¡No te las pierdas!</p>
        <a class="button" href="/tecno/Sillas%20y%20Sillones%20Gamer?O=OrderByReleaseDateDESC">Ver Más</a>
    </div>
</div>