.orders {
    section {
        &.container {
            margin: 0 auto;
            max-width: $page-content-size;
            padding: 0 10px;

            .main-row {
                .render-container {
                    @include bp(max-width, $bp-medium) {
                        margin: 20px 0 0;
                    }
                    .render-provider {
                        .container {
                            .page-header {
                                .title {
                                    color: $cherry-red;
                                    font-family: $titillium-web-font-family;
                                    font-weight: $font-family-weight-regular;
                                    font-size: 24px;
                                    margin: 0;
                                }

                                .nav {
                                    &.nav-pills {
                                        display: none;
                                    }
                                }
                            }

                            .helvetica {
                                margin: 30px 0 0;

                                * {
                                    text-decoration: none;
                                }

                                section {
                                    font-family: $titillium-web-font-family;

                                    &.ph0 {
                                        .myo-collapsed-order {
                                            @include border-radius(3px);
                                            background-color: $whitest;
                                            border: 1px solid $cherry-red;
                                            margin: 0 0 10px 0;

                                            &:hover {
                                                background-color: $lightest-gray-A;
                                            }

                                            .fl-ns {
                                                &.w-50-ns {
                                                    .w-100,
                                                    .db {
                                                        color: $medium-gray-B;
                                                    }

                                                    .w-100 {
                                                        font-size: 14px;
                                                        font-weight: $font-family-weight-semibold;
                                                    }

                                                    .db {
                                                        font-size: 16px;
                                                        font-weight: $font-family-weight-regular;
                                                        margin: 10px 0 0 0;
                                                    }
                                                }

                                                &.mt2 {
                                                    .myo-order-id {
                                                        color: $medium-gray-B;
                                                        font-size: 14px;
                                                        font-weight: $font-family-weight-regular;
                                                    }

                                                    .myo-seller-order-id {
                                                        display: none;
                                                    }

                                                    .tr-ns {
                                                        .dib {
                                                            @include border-radius(3px);
                                                            background-color: $cherry-red;
                                                            font-size: 14px;
                                                            margin: 5px 0 0;
                                                            padding: 5px 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .myo-order-card {
                                            @include border-radius(3px);
                                            border: 1px solid $cherry-red;
                                            margin: 0 0 10px 0;

                                            .myo-order-header {
                                                border-bottom: 1px solid $lightest-gray-C;

                                                .fl {
                                                    .w-100 {
                                                        @include bp (max-width, $bp-medium) {
                                                            font-size: 16px;
                                                        }
                                                    }

                                                    &.db {
                                                        @include bp (min-width, $bp-medium - 1) {
                                                            width: calc(100% / 3);
                                                        }
                                                    }
                                                }

                                                .myo-order-id {
                                                    @include bp (max-width, $bp-medium) {
                                                        font-size: 16px;
                                                    }
                                                }

                                                .fr {
                                                    .f7 {
                                                        @include bp (max-width, $bp-medium) {
                                                            font-size: 16px;
                                                        }
                                                    }

                                                    .db {
                                                        .dn {
                                                            span {
                                                                height: 22px;
                                                                width: 29px;
                                                            }
                                                        }
                                                    }
                                                }

                                                .tr-ns {
                                                    .dib {
                                                        @include border-radius(3px);
                                                        background-color: $cherry-red;
                                                        padding: 5px 10px;

                                                        span {
                                                            color: $whitest;
                                                        }
                                                    }
                                                }
                                            }

                                            > .cf {
                                                .fl {
                                                    .myo-order-product {
                                                        .dib {
                                                            h4,
                                                            p,
                                                            span {
                                                                margin-bottom: 15px;
                                                            }

                                                            h4 {
                                                                a {
                                                                    @include bp (max-width, $bp-medium) {
                                                                        font-size: 16px;
                                                                        white-space: pre-wrap;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .fr {
                                                    text-align: right;

                                                    .myo-reorder-btn {
                                                        display: inline-block;
                                                        text-align: right;

                                                        @include bp (max-width, $bp-medium) {
                                                            display: block;
                                                            font-size: 16px;
                                                            text-align: left;
                                                        }

                                                        svg {
                                                            fill: $cherry-red;
                                                        }
                                                    }

                                                    a {
                                                        @include border-radius(3px);
                                                        background-color: $cherry-red;
                                                        color: $whitest;
                                                        display: inline-block;
                                                        font-weight: $font-family-weight-semibold;
                                                        margin: 0 0 10px 0;
                                                        padding: 5px 10px;
                                                        text-align: center;
                                                        width: 190px;

                                                        &:last-of-type {
                                                            margin: 0;
                                                        }

                                                        @include bp (max-width, $bp-medium) {
                                                            font-size: 16px;
                                                            width: auto
                                                        }

                                                        span {
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }


                            > div {
                                &:not(.helvetica) {
                                    overflow: hidden;

                                    a {
                                        &.db {
                                            .dib {
                                                &:before {
                                                    @include transform(rotate(90deg));
                                                    background-image: url(/arquivos/assets_common_arrows_arrow-down-red.png);
                                                    background-repeat: no-repeat;
                                                    background-size: contain;
                                                    content: '';
                                                    display: inline-block;
                                                    height: image-height("common/arrows/arrow-down-red.png") / 2;
                                                    margin-right: 5px;
                                                    width: image-width("common/arrows/arrow-down-red.png") / 2;
                                                }
                                            }
                                        }
                                    }
                                }

                                a {
                                    &.db {
                                        svg {
                                            display: none;
                                        }

                                        .dib {
                                            font-family: $titillium-web-font-family;
                                            font-weight: $font-family-weight-regular;
                                            color: $medium-gray-B;
                                            font-size: 18px;
                                            margin: 10px 0 30px;
                                            text-transform: capitalize;
                                        }
                                    }
                                }

                                .w-100 {
                                    .fw4 {
                                        font-family: $titillium-web-font-family;
                                        font-weight: $font-family-weight-regular;
                                        color: $dark-gray;
                                        margin-bottom: 15px;
                                        white-space: nowrap;

                                        @include bp(max-width, $bp-medium) {
                                            font-size: 22px;
                                        }
                                    }

                                    time {
                                        font-family: $titillium-web-font-family;
                                        font-weight: $font-family-weight-regular;
                                        color: $medium-gray-B;

                                        .dib {
                                            @include border-radius(3px);
                                            background-color: $cherry-red;
                                            padding: 5px 10px;

                                            span {
                                                color: $whitest;
                                            }
                                        }
                                    }

                                    .list {
                                        li {
                                            display: block;
                                            margin: 0 0 15px;

                                            &:last-of-type {
                                                margin: 20px 0 10px 0;

                                                a {
                                                    @include border-radius(3px);
                                                    background-color: $cherry-red;
                                                    padding: 10px 20px;

                                                    &:hover {
                                                        background-color: $whitest;
                                                        border: 1px solid $cherry-red;

                                                        span {
                                                            color: $cherry-red;

                                                        }
                                                    }

                                                    span {
                                                        font-size: 16px;
                                                        font-weight: $font-family-weight-semibold;
                                                        color: $whitest;
                                                    }
                                                }
                                            }

                                            a {
                                                text-decoration: none;

                                                svg {
                                                    display: none;
                                                }

                                                span {
                                                    color: $cherry-red;
                                                    font-size: 14px;
                                                    font-family: $titillium-web-font-family;
                                                    font-weight: $font-family-weight-regular;

                                                    &.dib {
                                                        margin: 0 !important;
                                                    }

                                                    &.db {
                                                        display: inherit;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.pv4 {
                                        font-family: $titillium-web-font-family;

                                        .f4 {
                                            color: $medium-gray-B;
                                            font-size: 18px;
                                            font-weight: $font-family-weight-semibold;
                                        }

                                        .mb0 {
                                            .dib {
                                                @include border-radius(3px);
                                                background-color: $blue-link;
                                                color: $whitest;
                                                padding: 5px 10px;
                                            }
                                        }
                                    }
                                }

                                section {
                                    &.w-100 {
                                        article {
                                            > section {
                                                border: 1px solid $lightest-gray-B;
                                                font-family: $titillium-web-font-family;
                                                min-height: 200px;

                                                @include bp(max-width, $bp-medium) {
                                                    min-height: auto;
                                                }

                                                section {
                                                    > button,
                                                    >ul {
                                                        display: none;
                                                    }

                                                }

                                                .mb3 {
                                                    span {
                                                        height: 22px;
                                                        width: 29px;
                                                    }
                                                }
                                            }

                                            &:last-of-type {
                                                > section {
                                                    * {
                                                        @include bp(max-width, $bp-medium) {
                                                            font-size: 15px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .myo-progress-bar {
                                    background-color: $whitest;
                                    border: 1px solid $lightest-gray-B;
                                    font-family: $titillium-web-font-family;

                                    .myo-progress-bar__title-font {
                                        color: $medium-gray-B;
                                        font-weight: $font-family-weight-semibold;
                                    }

                                    .pt4 {
                                        .flex {
                                            @include bp(max-width, $bp-medium - 1) {
                                                display: none;
                                            }
                                        }

                                        .myo-progress-bar__line {
                                            border-color: $light-gray;
                                        }

                                        .myo-progress-bar__mobile-text {
                                            color: $cherry-red;
                                            display: none;

                                            @include bp(max-width, $bp-medium - 1) {
                                                display: inherit;
                                            }
                                        }

                                        .myo-progress-bar__text {
                                            &.b {
                                                color: $cherry-red;
                                            }
                                        }
                                    }
                                }

                                .myo-product-table {
                                    .myo-product-info {
                                        p {
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}