<div class="big-rect-horizontal">
    <img src="/arquivos/assets_grilla-banners_big-rect-horizontal.jpg" />
    <div class="banner-text">
        <h3>Nintendo Switch</h3>
        <p>La consola portátil de Nintendo con sus accesorios, la encontrás primero acá.</p>
        <a class="button" href="/switch?O=OrderByReleaseDateDESC">Ver Más</a>
    </div>
</div>