body.home {

    .slider-desktop {

        .slider-principal {

            .owl-item {

                .box-banner.animated {
                    position: relative;
                    @include opacity(1);
                    max-width: 100%;

                    .animation-wrap {
                        width: 100%;
                        margin: 0 auto;

                        @include bp(max-width, $bp-xlarge) {
                            padding: 15px;
                        }
                    }

                    a {
                        text-decoration: none;
                        display: block;

                        > img {
                            visibility: hidden;
                        }
                    }

                    .txt {
                        font-size: 16px;

                        @include bp(max-width, $bp-xlarge) {
                            font-size: 13px;
                        }

                        @include bp(max-width, $bp-large) {
                            font-size: 10px;
                        }

                        h2 {
                            font-family: $titillium-web-font-family;
                            font-weight: $font-family-weight-semibold;
                            color: $whitest;
                            font-size: 3em;
                        }

                        h3 {
                            font-size: 2em;
                            font-family: $titillium-web-font-family;
                            font-weight: $font-family-weight-regular;
                            color: $whitest;
                            margin-top: 0.5em;
                        }
                    }

                    a.slide1{
                        visibility: hidden;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    div.slide1 {
                        max-width: 1260px;
                        width: 100%;
                        position: absolute;
                        right: 0;
                        left: 0;
                        margin: 4% auto;

                        @include bp (max-width, $bp-xlarge){
                            margin: 2% auto;
                        }

                        @include bp (max-width, $bp-large){
                            margin: 1% auto;
                        }

                        img {
                            height: 100%;
                            width: auto;
                        }

                        > div {
                            display: inline-block;
                            vertical-align: top;
                        }

                        .txt {
                            @include opacity(0);

                            .logo {
                                height: 28px;
                                margin-bottom: 1em;

                                @include bp(max-width, $bp-large) {
                                    height: 23px;
                                }
                            }
                        }

                        .cta {
                            height: 50px;
                            margin-top: 2em;
                            @include opacity(0);
                            display: block;

                            @include bp(max-width, $bp-large) {
                                height: 30px;
                                margin-top: 1em;
                            }
                        }

                        .prod-image {
                            max-width: 780px;
                            width: 55%;
                            height: 100%;
                            float: right;
                            position: relative;
                            @include opacity(1);

                            img {
                                width: 97%;
                                height: auto;
                                position: absolute;
                            }
                        }
                    }

                    a.slide2 {

                        .background {
                            position: absolute;
                            z-index: -2;
                            background-color: $nav-background;
                            @include opacity(0);
                            @include transition(transform 500ms);

                            img {
                                @include opacity(0);
                            }
                        }

                        &:hover {
                            .background{
                                @include transform(scale(1.1));
                            }
                        }
                    }

                    div.slide2 {
                        text-align: center;
                        position: absolute;
                        bottom: 0;

                        @include bp(max-width, $bp-large) {
                            padding: 15px 0 0;
                        }

                        img {
                            height: 100%;
                            width: auto;
                        }

                        h2 {
                            position: relative;
                            display: inline-block;
                            @include opacity(0);
                        }

                        h3 {
                            @include opacity(0);
                        }

                        .cucarda {
                            height: 100px;
                            position: absolute;
                            right: -110px;
                            top: -70px;
                            @include opacity(0);

                            @include bp(max-width, $bp-large) {
                                height: 50px;
                                right: -50px;
                                top: -30px;
                            }

                            img {
                                height: 100%;
                                width: auto;
                            }
                        }

                        .cta {
                            height: 50px;
                            margin: 4em 0;
                            display: inline-block;
                            @include opacity(0);

                            @include bp(max-width, $bp-large) {
                                height: 30px;
                                margin: 1em 0;
                            }
                        }

                        .legal {
                            font-size: 14px;
                            font-family: $titillium-web-font-family;
                            font-weight: $font-family-weight-regular;
                            color: $whitest;
                            margin-bottom: 10px;
                            @include opacity(0);

                            @include bp(max-width, $bp-large) {
                                font-size: 12px;
                            }
                        }
                    }
                }

                &.active {
                    .box-banner.animated {

                        a.slide1 {
                            visibility: visible;
                            animation: background 6000ms ease-in-out 0ms 1 normal forwards running;

                            .prod-image {
                                animation: prod-der 3000ms ease-in-out 100ms 2 alternate forwards running;
                            }

                            .txt {
                                animation: text-izq 2000ms ease-in-out 1000ms 2 alternate forwards running;
                            }

                            .cta {
                                animation: cta 4000ms ease-in-out 1500ms 1 normal forwards running;
                            }
                        }

                        a.slide2 {

                            .background {
                                animation: background2 6000ms ease-in-out 150ms 1 normal forwards running;

                                img{
                                    animation: backgroundImg 5000ms ease-in-out 1000ms 1 normal forwards running;
                                }
                            }

                            h2 {
                                animation: title 2000ms ease-in-out 1000ms 2 alternate forwards running;

                                .cucarda {
                                    animation: cucarda 3500ms ease-in-out 1500ms 1 normal forwards running;
                                }
                            }

                            h3 {
                                animation: subtitle 2000ms ease-in-out 750ms 2 alternate forwards running;
                            }

                            .cta {
                                animation: cta2 1500ms ease-in-out 1500ms 2 alternate forwards running;
                            }

                            .legal {
                                animation: legal 1500ms ease-in-out 1500ms 2 alternate forwards running;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Slide 1 Animations------>>

@include keyframes(background) {
    0% {
        @include opacity(0);
    }

    20% {
        @include opacity(1);
    }

    80% {
        @include opacity(1);
    }

    100% {
        @include opacity(0);
    }
}

@include keyframes(prod-der) {
    0% {
        @include translateX(1080px);
        @include opacity(0);
    }

    40% {
        @include translateX(0);
        @include opacity(1);
    }
    100% {
        @include translateX(0);
        @include opacity(1);
    }
}

@include keyframes(text-izq) {
    0% {
        @include translateX(-820px);
        @include opacity(0);
    }

    30% {
        @include translateX(0);
        @include opacity(1);
    }
    100% {
        @include translateX(0);
        @include opacity(1);
    }
}

@include keyframes(cta) {
    0% {
        @include opacity(0);
    }
    20% {
        @include opacity(1);
    }
    90% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}

//Slide 2 Animations------>>

@include keyframes(background2) {
    0% {
        @include opacity(0);
    }
    20% {
        @include opacity(1);
    }
    80% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}

@include keyframes(backgroundImg) {
    0% {
        @include opacity(0);
    }
    10% {
        @include opacity(1);
    }
    70% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}

@include keyframes(title) {
    0% {
        @include opacity(0);
        @include translateX(-250px);
    }
    20% {
        @include opacity(1);
        @include translateX(0);
    }
    100% {
        @include translateX(0);
        @include opacity(1);
    }
}

@include keyframes(subtitle) {
    0% {
        @include opacity(0);
        @include translateY(100px);
    }
    40% {
        @include opacity(1);
        @include translateY(0);
    }
    100% {
        @include opacity(1);
        @include translateY(0);
    }
}

@include keyframes(cucarda) {
    0% {
        @include opacity(0);
    }
    30% {
        @include opacity(1);
    }
    90% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}

@include keyframes(cta2) {
    0% {
        @include opacity(0);
    }
    60% {
        @include opacity(1);
    }
    100% {
        @include opacity(1);
    }
}

@include keyframes(legal) {
    0% {
        @include opacity(0);
    }
    60% {
        @include opacity(1);
    }
    100% {
        @include opacity(1);
    }
}