.home {
    .container {
        .slider-desktop,
        .slider-mobile {
            .box-banner {
                visibility: hidden;
            }

            .owl-stage-outer {
                .owl-item {
                    .box-banner {
                        visibility: visible;
                    }
                }
            }
        }

        .slider-mobile {
            display: none;
        }

        @include bp(max-width, $bp-medium) {
            .slider-desktop {
                display: none;
            }

            .slider-mobile {
                display: block;
            }
        }

        #grilla-banners {
            width: 100%;
            background-color: $whitest;
            padding: 70px 0 50px;
        }

        .grilla-wrapper {
            max-width: $page-content-size;
            width: 100%;
            margin: 0 auto;

            .grilla-izq, .grilla-der {
                width: 50%;
                display: inline-block;
                vertical-align: top;

                img {
                    width: 100%;
                }

            }
            @include bp(min-width, $bp-medium) {
                img.mobile-img {
                    display: none;
                }
            }
            .grilla-izq {
                padding-right: 13px;

                > div {
                    position: relative;
                }

                .big-square {
                    width: 100%;
                }
                .small-square-left, .small-square-right {
                    width: 48%;
                    margin-top: 4%;
                    float: left;
                }
                .small-square-left {
                    margin-right: 2%;
                }
                .small-square-right {
                    margin-left: 2%;
                }
            }

            .grilla-der {
                padding-left: 13px;

                > div {
                    width: 48%;
                    position: relative;
                    float: left;
                }

                .big-rect-vertical {
                    .banner-text {
                        padding: 14% 0 0 0;
                        width: 80%;
                        left: 12%;

                        a {
                            @include buttonLink($dark-gray, $whitest);
                            position: absolute;
                            bottom: 7%;
                        }
                    }
                }

                .small-square-top {
                    margin-left: 25px;
                }

                .small-square-bottom {
                    margin-left: 25px;
                    margin-top: 21px;
                }

                .big-rect-horizontal {
                    width: 100%;
                    margin-top: 4%;
                    .banner-text {
                        width: 40%;
                        right: 4%;
                        text-align: right;
                        padding: 5% 0 0 0;

                        p {
                            width: 80%;
                            display: inline-block;
                        }

                        .button {
                            margin: 10% 0px 0px;
                        }
                    }
                }
            }
            .banner-text {
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 3;
                padding: 10% 0 0 0;
                @include box-sizing(border-box);

                h3 {
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-semibold;
                    color: $dark-gray;
                }
                h5 {
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-semibold;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: $whitest;
                    padding: 3px;
                    width: 61px;
                    height: 20px;
                    background: url('/arquivos/assets_grilla-banners_oferta.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                p {
                    font-family: $titillium-web-font-family;
                    font-weight: $font-family-weight-regular;
                }

                .button {
                    @include buttonLink($lightest-gray-A, $cherry-red);
                    padding: 10px 15px;
                    text-align: center;
                }
            }
            div[class^="big-"] {
                .banner-text {
                    h3 {
                        font-size: 32px;
                        margin-bottom: 23px;
                    }
                    h5 {
                        margin-bottom: 25px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
            div[class^="small-"] {
                .banner-text {
                    width: 45%;
                    left: 12%;
                    height: 95%;
                    h3 {
                        font-size: 30px;
                        margin-bottom: 15px;
                    }
                    h5 {
                        margin-bottom: 13px;
                    }
                    p {
                        font-size: 14px;
                    }
                    .button {
                        position: absolute;
                        bottom: 10%;
                    }
                }
            }

            @include bp(min-width, $bp-medium +1) {
                @include bp(max-width, $bp-xlarge) {
                    padding: 0 10px;
                    div[class^="small-"] .banner-text {
                        h3 {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                        h5 {
                            width: 46px;
                            height: 15px;
                            padding: 2px;
                            margin-bottom: 5px;
                            font-size: 10px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                    div[class^="big-"] .banner-text {
                        h3 {
                            margin-bottom: 15px;
                            font-size: 24px;
                        }
                    }
                }
            }

            @include bp(max-width, 1300px) {
                .grilla-izq, .grilla-der {
                    padding: 0 1%;
                }

                .grilla-der {
                    .small-square-top, .small-square-bottom {
                        margin-left: 4%;
                        width: 48%;
                    }

                    .small-square-bottom {
                        margin-top: 3.5%;
                    }
                }
            }

            @include bp(max-width, $bp-large) {
                div[class^="small-"] .banner-text {
                    left: 7%;
                }

                .big-square .banner-text {
                    left: 5%;
                }
                .big-rect-horizontal .banner-text {
                    right: 5%;
                }

                .grilla-der .big-rect-horizontal .banner-text, .banner-text, .grilla-der .big-rect-vertical .banner-text {
                    p {
                        display: none;
                    }

                    .button {
                        font-size: 12px;
                        padding: 10px 12px;
                    }
                }
            }

            @include bp(max-width, $bp-medium) {

                img.desktop-img {
                    display: none;
                }
                .grilla-izq {
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 10px;

                    .small-square-left, .small-square-right {
                        width: 100%;
                        float: none;
                    }

                    div[class^="small-"] .banner-text, div[class^="big-"] .banner-text {
                        padding: 7% 0 0 0;

                        h3 {
                            font-size: 22px;
                            margin-bottom: 15px;
                        }

                        h5 {
                            margin-bottom: 10px;
                        }

                        .button {
                            margin: 0;
                            position: relative;
                            bottom: auto;
                        }
                    }

                    .small-square-right {
                        text-align: right;

                        .banner-text {
                            right: 7%;
                            left: auto;
                        }
                    }
                }

                .grilla-der {
                    display: none;
                }

                .grilla-izq {
                    .slider-mobile-1, .slider-mobile-2{
                        display: block;
                        .owl-dots{
                            position:static;
                            @include translateX(0);
                            right: 0;
                        }
                    }
                    .slider-mobile-2{
                        margin-top: 9%;
                    }
                    .small-square-left{
                        margin-top: 2%;
                    }
                }

                .big-square, .small-square-right{
                    display: none;
                }
            }
            .slider-mobile-1, .slider-mobile-2{
                display: none;
            }
            .big-square, .big-rect-horizontal {
                .owl-stage-outer{
                    max-width: 626px;
                }
                img, .owl-stage-outer{
                    width: 100%;
                }
                .owl-dots{
                    bottom: 3px;
                    position: absolute;
                    z-index: 10;
                }
            }
        }

        #category-extra-vitrine-1,
        #category-extra-vitrine-2 {
            .owl-carousel .owl-nav {
                .owl-prev,
                .owl-next {
                    top: 180px;
                }

                .owl-prev {
                    left: -25px;

                    &:before {
                        margin: 7px 3px 0 0;
                    }
                }

                .owl-next {
                    right: -35px;

                    &:before {
                        margin: 7px -2px 0 0;
                    }
                }
            }
        }

        #category-extra-vitrine-1,
        #category-extra-vitrine-2 {
            background-color: $lightest-gray-A;

            > div {
                margin: 0 auto;
                max-width: $page-content-size + 20px;
                padding: 50px 20px 1px;
                position: relative;

                h2 {
                    color: $cherry-red;
                    font-family: $titillium-web-font-family;
                    font-size: 36px;
                    margin: 0 0 25px 0;
                    text-align: center;
                    text-transform: capitalize;
                    padding-top: 25px;
                }

                .product-card {
                    display: none;
                    margin: 6px 1px 0 0;

                    .product-card-container {
                        display: block;
                    }
                }

                .owl-stage-outer {
                    height: 450px;
                    margin: 0 -10px;
                    padding: 0 10px;

                    .owl-item {
                        .product-card {
                            display: block;
                        }

                        &:hover {
                            z-index: 99999;
                        }
                    }
                }

                .owl-dots {
                    bottom: -20px;
                    margin: 0;
                    .owl-dot {
                        &.active {
                            span {
                                background-color: $medium-gray;
                                border-color: $medium-gray;
                            }
                        }
                    }
                }
            }

            /* MOBILE*/
            @include bp(max-width, $bp-medium) {
                > div {
                    padding: 50px 20px 50px;

                    h2 {
                        font-size: 26px;
                    }

                    .owl-stage-outer {
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }

                    .owl-dots {
                        bottom: -42px;
                    }
                }
            }
        }
    }
}