//Breakpoint to change desktop menu to mobile version
$bp-nav-desktop: 1235px;

//Sticky------>>
@include bp(min-width, $bp-medium) {
    body.sticky {
        padding-top: 141px;
        .pre-header {
            display: none;
        }

        .header {
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;

            .top-container {
                margin-top: 6px;
                margin-bottom: 6px;

                .logo {
                    .burger {
                        display: inline-block;
                    }

                    a {
                        height: 42px;
                    }
                }
            }

            .nav {
                display: none;
            }
        }

        section.container {
            &.active-menu-mobile {
                &:before {
                    background-color: rgba(0, 0, 0, 0.5);
                    content: '';
                    display: block;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 999;

                }
            }
        }
    }
}

@include bp(max-width, $bp-large) {
    body.sticky {
        header {
            .header {

                .top-container {
                    padding: 10px 10px 0;

                    .logo {
                        text-align: left;

                        a {
                            height: 36px;
                            width: 98px;
                        }
                    }
                }
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    body.sticky {
        header {
            .header {
                display: block;
                max-height: 100%;
                top: 0 !important;

                .top-container {
                    background-color: $lightest-gray-A;
                    margin: 0;
                    padding: 7px 10px;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 99;
                }

                .nav {
                    &.active-menu {
                        position: fixed;
                        top: 50px;
                        width: 100%;
                    }
                }
            }
        }
    }

    section.container {
        &.active-menu-mobile {
            &:before {
                background-color: rgba(0, 0, 0, 0.5);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 999;

            }
        }
    }
}
//<------Sticky

header {
    background-color: $whitest;
    position: relative;
    z-index: 9991;

    .top-header,
    .header .top-container {
        margin: 0 auto;
        max-width: $page-content-size;
        padding: 0 10px;
    }

    .top-header,
    ul.account-mobile {
        padding: 8px 10px 0;
        text-align: right;

        p,
        li {
            display: inline-block;
            font-family: $titillium-web-font-family;
            font-size: 13px;
            font-weight: $font-family-weight-semibold;
            margin: 0 25px 0 0;
            text-transform: capitalize;

            &:last-child {
                margin: 0;
            }

            a {
                color: $dark-gray;
                text-decoration: none;

                .top-icon {
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    height: image-height("header/icons/orders.png") / 2;
                    margin: 0 10px 0 0;
                    vertical-align: middle;

                    &.orders {
                        background-image: url("/arquivos/assets_header_icons_orders.png");
                        width: image-width("header/icons/orders.png") / 2;
                    }

                    &.phone {
                        background-image: url("/arquivos/assets_header_icons_phone.png");
                        width: image-width("header/icons/phone.png") / 2;
                    }
                }
            }
        }
        .login-invisible{
            display: none;
        }
    }

    .header {
        @include transition(top, 0.5s);
        background-color: $whitest;
        top: -50px;

        .top-container {
            margin-bottom: 15px;

            > div {
                display: inline-block;
                vertical-align: middle;
            }

            .burger {
                background-image: url("/arquivos/assets_header_icons_burger.png");
                background-repeat: no-repeat;
                background-size: contain;
                display: none;
                cursor: pointer;
                height: image-height("/header/icons/burger.png") / 2;
                margin: 0 20px 0 0;
                vertical-align: middle;
                width: image-width("/header/icons/burger.png") / 2;

                &.active-menu {
                    background-image: url("/arquivos/assets_header_icons_close.png");
                    height: image-height("/header/icons/close.png") / 2;
                    width: image-width("/header/icons/close.png") / 2;
                }
            }

            .logo {
                width: 21%;

                a {
                    background-image: url("/arquivos/assets_header_logo.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    height: image-height("/header/logo.png") / 2;
                    width: image-width("/header/logo.png") / 2;
                    vertical-align: middle;
                }
            }

            .search {
                width: 58%;

                .busca {
                    legend,
                    label,
                    select {
                        display: none;
                    }

                    .fulltext-search-box {
                        @include border-radius(3px 0 0 3px);
                        border: 1px solid $light-gray;
                        border-right: none;
                        color: $medium-gray;
                        font-family: $titillium-web-font-family;
                        font-size: 15px;
                        font-weight: $font-family-weight-regular;
                        height: 42px;
                        letter-spacing: -0.010em;
                        outline: none;
                        padding: 0 20px;
                        width: calc(100% - 42px);
                    }

                    .btn-buscar {
                        @include border-radius(0 3px 3px 0);
                        background-color: $cherry-red;
                        background-image: url("/arquivos/assets_header_icons_search-icon.png");
                        background-repeat: no-repeat;
                        background-size: 23px 22.5px;
                        background-position: center center;
                        border: none;
                        color: transparent;
                        cursor: pointer;
                        font-size: 15px;
                        height: 42px;
                        width: 42px;
                    }
                }
            }

            .cart {
                text-align: right;
                width: 21%;
                position: relative;

                &.selected {
                    .mini-cart-container {
                        display: block;
                    }
                }

                .btnCart {
                    cursor: pointer;
                    border: none;
                    background: none;
                    vertical-align: middle;
                    outline: none;

                    .title,
                    .amount-items-in-cart {
                        display: inline-block;
                        color: $dark-gray;
                        font-family: $titillium-web-font-family;
                        font-size: 15px;
                        font-weight: $font-family-weight-semibold;
                        vertical-align: middle;
                    }
                }

                .portal-totalizers-ref {
                    display: inline-block;
                    background-image: url("/arquivos/assets_header_icons_cart.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: image-height("/header/icons/cart.png") / 2;
                    margin: 0 25px 0 0;
                    width: image-width("/header/icons/cart.png") / 2;
                    vertical-align: middle;

                    .title,
                    .amount-products,
                    .amount-kits,
                    .total-cart,
                    .amount-items strong {
                        display: none;
                    }

                    .amount-items {
                        @include border-radius(50%);
                        background-color: $cherry-red;
                        color: $whitest;
                        font-family: $titillium-web-font-family;
                        font-size: 13px;
                        font-weight: $font-family-weight-semibold;
                        height: 23px;
                        line-height: 23px;
                        margin: -10px 0 0 19px;
                        text-align: center;
                        width: 23px;

                        @include bp(max-width, $bp-medium){
                            font-size: 11px;
                            height: 18px;
                            line-height: 18px;
                            margin: -7px 0 0 16px;
                            text-align: center;
                            width: 18px;
                            z-index: 50;
                        }
                    }

                    @include bp(max-width, $bp-medium){
                        height: 23px;
                    }
                }

                .mini-cart-container {
                    background-color: $whitest;
                    position: absolute;
                    right: 0;
                    top: 45px;
                    z-index: 99999;
                    display: none;
                    @include box-shadow(0px 0px 6.86px 0.14px rgba(0, 0, 0, 0.4));
                    padding: 0 15px 15px;
                    width: 320px;

                    &:before {
                        content: '';
                        width: 28px;
                        height: 15px;
                        position: absolute;
                        z-index: -1;
                        display: inline-block;
                        @include background-image(radial-gradient(center, ellipse cover, rgba(102, 102, 102, 0.65) 0, rgba(0, 0, 0, 0.03) 10px, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0, 0) 17px));
                        top: -12px;
                        right: 23%;

                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        border-bottom: 10px solid $whitest;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        position: absolute;
                        top: -9px;
                        right: 24%;
                    }

                    @include bp(max-width, $bp-medium){
                        right: -30px;
                        top: 40px;

                        &:before {
                            right: 11%;
                        }

                        &:after {
                            right: 12.5%;
                        }
                    }
                }

                .portal-minicart-ref {

                    .v2-vtexsc-cart.vtexsc-cart {
                        display: block!important;
                        height: auto!important;
                        overflow: visible!important;
                    }
                }

                table.vtexsc-productList {
                    display: block;
                    position: relative;

                    thead {
                        display: none;
                    }

                    .cartSkuImage,
                    .cartSkuName,
                    .cartSkuActions {
                        border-bottom: 1px solid $lightest-gray-A;
                        padding: 20px 10px 20px 0;
                        vertical-align: top;
                    }

                    .cartSkuImage {
                        height: 95px;

                         img {
                             border: none;
                             width: 55px;
                             height: auto;
                         }
                    }

                    .cartSkuName h4 a,
                    .cartSkuPrice,
                    .cartSkuQuantity {
                        text-decoration: none;
                        color: $medium-gray-B;
                        font-size: 14px;
                        line-height: 16px;
                        font-family: $titillium-web-font-family;
                        font-weight: $font-family-weight-regular;

                    }

                    .cartSkuPrice,
                    .cartSkuQuantity {
                        display: block;
                        position: absolute;
                        margin-top: 65px;
                    }

                    .cartSkuName {

                        h4 {
                            a {
                                position: relative;
                                overflow: hidden;
                                height: 34px;
                                display: block;

                                &:after {
                                    content: "";
                                    text-align: right;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
                                }
                            }
                        }
                    }

                    .cartSkuPrice {
                        color: $dark-gray;
                        font-weight: $font-family-weight-semibold;
                        right: 35px;
                    }

                    .cartSkuQuantity {
                        left: 65px;

                        .vtexsc-skuQtt {

                            &:before {
                                content: 'Cant: ';
                            }
                        }

                    }

                    .cartSkuActions {
                        padding-right: 0;
                        vertical-align: middle;

                        a.text {
                            display: block!important;
                            font-size: 0;

                            &:before {
                                content: '';
                                display: block;
                                background: url("/arquivos/assets_checkout_cart_delete-product.png") no-repeat;
                                background-size: contain;
                                width: image-width("/checkout/cart/delete-product.png") / 2;
                                height: image-height("/checkout/cart/delete-product.png") / 2;
                            }
                        }
                    }
                }

                .cartFooter {

                    .cartTotal {
                        font-size: 0;

                        .vtexsc-totalCart {
                            margin-top: 17px;
                            font-size: 20px;
                            color: $dark-gray;
                            font-family: $titillium-web-font-family;
                            font-weight: $font-family-weight-semibold;
                            text-align: left;
                            display: block;

                            &:before {
                                content: 'Subtotal';

                            }

                            .vtexsc-text {
                                float: right;

                                &:after {
                                    clear: both;
                                }
                            }
                        }
                    }

                    a.cartCheckout {
                        text-decoration: none;
                        display: block;

                        &:before {
                            content: 'IR AL CARRITO';
                            color: $whitest;
                            text-transform: uppercase;
                            font-family: $titillium-web-font-family;
                            font-weight: $font-family-weight-semibold;
                            font-size: 15px;
                            display: block;
                            text-align: center;
                            margin-top: 17px;
                            padding: 15px;
                            background-color: $cherry-red;
                            @include border-radius(1px);
                        }
                    }
                }

                @include bp (max-width, $bp-large) {
                    width: 15%;
                }

                @include bp(max-width, $bp-medium){
                    width: 40px;

                    .title {
                        p {
                            display: none;
                        }
                    }
                }
            }
        }

        .nav {
            &.active-menu {
                display: block;
            }

            .nav-container {
                background-color: $nav-background;
                padding: 0 10px;

                nav {
                    margin: 0 auto;
                    max-width: $page-content-size;

                    ul {
                        display: inline-block;
                        width: 74%;

                        @include bp(max-width, $bp-nav-desktop) {
                            width: 70%;
                        }

                        &.right {
                            text-align: right;
                            width: 26%;

                            @include bp(max-width, $bp-nav-desktop) {
                                width: 26%;
                            }

                            li {
                                &:first-child {
                                    a {
                                        display: block;
                                        color: $yellow;
                                    }
                                }
                            }
                        }

                        &.account-mobile {
                            display: none;
                        }

                        li {
                            display: inline-block;
                            padding: 0 2.5%;
                            cursor: pointer;

                            @include bp(max-width, $bp-nav-desktop) {
                                padding: 0 1.5%;

                                &:first-child{
                                    padding: 0 1.5% 0 0;
                                }

                                &:last-child {
                                    padding: 0 0 0 1.5%;
                                }
                            }

                            &:first-child{
                                padding: 0 2.5% 0 0;
                            }

                            &:last-child {
                                padding: 0 0 0 2.5%;
                            }

                            &:hover{
                                .item-menu {
                                        a {
                                            &:before {
                                                @include transform(translateX(-50%));
                                                content: '';
                                                display: inline-block;
                                                border-bottom: 6px solid $whitest;
                                                border-left: 6px solid transparent;
                                                border-right: 6px solid transparent;
                                                left: 50%;
                                                margin: 38px 0 0 0;
                                                position: absolute;
                                            }
                                        }
                                        .sub-nav-container {
                                            display: block;
                                        }
                                }

                                &.no-desplegable {
                                    .item-menu {

                                        a:before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            a {
                                color: $whitest;
                                font-family: $titillium-web-font-family;
                                font-size: 16px;
                                font-weight: $font-family-weight-semibold;
                                line-height: 44px;
                                text-decoration: none;
                                text-transform: uppercase;
                                position: relative;

                                span {
                                    display: inline-block;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    margin: 0 10px 0 0;
                                    vertical-align: sub;

                                    &.sale {
                                        background-image: url("/arquivos/assets_header_icons_sale.png");
                                        height: image-height("/header/icons/sale.png") / 2;
                                        width: image-width("/header/icons/sale.png") / 2;
                                    }

                                    &.launch {
                                        background-image: url("/arquivos/assets_header_icons_launch.png");
                                        height: image-height("/header/icons/launch.png") / 2;
                                        width: image-width("/header/icons/launch.png") / 2;
                                        vertical-align: middle;
                                        margin-top: -3px;
                                    }

                                    &.blog {
                                        background-image: url("/arquivos/assets_header_blog.png");
                                        height: image-height("/header/blog.png") / 2;
                                        width: image-width("/header/blog.png") / 2;
                                        vertical-align: middle;
                                    }
                                }
                            }

                            .sub-nav-container {
                                cursor: default;
                                background-color: $whitest;
                                display: none;
                                left: 0;
                                position: absolute;
                                width: 100%;
                                z-index: 9999;

                                &.active-menu {
                                    display: block;
                                }

                                .sub-nav {
                                    margin: 0 auto;
                                    max-width: $page-content-size;
                                    padding: 40px 0 10px;

                                    > div {
                                        display: inline-block;
                                        vertical-align: top;
                                    }

                                    .menu-seccion {
                                        width: calc(100% - 245px);

                                        .col {
                                            display: inline-block;
                                            margin: 0 30px 0 0;
                                            vertical-align: top;
                                            width: calc(25% - 30px);

                                            ul {
                                                margin-bottom: 20px;
                                                li {
                                                    margin: 5px 0;
                                                    width: 100%;

                                                    a {
                                                        color: $medium-gray;
                                                        font-family: $titillium-web-font-family;
                                                        font-size: 14px;
                                                        font-weight: $font-family-weight-regular;
                                                        line-height: inherit;
                                                        text-decoration: none;
                                                        text-transform: capitalize;

                                                        &:before {
                                                            display: none;
                                                        }
                                                    }

                                                    &.parent {
                                                        border-bottom: 1px solid $light-gray;
                                                        margin: 0 0 10px 0;
                                                        padding: 0 0 10px 0;

                                                        a {
                                                            color: $dark-gray;
                                                            font-size: 15px;
                                                            font-weight: $font-family-weight-semibold;

                                                            @include bp(min-width, $bp-large) {
                                                                &:first-child{
                                                                    width: 110px;
                                                                    display:inline-block;
                                                                    white-space:nowrap;
                                                                    overflow:hidden;
                                                                    &:after{
                                                                        content: " ";
                                                                        text-align: right;
                                                                        position: absolute;
                                                                        bottom: 0;
                                                                        right: 0;
                                                                        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
                                                                        width: 10%;
                                                                        height: 15px;
                                                                    }
                                                                }
                                                            }

                                                            &.see-all {
                                                                color: $cherry-red;
                                                                font-size: 13px;
                                                                font-weight: $font-family-weight-regular;
                                                                float: right;
                                                                padding: 2px 0 0;

                                                                &:after {
                                                                    content: '';
                                                                    display: inline-block;
                                                                    background-image: url("/arquivos/assets_header_icons_arrow.png");
                                                                    background-repeat: no-repeat;
                                                                    background-size: contain;
                                                                    height: image-height("/header/icons/arrow.png") / 2;
                                                                    margin: 0 0 0 6px;
                                                                    vertical-align: middle;
                                                                    width: image-width("/header/icons/arrow.png") / 2;
                                                                }
                                                            }
                                                        }

                                                        &:hover {
                                                            a {
                                                                color: $cherry-red;

                                                                &.see-all {
                                                                    font-weight: $font-family-weight-semibold;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    &.sale a,
                                                    &.more-sold a {
                                                        font-size: 15px;
                                                        font-weight: $font-family-weight-semibold;

                                                        &:before {
                                                            border: none;
                                                            background-size: contain;
                                                            content: '';
                                                            display: inline-block;
                                                            margin: 0 -2px 0 10px;
                                                            position: static;
                                                            vertical-align: sub;
                                                        }
                                                    }

                                                    &.sale {
                                                        a {
                                                            color: $cherry-red;

                                                            &:before {
                                                                background-image: url("/arquivos/assets_header_icons_sale-menu.png");
                                                                height: image-height("/header/icons/sale-menu.png") / 2;
                                                                width: image-width("/header/icons/sale-menu.png") / 2;
                                                            }
                                                        }
                                                    }

                                                    &.more-sold {
                                                        margin: 25px 0 0 0;

                                                        a {
                                                            color: $dark-gray;

                                                            &:before {
                                                                background-image: url("/arquivos/assets_header_icons_more-sold.png");
                                                                height: image-height("/header/icons/more-sold.png") / 2;
                                                                width: image-width("/header/icons/more-sold.png") / 2;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            &:last-child {
                                                ul {
                                                    &:first-child {
                                                        margin: 0 0 25px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .product-seccion {
                                        width: 245px;

                                        a {
                                            &:before {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    @include bp(max-width, $bp-xlarge) {
        @include bp(min-width, $bp-large + 1) {
            .nav {
                .nav-container {
                    nav {
                        ul .right li {

                            &:first-child{
                                padding: 0;
                            }

                        }

                        ul li {
                            padding: 0 1.25%;

                            &:first-child{
                                padding: 0 1.25% 0 0;
                            }

                            &:last-child {
                                padding: 0 0 0 1.25%;
                            }

                            a {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    @include bp (max-width, $bp-large) {
        .top-header {
            display: none;
        }

        .header {
            .top-container {
                margin-bottom: 0;
                padding: 8px 10px;

                .burger {
                    display: inline-block;
                    margin: 0 20px 0 10px;
                }

                .logo {
                    width: 30%;

                    a {
                        height: 45px;
                    }
                }

                .search {
                    width: 55%;
                }
            }

            .nav {
                display: none;

                .nav-container {
                    padding: 0;

                    nav {
                        ul {
                            width: 100%;

                            li {
                                border-bottom: 1px solid $medium-gray;
                                display: block;
                                margin: 0;
                                padding: 0 10px 0 20px;
                                position: relative;

                                &:first-child{
                                    padding: 0 10px 0 20px;
                                }

                                &:last-child{
                                    padding: 0 10px 0 20px;
                                }

                                &.no-desplegable {
                                    .item-menu {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }

                                .item-menu {
                                    &:after {
                                        background-image: url("/arquivos/assets_header_icons_arrow-white.png");
                                        background-size: contain;
                                        content: '';
                                        display: inline-block;
                                        height: image-height("/header/icons/arrow-white.png") / 2;
                                        position: absolute;
                                        right: 12px;
                                        top: 18px;
                                        width: image-width("/header/icons/arrow-white.png") / 2;
                                    }

                                    &:hover {
                                        .sub-nav-container {
                                            display: none;
                                        }
                                    }

                                    &.show-submenu {
                                        &:after {
                                            @include transform(rotate(180deg));
                                        }

                                        .sub-nav-container {
                                            display: block;
                                        }
                                    }

                                    a {
                                        font-size: 13px;

                                        &:before {
                                            display: none !important;
                                        }
                                    }

                                    .sub-nav-container {
                                        background-color: $nav-background;
                                        position: relative;
                                        z-index: 0;

                                        .sub-nav {
                                            .menu-seccion {
                                                width: 100%;

                                                h3 {
                                                    display: none;
                                                }

                                                .col {
                                                    display: block;
                                                    padding-left: 25px;
                                                    width: 100%;

                                                    ul {
                                                        width: 100%;
                                                        li {
                                                            &:not(.parent) {
                                                                display: none;
                                                            }

                                                            &.parent {
                                                                border: none;

                                                                &:after {
                                                                    display: none;
                                                                }

                                                                a {
                                                                    color: $whitest;
                                                                    font-size: 13px;

                                                                    &.see-all {
                                                                        display: none;
                                                                    }
                                                                }
                                                            }
                                                            &.sale,
                                                            &.more-sold {
                                                                border: none;
                                                                color: $whitest;
                                                                display: block;
                                                                margin: 0 0 10px 0;
                                                                padding: 0 0 10px 0;

                                                                &:after {
                                                                    display: none;
                                                                }

                                                                a {
                                                                    color: $whitest;
                                                                    font-size: 13px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .product-seccion {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }

                            &.right {
                                float: none;
                                text-align: left;
                                width: 100%;

                                li {
                                    &:after {
                                        display: none;
                                    }

                                    a {
                                        font-size: 13px;

                                        .sale {
                                            height: 20px;
                                            width: 20px;
                                        }

                                        .launch {
                                            height: 23px;
                                            width: 23px;
                                        }

                                        span {
                                            &.blog {
                                                background-image: url("/arquivos/assets_header_blogMobile.png");
                                            }
                                        }
                                    }
                                }
                            }

                            &.account-mobile {
                                background-color: $whitest;
                                display: block;
                                padding: 0;
                                text-align: left;

                                li {
                                    a {
                                        color: $dark-gray;
                                        font-size: 13px;
                                        text-transform: capitalize;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Mobile----->>
    @include bp(max-width, $bp-medium) {
        .header {
            position: relative;
            top: 0;
            width: 100%;
            z-index: 9991;

            .top-container {
                margin: 0;
                padding: 10px;
                background-color: $lightest-gray-A;

                .logo {
                    text-align: left;
                    width: calc(100% - 90px);

                    a {
                        height: 36px;
                        width: 98px;
                    }
                }

                .search {
                    width: 30px;

                    &.active-search {
                        .mobile-icon {
                            &:after {
                                border-bottom: 6px solid $nav-background;
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                content: '';
                                display: block;
                                margin: 0 0 0 6px;
                                position: absolute;
                                top: 44px;
                            }
                        }

                        .busca {
                            display: block;
                        }
                    }

                    .mobile-icon {
                        background-image: url("/arquivos/assets_header_icons_search-mobile.png");
                        background-size: contain;
                        cursor: pointer;
                        display: inline-block;
                        height: image-height("/header/icons/search-mobile.png") / 2;
                        width: image-width("/header/icons/search-mobile.png") / 2;

                    }

                    .busca {
                        background-color: $nav-background;
                        display: none;
                        left: -5px;
                        margin: 0 0 0 5px;
                        padding: 8px 10px;
                        position: absolute;
                        top: 50px;
                        width: 100%;
                        z-index: 999;

                    }
                }
            }
        }
    }
}

//Body Shadow----->>
section.container,
section.main-container {
    &.active-menu {
        &:before {
            background-color: rgba(0, 0, 0, 0.5);
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;

        }
    }
}
//----->>Modal Login
#vtexIdContainer {
    .vtexIdUI {
        .modal-header {
            .close {
                display: block !important;
                right: 8px !important;
                top: 8px !important;
            }
        }
    }
}