.pre-header {
    position: relative;
    text-align: center;
    z-index: 9991;

    .box-banner {
        text-align: center;

        &.mobile {
            display: none;
        }

        img {
            max-height: 64px;
            max-width: 100%;
        }
    }
}

/*----MOBILE----*/
@include bp(max-width, $bp-medium) {
    .pre-header {
        .box-banner {
            margin: 0 auto;
            max-width: 1040px;

            &.desktop {
                display: none;
            }

            &.mobile {
                display: block;
            }
        }
    }
}
