.ui-autocomplete {
    @include border-radius(0 0 3px 3px);
    background-color: $whitest;
    border: 1px solid $light-gray;
    border-top: none;
    cursor: pointer;
    max-width: 690px;
    padding: 0 10px 10px;

    @include bp(max-width, $bp-medium) {
        padding: 10px;
    }

    li {
        a {
            color: $medium-gray;
            font-family: $titillium-web-font-family;
            font-size: 12px;

            img {
                margin: 0 5px 0 0;
                vertical-align: middle;
            }
        }
    }
}