<div class="post-footer">
    <div class="post-footer-container">
        <div class="logos">
            <div class="logo sps"></div>
            <div class="logo vtex"></div>
            <div class="logo summa"></div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2017. Todos los derechos reservados.</p>
        </div>
    </div>
</div>