<link rel="stylesheet" href="/files/vtexcarriers.css" />

<div class="header">
    <div class="top-container">
        <div class="center">
            <div class="logo"><a href="/"><img src="/arquivos/assets_header_logo.png"></a></div>
        </div>
    </div>
</div>